Repository Decathlon/vitamin-web, pull requests merged in 2021-06, with the labels that each got.

#304 refactor(@vtmn/css-button): add icons
  packages/showcases/css/stories/components/button/examples/conversion.html
  packages/showcases/css/stories/components/button/examples/ghost.html
  packages/showcases/css/stories/components/button/examples/overview.html
  packages/showcases/css/stories/components/button/examples/primary-reversed.html
  packages/showcases/css/stories/components/button/examples/primary.html
  packages/showcases/css/stories/components/button/examples/secondary-reversed.html
  packages/showcases/css/stories/components/button/examples/secondary.html
  packages/sources/css/src/components/button/src/index.css
Labels: CSS 🎨, enhancement 🚀, icons ✨

#315 feat(@vtmn/css): add focus-visible
  packages/showcases/css/stories/components/button/examples/conversion.html
  packages/showcases/css/stories/components/button/examples/ghost.html
  packages/showcases/css/stories/components/button/examples/overview.html
  packages/showcases/css/stories/components/button/examples/primary-reversed.html
  packages/showcases/css/stories/components/button/examples/primary.html
  packages/showcases/css/stories/components/button/examples/secondary-reversed.html
  packages/showcases/css/stories/components/button/examples/secondary.html
  packages/sources/css/src/components/button/src/index.css
  packages/sources/css/src/components/checkbox/src/index.css
  packages/sources/css/src/components/link/src/index.css
  packages/sources/css/src/components/radio-button/src/index.css
  packages/sources/css/src/components/text-input/src/index.css
  packages/sources/css/src/components/toggle/src/index.css
Labels: CSS 🎨, enhancement 🚀

#351 fix(@vtmn/css-link): refacto standalone + inline links styles
  packages/showcases/css/stories/components/link/examples/large.html
  packages/showcases/css/stories/components/link/examples/medium.html
  packages/showcases/css/stories/components/link/examples/overview.html
  packages/showcases/css/stories/components/link/examples/small.html
  packages/sources/css/src/components/link/src/index.css
Labels: CSS 🎨, bug 🐛

#339 refactor(@vtmn/css-button): rework showcase
  packages/showcases/css/stories/components/button/examples/conversion.html
  packages/showcases/css/stories/components/button/examples/ghost.html
  packages/showcases/css/stories/components/button/examples/overview.html
  packages/showcases/css/stories/components/button/examples/primary-reversed.html
  packages/showcases/css/stories/components/button/examples/primary.html
  packages/showcases/css/stories/components/button/examples/secondary-reversed.html
  packages/showcases/css/stories/components/button/examples/secondary.html
Labels: CSS 🎨, enhancement 🚀

#352 ci(sources/css): add unreset bundles' build
  packages/sources/css/config/tailwind/tailwind.config.js
  packages/sources/css/package.json
Labels: CSS 🎨, enhancement 🚀

#343 fix(@vtmn/web-components): change public reserved name of id attribute for toggle and text input components
  packages/showcases/web-components/stories/components/vtmn-text-input/vtmn-text-input.stories.tsx
  packages/showcases/web-components/stories/components/vtmn-toggle/vtmn-toggle.stories.tsx
  packages/sources/web-components/src/components.d.ts
  packages/sources/web-components/src/components/vtmn-text-input/README.md
  packages/sources/web-components/src/components/vtmn-text-input/vtmn-text-input.tsx
  packages/sources/web-components/src/components/vtmn-toggle/README.md
  packages/sources/web-components/src/components/vtmn-toggle/vtmn-toggle.tsx
Labels: Web Components ⚫️, enhancement 🚀

#350 fix(@vtmn/css-checkbox): bug fixes + improvements
  packages/showcases/css/stories/components/checkbox/checkbox.stories.js
  packages/showcases/css/stories/components/checkbox/examples/indeterminate.html
  packages/showcases/css/stories/components/checkbox/examples/overview.html
  packages/sources/css/src/components/checkbox/src/index.css
Labels: CSS 🎨, bug 🐛, enhancement 🚀

#314 feat(text-input): add icon for react
  packages/showcases/react/stories/components/VtmnTextInput/VtmnTextInput.stories.tsx
  packages/sources/react/src/components/VtmnTextInput/VtmnTextInput.tsx
Labels: React 🔵, enhancement 🚀

#342 feat(@vtmn/web-components): add checkbox component
  packages/showcases/web-components/stories/components/vtmn-checkbox/vtmn-checkbox.stories.tsx
  packages/sources/web-components/src/components.d.ts
  packages/sources/web-components/src/components/vtmn-button/vtmn-button.tsx
  packages/sources/web-components/src/components/vtmn-checkbox/README.md
  packages/sources/web-components/src/components/vtmn-checkbox/vtmn-checkbox.pcss
  packages/sources/web-components/src/components/vtmn-checkbox/vtmn-checkbox.tsx
  packages/sources/web-components/src/components/vtmn-link/vtmn-link.tsx
  packages/sources/web-components/src/components/vtmn-text-input/vtmn-text-input.tsx
  packages/sources/web-components/src/components/vtmn-toggle/vtmn-toggle.tsx
Labels: Web Components ⚫️, enhancement 🚀

#361 refactor(@vtmn/css-radio-button): change radio to match checkbox css structure
  packages/sources/css/src/components/radio-button/src/index.css
Labels: CSS 🎨, enhancement 🚀

#363 feat(@vtmn/vue): add checkbox component
  packages/showcases/vue/stories/VtmnCheckbox/VtmnCheckbox.stories.js
  packages/sources/css/src/components/checkbox/src/index.css
  packages/sources/vue/src/components/VtmnCheckbox/VtmnCheckbox.vue
  packages/sources/vue/src/components/VtmnCheckbox/index.ts
Labels: Vue 🟢, enhancement 🚀

#369 fix(@vtmn/css-textinput): add resize property
  packages/sources/css/src/components/text-input/src/index.css
Labels: CSS 🎨, enhancement 🚀

#358 feat(@vtmn/vue): add link component
  packages/showcases/vue/stories/VtmnLink/VtmnLink.stories.js
  packages/sources/vue/package.json
  packages/sources/vue/src/components/VtmnLink/VtmnLink.vue
  packages/sources/vue/src/components/VtmnLink/index.ts
Labels: Vue 🟢, enhancement 🚀

#367 refactor(@vtmn/svelte & @vtmn/react & @vtmn/web-components): rename attribute + add logic for icon
  packages/showcases/core/src/components/VtmnLink.csf.js
  packages/showcases/web-components/stories/components/vtmn-link/vtmn-link.stories.tsx
  packages/sources/react/src/components/VtmnLink/VtmnLink.tsx
  packages/sources/svelte/src/components/VtmnLink.svelte
  packages/sources/web-components/src/components.d.ts
  packages/sources/web-components/src/components/vtmn-link/README.md
  packages/sources/web-components/src/components/vtmn-link/vtmn-link.tsx
Labels: React 🔵, Svelte 🟠, Web Components ⚫️, enhancement 🚀

#368 refactor(@vtmn/web-components): rename attribute + add icon select for text input
  packages/showcases/web-components/stories/components/vtmn-text-input/vtmn-text-input.stories.tsx
  packages/sources/web-components/src/components.d.ts
  packages/sources/web-components/src/components/vtmn-text-input/README.md
  packages/sources/web-components/src/components/vtmn-text-input/vtmn-text-input.tsx
Labels: Web Components ⚫️, enhancement 🚀

#359 feat(@vtmn/vue): add text input component
  packages/showcases/vue/.storybook/preview.js
  packages/showcases/vue/stories/VtmnTextInput/VtmnTextInput.stories.js
  packages/sources/vue/src/components/VtmnTextInput/VtmnTextInput.vue
  packages/sources/vue/src/components/VtmnTextInput/index.ts
  packages/sources/vue/src/components/index.ts
Labels: Vue 🟢, enhancement 🚀

#379 fix(@vtmn/css): no more hover effect over focus-visible state (checkbox/radio)
  packages/sources/css/src/components/checkbox/src/index.css
  packages/sources/css/src/components/radio-button/src/index.css
Labels: CSS 🎨, enhancement 🚀

#383 feat(@vtmn/vue): add toggle component
  packages/showcases/vue/stories/VtmnToggle/VtmnToggle.stories.js
  packages/sources/vue/src/components/VtmnToggle/VtmnToggle.vue
  packages/sources/vue/src/components/VtmnToggle/index.ts
Labels: Vue 🟢, enhancement 🚀

#384 feat(@vtmn/react): add checkbox component
  packages/showcases/react/stories/components/VtmnCheckbox/VtmnCheckbox.stories.tsx
  packages/sources/react/src/components/VtmnCheckbox/VtmnCheckbox.tsx
  packages/sources/react/src/components/VtmnCheckbox/index.ts
  packages/sources/react/src/index.ts
Labels: React 🔵, enhancement 🚀

#378 feat(@vtmn/css): improvements (text input)
  packages/showcases/css/stories/components/text-input/examples/disabled.html
  packages/showcases/css/stories/components/text-input/examples/error.html
  packages/showcases/css/stories/components/text-input/examples/multiline.html
  packages/showcases/css/stories/components/text-input/examples/overview.html
  packages/showcases/css/stories/components/text-input/examples/valid.html
  packages/sources/css/src/components/text-input/src/index.css
Labels: CSS 🎨, enhancement 🚀
