Repository Decathlon/vitamin-web, pull requests merged in 2021-07, with the labels that each got.

#387 refactor: align naming between libraries
  package.json
  packages/showcases/core/csf/components/VtmnButton.csf.js
  packages/showcases/core/csf/components/VtmnCheckbox.csf.js
  packages/showcases/core/csf/components/VtmnIcon.csf.js
  packages/showcases/core/csf/components/VtmnLink.csf.js
  packages/showcases/core/csf/components/VtmnRadioButton.csf.js
  packages/showcases/core/csf/components/VtmnTextInput.csf.js
  packages/showcases/core/csf/components/VtmnToggle.csf.js
  packages/showcases/core/package.json
  packages/showcases/core/scripts/index-generator.js
  packages/showcases/core/src/components/VtmnLink.csf.js
  packages/showcases/css/stories/components/button/button.stories.js
  packages/showcases/css/stories/components/checkbox/checkbox.stories.js
  packages/showcases/css/stories/components/link/link.stories.js
  packages/showcases/css/stories/components/radio-button/radio-button.stories.js
  packages/showcases/css/stories/components/text-input/text-input.stories.js
  packages/showcases/css/stories/components/toggle/toggle.stories.js
  packages/showcases/css/stories/guidelines/typography/typography.stories.js
  packages/showcases/react/stories/components/VtmnButton/VtmnButton.stories.tsx
  packages/showcases/react/stories/components/VtmnCheckbox/VtmnCheckbox.stories.tsx
  packages/showcases/react/stories/components/VtmnIcon/VtmnIcon.stories.tsx
  packages/showcases/react/stories/components/VtmnLink/VtmnLink.stories.tsx
  packages/showcases/react/stories/components/VtmnRadioButton/VtmnRadioButton.stories.tsx
  packages/showcases/react/stories/components/VtmnTextInput/VtmnTextInput.stories.tsx
  packages/showcases/react/stories/components/VtmnToggle/VtmnToggle.stories.tsx
  packages/showcases/svelte/stories/components/VtmnButton/VtmnButton.stories.js
  packages/showcases/svelte/stories/components/VtmnButton/VtmnButtonView.svelte
  packages/showcases/svelte/stories/components/VtmnLink/VtmnLink.stories.js
  packages/showcases/svelte/stories/components/VtmnLink/VtmnLinkView.svelte
  packages/showcases/svelte/stories/components/VtmnTextInput/VtmnTextInput.stories.js
  packages/showcases/svelte/stories/components/VtmnTextInput/VtmnTextInputView.svelte
  packages/showcases/vue/stories/VtmnButton/VtmnButton.stories.js
  packages/showcases/vue/stories/VtmnCheckbox/VtmnCheckbox.stories.js
  packages/showcases/vue/stories/VtmnLink/VtmnLink.stories.js
  packages/showcases/vue/stories/VtmnRadioButton/VtmnRadioButton.stories.js
  packages/showcases/vue/stories/VtmnTextInput/VtmnTextInput.stories.js
  packages/showcases/vue/stories/VtmnToggle/VtmnToggle.stories.js
  packages/showcases/web-components/stories/components/vtmn-button/vtmn-button.stories.tsx
  packages/showcases/web-components/stories/components/vtmn-checkbox/vtmn-checkbox.stories.tsx
  packages/showcases/web-components/stories/components/vtmn-link/vtmn-link.stories.tsx
  packages/showcases/web-components/stories/components/vtmn-radio-button/vtmn-radio-button.stories.tsx
  packages/showcases/web-components/stories/components/vtmn-text-input/vtmn-text-input.stories.tsx
  packages/showcases/web-components/stories/components/vtmn-toggle/vtmn-toggle.stories.tsx
  packages/sources/react/src/components/VtmnIcon/VtmnIcon.tsx
  packages/sources/react/src/components/VtmnRadioButton/VtmnRadioButton.tsx
  packages/sources/react/src/components/VtmnToggle/VtmnToggle.tsx
  packages/sources/svelte/src/components/VtmnButton.svelte
  packages/sources/svelte/src/components/VtmnLink.svelte
  packages/sources/svelte/src/components/VtmnTextInput.svelte
  packages/sources/web-components/src/components.d.ts
  packages/sources/web-components/src/components/vtmn-checkbox/README.md
  packages/sources/web-components/src/components/vtmn-checkbox/vtmn-checkbox.tsx
Labels: CSS 🎨, React 🔵, Svelte 🟠, Vue 🟢, Web Components ⚫️, enhancement 🚀

#409 refactor(@vtmn/css): add bold font weight for standalone + harmonize …
  packages/sources/css/src/components/link/src/index.css
Labels: CSS 🎨, enhancement 🚀

#317 feat(@vtmn/css): add badge component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  packages/showcases/core/csf/components/VtmnBadge.csf.js
  packages/showcases/core/src/components/VtmnLink.csf.js
  packages/showcases/css/stories/components/badge/badge.stories.js
  packages/showcases/css/stories/components/badge/examples/accent.html
  packages/showcases/css/stories/components/badge/examples/brand.html
  packages/showcases/css/stories/components/badge/examples/default.html
  packages/showcases/css/stories/components/badge/examples/overview.html
  packages/showcases/css/stories/components/badge/examples/reversed.html
  packages/sources/css/src/components/badge/CHANGELOG.md
  packages/sources/css/src/components/badge/README.md
  packages/sources/css/src/components/badge/package.json
  packages/sources/css/src/components/badge/postcss.config.js
  packages/sources/css/src/components/badge/sonar-project.properties
  packages/sources/css/src/components/badge/src/index.css
  packages/sources/css/src/index.css
Labels: CSS 🎨, enhancement 🚀

#410 feat(@vtmn/web-components): add badge component
  packages/showcases/core/csf/components/VtmnBadge.csf.js
  packages/showcases/css/stories/components/badge/examples/accent.html
  packages/showcases/css/stories/components/badge/examples/brand.html
  packages/showcases/css/stories/components/badge/examples/default.html
  packages/showcases/css/stories/components/badge/examples/overview.html
  packages/showcases/css/stories/components/badge/examples/reversed.html
  packages/showcases/web-components/stories/components/vtmn-badge/vtmn-badge.stories.tsx
  packages/sources/css/src/components/badge/src/index.css
  packages/sources/web-components/src/components.d.ts
  packages/sources/web-components/src/components/vtmn-badge/README.md
  packages/sources/web-components/src/components/vtmn-badge/vtmn-badge.pcss
  packages/sources/web-components/src/components/vtmn-badge/vtmn-badge.tsx
Labels: CSS 🎨, Web Components ⚫️, enhancement 🚀

#458 feat(@vtmn/css): add variable for disabled state opacity
  packages/sources/css/src/components/badge/src/index.css
  packages/sources/css/src/components/button/src/index.css
  packages/sources/css/src/components/checkbox/src/index.css
  packages/sources/css/src/components/link/src/index.css
  packages/sources/css/src/components/radio-button/src/index.css
  packages/sources/css/src/components/text-input/src/index.css
  packages/sources/css/src/components/toggle/src/index.css
  packages/sources/css/src/design-tokens/src/index.css
  packages/sources/css/src/design-tokens/src/opacities.css
  packages/sources/css/src/utilities/src/index.css
Labels: CSS 🎨, React 🔵, Svelte 🟠, Vue 🟢, Web Components ⚫️, enhancement 🚀

#454 feat(@vtmn/react @vtmn/vue @vtmn/svelte): correct multiline states and helper texts
  packages/showcases/core/csf/components/VtmnTextInput.csf.js
  packages/sources/react/src/components/VtmnTextInput/VtmnTextInput.tsx
  packages/sources/svelte/src/components/VtmnLink.svelte
  packages/sources/svelte/src/components/VtmnTextInput.svelte
  packages/sources/vue/src/components/VtmnTextInput/VtmnTextInput.vue
  packages/sources/web-components/src/components/vtmn-text-input/vtmn-text-input.tsx
Labels: React 🔵, Svelte 🟠, Vue 🟢, enhancement 🚀

#459 refactor: remove unused devDependencies
  package.json
  packages/showcases/css/package.json
  packages/showcases/vue/package.json
  packages/sources/css/config/postcss/package.json
  packages/sources/css/config/tailwind/package.json
  packages/sources/react/package.json
  packages/sources/svelte/package.json
  packages/sources/vue/package.json
  packages/sources/web-components/package.json
  yarn.lock
Labels: config 🛠

#462 refactor(@vtmn/css-text-input): fix appearance
  packages/sources/css/src/components/text-input/src/index.css
Labels: CSS 🎨, bug 🐛

#451 feat(@vtmn/css): add select component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  README.md
  packages/showcases/css/stories/components/select/examples/disabled.html
  packages/showcases/css/stories/components/select/examples/error.html
  packages/showcases/css/stories/components/select/examples/overview.html
  packages/showcases/css/stories/components/select/select.stories.js
  packages/sources/css/src/components/select/CHANGELOG.md
  packages/sources/css/src/components/select/README.md
  packages/sources/css/src/components/select/package.json
  packages/sources/css/src/components/select/postcss.config.js
  packages/sources/css/src/components/select/sonar-project.properties
  packages/sources/css/src/components/select/src/index.css
  packages/sources/css/src/index.css
Labels: CSS 🎨, enhancement 🚀

#411 refactor(@vtmn/css): apply new styles for button component
  packages/showcases/css/stories/components/button/button.stories.js
  packages/showcases/css/stories/components/button/examples/ghost-reversed.html
  packages/showcases/css/stories/components/button/examples/tertiary.html
  packages/sources/css/src/components/button/src/index.css
  packages/sources/css/src/design-tokens/src/colors.css
Labels: CSS 🎨

#463 refactor: button components props
  packages/showcases/core/csf/components/VtmnButton.csf.js
  packages/sources/react/src/components/VtmnButton/types.ts
  packages/sources/svelte/src/components/VtmnButton.svelte
  packages/sources/vue/src/components/VtmnButton/VtmnButton.vue
  packages/sources/web-components/src/components.d.ts
  packages/sources/web-components/src/components/vtmn-button/README.md
  packages/sources/web-components/src/components/vtmn-button/vtmn-button.tsx
  yarn.lock
Labels: CSS 🎨, bug 🐛

#466 docs(@vtmn/react): rename icon component to vtmn icon in documentation
  packages/sources/react/src/components/VtmnIcon/VtmnIcon.tsx
Labels: React 🔵, bug 🐛, documentation 📝

#465 feat(@vtmn/web-components): add badge component
  packages/showcases/react/stories/components/VtmnBadge/VtmnBadge.stories.tsx
  packages/sources/react/src/components/VtmnBadge/VtmnBadge.tsx
  packages/sources/react/src/components/VtmnBadge/index.ts
  packages/sources/react/src/components/VtmnBadge/types.ts
  packages/sources/react/src/index.ts
  packages/sources/web-components/src/components/vtmn-badge/vtmn-badge.tsx
Labels: CSS 🎨, enhancement 🚀

#483 refactor(vtmn/css): select component classes
  packages/showcases/css/stories/components/select/examples/disabled.html
  packages/showcases/css/stories/components/select/examples/error.html
  packages/showcases/css/stories/components/select/examples/overview.html
  packages/sources/css/src/components/select/src/index.css
Labels: CSS 🎨
