Repository Decathlon/vitamin-web, pull requests merged in 2021-08, with the labels that each got.

#493 feat(@vtmn/icons): change default display of vtmx sprites
  packages/sources/icons/src/templates/css.hbs
Labels: CSS 🎨, enhancement 🚀

#468 feat(@vtmn/css): add tooltip component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  README.md
  packages/showcases/css/stories/components/tooltip/examples/overview.html
  packages/showcases/css/stories/components/tooltip/tooltip.stories.js
  packages/sources/css/src/components/tooltip/CHANGELOG.md
  packages/sources/css/src/components/tooltip/README.md
  packages/sources/css/src/components/tooltip/package.json
  packages/sources/css/src/components/tooltip/postcss.config.js
  packages/sources/css/src/components/tooltip/sonar-project.properties
  packages/sources/css/src/components/tooltip/src/index.css
  packages/sources/css/src/design-tokens/src/index.css
  packages/sources/css/src/design-tokens/src/shadows.css
  packages/sources/css/src/index.css
Labels: CSS 🎨, enhancement 🚀

#467 fix(@vtmn/react): fix the checked state
  packages/sources/react/src/components/VtmnCheckbox/VtmnCheckbox.tsx
  packages/sources/react/src/components/VtmnRadioButton/VtmnRadioButton.tsx
  packages/sources/react/src/components/VtmnToggle/VtmnToggle.tsx
Labels: React 🔵, bug 🐛

#481 feat(@vtmn/css): add popover component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  README.md
  packages/showcases/css/stories/components/popover/examples/overview.html
  packages/showcases/css/stories/components/popover/popover.stories.js
  packages/sources/css/src/components/popover/CHANGELOG.md
  packages/sources/css/src/components/popover/README.md
  packages/sources/css/src/components/popover/package.json
  packages/sources/css/src/components/popover/postcss.config.js
  packages/sources/css/src/components/popover/sonar-project.properties
  packages/sources/css/src/components/popover/src/index.css
  packages/sources/css/src/components/tooltip/src/index.css
  packages/sources/css/src/index.css
  yarn.lock
Labels: CSS 🎨, enhancement 🚀

#497 feat(@vtmn/css): add loader component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  README.md
  packages/showcases/css/stories/components/loader/examples/overview.html
  packages/showcases/css/stories/components/loader/loader.stories.js
  packages/sources/css/src/components/loader/CHANGELOG.md
  packages/sources/css/src/components/loader/README.md
  packages/sources/css/src/components/loader/package.json
  packages/sources/css/src/components/loader/postcss.config.js
  packages/sources/css/src/components/loader/sonar-project.properties
  packages/sources/css/src/components/loader/src/index.css
  packages/sources/css/src/index.css
Labels: enhancement 🚀, CSS 🎨

#512 fix(@vtmn/css-popover): change showcase for a better mobile experience
  packages/showcases/css/stories/components/popover/examples/overview.html
Labels: enhancement 🚀, CSS 🎨

#513 feat(@vtmn/css-popover & @vtmn/css-tooltip): change showcase for a better global experience
  packages/showcases/css/stories/components/tooltip/examples/overview.html
  packages/sources/css/src/components/popover/src/index.css
  packages/sources/css/src/components/tooltip/src/index.css
  packages/sources/css/src/design-tokens/src/animations.css
  packages/sources/css/src/design-tokens/src/index.css
Labels: enhancement 🚀, CSS 🎨

#515 refactor(@vtmn/web-components): allow theming for Web Components
  packages/showcases/css/.storybook/preview-head.html
  packages/showcases/web-components/.storybook/preview-body.html
  packages/showcases/web-components/.storybook/preview-head.html
  packages/showcases/web-components/.storybook/preview.js
  packages/showcases/web-components/package.json
  packages/sources/web-components/README.md
  packages/sources/web-components/package.json
  packages/sources/web-components/src/components/vtmn-badge/vtmn-badge.pcss
  packages/sources/web-components/src/components/vtmn-button/vtmn-button.pcss
  packages/sources/web-components/src/components/vtmn-checkbox/vtmn-checkbox.pcss
  packages/sources/web-components/src/components/vtmn-link/vtmn-link.pcss
  packages/sources/web-components/src/components/vtmn-radio-button/vtmn-radio-button.pcss
  packages/sources/web-components/src/components/vtmn-text-input/vtmn-text-input.pcss
  packages/sources/web-components/src/components/vtmn-toggle/vtmn-toggle.pcss
  packages/sources/web-components/stencil.config.ts
Labels: enhancement 🚀, Web Components ⚫️

#514 refactor(@vtmn/react): allow theming for React
  packages/showcases/react/.storybook/preview-body.html
  packages/showcases/react/.storybook/preview-head.html
  packages/showcases/react/.storybook/preview.js
  packages/sources/react/rollup.config.js
  packages/sources/react/src/components/VtmnBadge/VtmnBadge.tsx
  packages/sources/react/src/components/VtmnButton/VtmnButton.tsx
  packages/sources/react/src/components/VtmnCheckbox/VtmnCheckbox.tsx
  packages/sources/react/src/components/VtmnLink/VtmnLink.tsx
  packages/sources/react/src/components/VtmnRadioButton/VtmnRadioButton.tsx
  packages/sources/react/src/components/VtmnTextInput/VtmnTextInput.tsx
  packages/sources/react/src/components/VtmnToggle/VtmnToggle.tsx
Labels: enhancement 🚀, React 🔵
