Repository Decathlon/vitamin-web, pull requests merged in 2021-11, with the labels that each got.

#708 docs(@vtmn/react): expose types
  packages/sources/react/src/index.ts
Labels: enhancement 🚀, React 🔵

#730 feat(@vtmn/css): add chip component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  README.md
  packages/showcases/css/stories/components/chip/chip.stories.js
  packages/showcases/css/stories/components/chip/examples/action.html
  packages/showcases/css/stories/components/chip/examples/filter.html
  packages/showcases/css/stories/components/chip/examples/input.html
  packages/showcases/css/stories/components/chip/examples/overview.html
  packages/showcases/css/stories/components/chip/examples/single-choice.html
  packages/sources/css/src/components/badge/src/index.css
  packages/sources/css/src/components/card/src/index.css
  packages/sources/css/src/components/chip/CHANGELOG.md
  packages/sources/css/src/components/chip/README.md
  packages/sources/css/src/components/chip/build.js
  packages/sources/css/src/components/chip/package.json
  packages/sources/css/src/components/chip/postcss.config.js
  packages/sources/css/src/components/chip/sonar-project.properties
  packages/sources/css/src/components/chip/src/index.css
  packages/sources/css/src/components/index.css
  packages/sources/css/src/components/text-input/src/index.css
  packages/sources/css/src/index.css
  workspace.json
  yarn.lock
Labels: enhancement 🚀, CSS 🎨

#748 refactor(@vtmn/react): VtmnTooltipPosition props from enum to type
  packages/showcases/react/stories/components/VtmnTooltip/VtmnTooltip.stories.tsx
  packages/sources/react/src/components/VtmnTooltip/VtmnTooltip.tsx
  packages/sources/react/src/components/VtmnTooltip/types.ts
Labels: enhancement 🚀, React 🔵

#739 refactor(@vtmn/css): badge, text-input, button
  packages/showcases/css/stories/components/badge/examples/accent.html
  packages/showcases/css/stories/components/badge/examples/brand.html
  packages/showcases/css/stories/components/badge/examples/default.html
  packages/showcases/css/stories/components/badge/examples/overview.html
  packages/showcases/css/stories/components/badge/examples/reversed.html
  packages/showcases/css/stories/components/button/examples/conversion.html
  packages/showcases/css/stories/components/button/examples/ghost-reversed.html
  packages/showcases/css/stories/components/button/examples/ghost.html
  packages/showcases/css/stories/components/button/examples/overview.html
  packages/showcases/css/stories/components/button/examples/primary-reversed.html
  packages/showcases/css/stories/components/button/examples/primary.html
  packages/showcases/css/stories/components/button/examples/secondary.html
  packages/showcases/css/stories/components/button/examples/tertiary.html
  packages/showcases/css/stories/components/checkbox/examples/indeterminate.html
  packages/showcases/css/stories/components/checkbox/examples/overview.html
  packages/showcases/css/stories/components/popover/examples/overview.html
  packages/showcases/css/stories/components/rating/examples/medium.html
  packages/showcases/css/stories/components/rating/examples/overview.html
  packages/showcases/css/stories/components/rating/examples/small.html
  packages/showcases/css/stories/components/text-input/examples/disabled.html
  packages/showcases/css/stories/components/text-input/examples/error.html
  packages/showcases/css/stories/components/text-input/examples/multiline.html
  packages/showcases/css/stories/components/text-input/examples/overview.html
  packages/showcases/css/stories/components/text-input/examples/valid.html
  packages/sources/css/src/components/badge/src/index.css
  packages/sources/css/src/components/button/src/index.css
  packages/sources/css/src/components/link/src/index.css
  packages/sources/css/src/components/text-input/src/index.css
Labels: enhancement 🚀, CSS 🎨

#777 fix: pre-commit errors
  .husky/pre-commit
  package.json
Labels: bug 🐛, config 🛠

#782 fix(@vtmn/css): specify letter spacing for each size of the button
  packages/sources/css/src/components/button/src/index.css
Labels: enhancement 🚀, CSS 🎨

#760 fix(@vtmn/css-tailwind-preset): font-normal class has two definitions
  packages/sources/css/presets/tailwind/tailwind-preset.js
  packages/sources/css/src/components/alert/src/index.css
  packages/sources/css/src/components/badge/src/index.css
  packages/sources/css/src/components/chip/src/index.css
  packages/sources/css/src/components/modal/src/index.css
  packages/sources/css/src/components/popover/src/index.css
  packages/sources/css/src/components/progressbar/src/index.css
  packages/sources/css/src/components/rating/src/index.css
  packages/sources/css/src/components/text-input/src/index.css
  packages/sources/css/src/components/tooltip/src/index.css
  packages/sources/css/src/design-tokens/src/typography.css
Labels: bug 🐛, CSS 🎨
