Repository Decathlon/vitamin-web, pull requests merged in 2021-02, with the labels that each got.

#86 refactor: tailwindcss & postcss configurations
  packages/sources/css/config/postcss/postcss.config.js
  packages/sources/css/config/tailwind/tailwind.config.js
Labels: enhancement 🚀

#68 feat(@vtmn/css): add text input
  .github/workflows/build-main.yml
  README.md
  packages/showcases/css/stories/components/text-input/examples/default.html
  packages/showcases/css/stories/components/text-input/examples/disabled.html
  packages/showcases/css/stories/components/text-input/examples/error.html
  packages/showcases/css/stories/components/text-input/examples/multiline.html
  packages/showcases/css/stories/components/text-input/examples/valid.html
  packages/showcases/css/stories/components/text-input/text-input.stories.js
  packages/sources/css/config/tailwind/tailwind.config.js
  packages/sources/css/src/components/button/src/index.css
  packages/sources/css/src/components/text-input/README.md
  packages/sources/css/src/components/text-input/package.json
  packages/sources/css/src/components/text-input/postcss.config.js
  packages/sources/css/src/components/text-input/sonar-project.properties
  packages/sources/css/src/components/text-input/src/index.css
  packages/sources/css/src/components/text-input/tailwind.config.js
  packages/sources/css/src/index.css
  yarn.lock
Labels: CSS 🎨, enhancement 🚀

#95 feat: add a package for React components library
  .gitignore
  README.md
  package.json
  packages/showcases/react/.storybook/addons/backgrounds.json
  packages/showcases/react/.storybook/main.js
  packages/showcases/react/.storybook/preview.js
  packages/showcases/react/package.json
  packages/showcases/react/stories/Button.stories.js
  packages/showcases/web-components/.storybook/main.js
  packages/showcases/web-components/package.json
  packages/sources/react/.eslintignore
  packages/sources/react/.eslintrc
  packages/sources/react/README.md
  packages/sources/react/package.json
  packages/sources/react/rollup.config.js
  packages/sources/react/sonar-project.properties
  packages/sources/react/src/components/Button/Button.tsx
  packages/sources/react/src/components/Button/index.ts
  packages/sources/react/src/global.d.ts
  packages/sources/react/src/index.ts
  packages/sources/react/src/react-app-env.d.ts
  packages/sources/react/src/setupTests.ts
  packages/sources/react/src/typings.ts
  packages/sources/react/tsconfig.cjs.json
  packages/sources/react/tsconfig.es.json
  packages/sources/react/tsconfig.eslint.json
  packages/sources/react/tsconfig.json
  packages/sources/react/tsconfig.test.json
  yarn.lock
Labels: React 🟣, enhancement 🚀, help wanted ✋

#107 docs: enhance Developer eXperience with complete README files
  CONTRIBUTING.md
  README.md
  packages/showcases/css/README.md
  packages/showcases/react/README.md
  packages/showcases/web-components/README.md
  packages/sources/css/README.md
  packages/sources/css/config/postcss/README.md
  packages/sources/css/config/tailwind/README.md
  packages/sources/css/package.json
  packages/sources/css/src/components/button/README.md
  packages/sources/css/src/components/button/package.json
  packages/sources/css/src/components/text-input/README.md
  packages/sources/css/src/components/text-input/package.json
  packages/sources/css/src/design-tokens/README.md
  packages/sources/css/src/design-tokens/package.json
  packages/sources/css/src/utilities/README.md
  packages/sources/css/src/utilities/package.json
  packages/sources/react/README.md
  packages/sources/react/package.json
  packages/sources/web-components/README.md
Labels: documentation 📝, enhancement 🚀

#121 refactor: react & web-components folder structure
  packages/showcases/react/stories/components/VtmnButton/VtmnButton.stories.tsx
  packages/showcases/web-components/stories/components/vtmn-button/vtmn-button.stories.tsx
  packages/sources/react/src/components/VtmnButton/VtmnButton.tsx
  packages/sources/react/src/components/VtmnButton/index.ts
  packages/sources/react/src/index.ts
  packages/sources/web-components/src/components/vtmn-button/README.md
  packages/sources/web-components/src/components/vtmn-button/vtmn-button.pcss
  packages/sources/web-components/src/components/vtmn-button/vtmn-button.tsx
Labels: React 🔵, Web Components ⚫️

#97 feat: add a package for Svelte components library
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  .gitignore
  .husky/.gitignore
  CONTRIBUTING.md
  README.md
  package.json
  packages/showcases/svelte/.storybook/main.js
  packages/showcases/svelte/.storybook/preview.js
  packages/showcases/svelte/README.md
  packages/showcases/svelte/package.json
  packages/showcases/svelte/src/stories/components/Button.stories.js
  packages/showcases/svelte/src/stories/components/ButtonView.svelte
  packages/sources/svelte/.eslintrc.js
  packages/sources/svelte/README.md
  packages/sources/svelte/babel.config.json
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/sonar-project.properties
  packages/sources/svelte/src/components/VtmnButton.svelte
  packages/sources/svelte/svelte.config.js
  packages/sources/web-components/package.json
  yarn.lock
Labels: Svelte 🟠, enhancement 🚀, help wanted ✋

#122 chore: remove useless deps for svelte
  packages/showcases/svelte/package.json
  packages/sources/svelte/.eslintrc.js
  packages/sources/svelte/babel.config.json
  packages/sources/svelte/package.json
  yarn.lock
Labels: Svelte 🟠
