Repository Decathlon/vitamin-web, pull requests merged in 2021-04, with the labels that each got.

#239 feat(vtmn-text-input): Add more specification on inputs
  packages/sources/css/src/components/text-input/src/index.css
Labels: CSS 🎨, enhancement 🚀

#258 feat(vtmn-text-input): text input improvements
  packages/showcases/css/stories/components/text-input/examples/default.html
  packages/showcases/css/stories/components/text-input/examples/disabled.html
  packages/showcases/css/stories/components/text-input/examples/error.html
  packages/showcases/css/stories/components/text-input/examples/multiline.html
  packages/showcases/css/stories/components/text-input/examples/valid.html
  packages/sources/css/src/components/text-input/src/index.css
Labels: CSS 🎨, good first issue

#259 fix(docs): avoid linting HTML examples
  packages/showcases/css/.storybook/main.js
Labels: bug 🐛

#260 feat(@vtmn/css): add toggle component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  README.md
  packages/showcases/css/stories/components/toggle/examples/default.html
  packages/showcases/css/stories/components/toggle/examples/medium.html
  packages/showcases/css/stories/components/toggle/examples/small.html
  packages/showcases/css/stories/components/toggle/toggle.stories.js
  packages/sources/css/src/components/toggle/README.md
  packages/sources/css/src/components/toggle/package.json
  packages/sources/css/src/components/toggle/postcss.config.js
  packages/sources/css/src/components/toggle/sonar-project.properties
  packages/sources/css/src/components/toggle/src/index.css
  packages/sources/css/src/index.css
  yarn.lock
Labels: CSS 🎨, enhancement 🚀

#272 refactor(@vtmn/css-button): change font-family
  packages/sources/css/src/components/button/src/index.css
Labels: CSS 🎨

#261 feat(@vtmn/react): add text input component
  packages/showcases/react/package.json
  packages/showcases/react/stories/components/VtmnButton/VtmnButton.stories.tsx
  packages/showcases/react/stories/components/VtmnTextInput/VtmnTextInput.stories.tsx
  packages/showcases/svelte/stories/components/VtmnTextInput/VtmnTextInput.stories.js
  packages/sources/react/src/components/VtmnTextInput/VtmnTextInput.tsx
  packages/sources/react/src/components/VtmnTextInput/index.ts
  packages/sources/react/src/index.ts
  yarn.lock
Labels: React 🔵, enhancement 🚀

#273 feat(@vtmn/css): add link component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  README.md
  packages/showcases/css/stories/components/link/examples/default.html
  packages/showcases/css/stories/components/link/examples/large.html
  packages/showcases/css/stories/components/link/examples/medium.html
  packages/showcases/css/stories/components/link/examples/small.html
  packages/showcases/css/stories/components/link/link.stories.js
  packages/sources/css/src/components/link/CHANGELOG.md
  packages/sources/css/src/components/link/README.md
  packages/sources/css/src/components/link/package.json
  packages/sources/css/src/components/link/postcss.config.js
  packages/sources/css/src/components/link/sonar-project.properties
  packages/sources/css/src/components/link/src/index.css
  packages/sources/css/src/index.css
Labels: CSS 🎨, enhancement 🚀

#270 docs(@vtmn/css): edit fonts import documentation
  packages/sources/css/README.md
Labels: documentation 📝

#277 feat(@vtmn/react): add link component
  packages/showcases/react/stories/components/VtmnLink/VtmnLink.stories.tsx
  packages/sources/react/src/components/VtmnLink/VtmnLink.tsx
  packages/sources/react/src/components/VtmnLink/index.ts
  packages/sources/react/src/components/VtmnLink/types.ts
  packages/sources/react/src/index.ts
Labels: React 🔵, enhancement 🚀

#276 feat(@vtmn/react): add toggle component
  packages/showcases/react/stories/components/VtmnToggle/VtmnToggle.stories.tsx
  packages/sources/react/src/components/VtmnToggle/VtmnToggle.tsx
  packages/sources/react/src/components/VtmnToggle/index.ts
  packages/sources/react/src/components/VtmnToggle/types.ts
  packages/sources/react/src/index.ts
Labels: React 🔵, enhancement 🚀

#268 feat(@vtmn/css-text-input): add icons in the component
  packages/showcases/css/.storybook/preview.js
  packages/showcases/css/package.json
  packages/showcases/css/stories/components/text-input/examples/default.html
  packages/showcases/css/stories/components/text-input/examples/disabled.html
  packages/showcases/css/stories/components/text-input/examples/error.html
  packages/showcases/css/stories/components/text-input/examples/valid.html
  packages/sources/css/src/components/text-input/README.md
  packages/sources/css/src/components/text-input/src/index.css
  packages/sources/icons/svgo.config.js
Labels: CSS 🎨, enhancement 🚀, icons ✨

#290 feat(@vtmn/svelte): add link component
  packages/showcases/core/src/components/VtmnLink.csf.js
  packages/showcases/react/stories/components/VtmnLink/VtmnLink.stories.tsx
  packages/showcases/svelte/stories/components/VtmnLink/VtmnLink.stories.js
  packages/showcases/svelte/stories/components/VtmnLink/VtmnLinkView.svelte
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/VtmnLink.svelte
Labels: Svelte 🟠, enhancement 🚀

#267 feat(@vtmn/css-radio-button): add component
  packages/showcases/css/stories/components/radio-button/examples/_default.html
  packages/showcases/css/stories/components/radio-button/examples/disabled.html
  packages/showcases/css/stories/components/radio-button/examples/selected.html
  packages/showcases/css/stories/components/radio-button/radio-button.stories.js
  packages/sources/css/src/components/button/sonar-project.properties
  packages/sources/css/src/components/radio-button/README.md
  packages/sources/css/src/components/radio-button/package.json
  packages/sources/css/src/components/radio-button/postcss.config.js
  packages/sources/css/src/components/radio-button/sonar-project.properties
  packages/sources/css/src/components/radio-button/src/index.css
  packages/sources/css/src/index.css
Labels: CSS 🎨, enhancement 🚀
