Repository Decathlon/vitamin-web, pull requests merged in 2021-10, with the labels that each got.

#639 chore(storybook): fix deprecated content
  packages/showcases/css/stories/guidelines/colors/colors.stories.mdx
  packages/showcases/css/stories/guidelines/layout/layout.stories.mdx
  packages/showcases/css/stories/guidelines/theming/theming.stories.mdx
  packages/showcases/css/stories/introduction.stories.mdx
  packages/showcases/icons/stories/overview.stories.mdx
  packages/sources/css/README.md
Labels: enhancement 🚀, config 🛠

#641 refactor(@vtmn/css): showcases demonstrations
  packages/showcases/css/.storybook/preview-body.html
  packages/showcases/css/.storybook/preview-head.html
  packages/showcases/css/.storybook/webpack.config.js
  packages/showcases/css/package.json
  packages/showcases/css/stories/components/alert/alert.stories.js
  packages/showcases/css/stories/components/alert/examples/demo.html
  packages/showcases/css/stories/components/alert/examples/demo.runscript.js
  packages/showcases/css/stories/components/modal/examples/demo.html
  packages/showcases/css/stories/components/modal/examples/demo.runscript.js
  packages/showcases/css/stories/components/modal/modal.stories.js
  packages/showcases/css/stories/components/progressbar/examples/circular.html
  packages/showcases/css/stories/components/progressbar/examples/circular.runscript.js
  packages/showcases/css/stories/components/progressbar/examples/linear.html
  packages/showcases/css/stories/components/progressbar/examples/linear.runscript.js
  packages/showcases/css/stories/components/progressbar/progressbar.stories.js
  packages/showcases/css/stories/components/snackbar/examples/demo.html
  packages/showcases/css/stories/components/snackbar/examples/demo.runscript.js
  packages/showcases/css/stories/components/snackbar/snackbar.stories.js
  packages/showcases/css/stories/components/toast/examples/demo.html
  packages/showcases/css/stories/components/toast/examples/demo.runscript.js
  packages/showcases/css/stories/components/toast/toast.stories.js
  packages/showcases/css/stories/guidelines/theming/theming.stories.mdx
  packages/showcases/react/.storybook/preview-body.html
  packages/showcases/react/.storybook/preview-head.html
  packages/showcases/web-components/.storybook/preview-body.html
  packages/showcases/web-components/.storybook/preview-head.html
  yarn.lock
Labels: documentation 📝, CSS 🎨

#636 fix(@vtmn/svelte): add on:click on VtmnButton to handle click events
  packages/sources/svelte/src/components/VtmnButton.svelte
Labels: enhancement 🚀, Svelte 🟠

#642 fix(@vtmn-snackbar): button wrapping
  packages/showcases/css/stories/components/snackbar/examples/demo.html
  packages/showcases/css/stories/components/snackbar/examples/overview.html
  packages/sources/css/src/components/snackbar/src/index.css
Labels: enhancement 🚀, CSS 🎨

#516 chore: nx as monorepo manager
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  .vscode/extensions.json
  CONTRIBUTING.md
  README.md
  nx.json
  package.json
  packages/showcases/css/stories/components/alert/alert.stories.js
  packages/showcases/css/stories/components/modal/modal.stories.js
  packages/showcases/css/stories/components/progressbar/progressbar.stories.js
  packages/showcases/css/stories/components/snackbar/examples/demo.html
  packages/showcases/css/stories/components/snackbar/snackbar.stories.js
  packages/showcases/css/stories/components/toast/toast.stories.js
  packages/showcases/icons/stories/overview.stories.mdx
  packages/sources/css/package.json
  packages/sources/css/src/components/alert/package.json
  packages/sources/css/src/components/badge/package.json
  packages/sources/css/src/components/button/package.json
  packages/sources/css/src/components/checkbox/package.json
  packages/sources/css/src/components/link/package.json
  packages/sources/css/src/components/loader/package.json
  packages/sources/css/src/components/modal/package.json
  packages/sources/css/src/components/popover/package.json
  packages/sources/css/src/components/progressbar/package.json
  packages/sources/css/src/components/radio-button/package.json
  packages/sources/css/src/components/rating/package.json
  packages/sources/css/src/components/select/package.json
  packages/sources/css/src/components/skeleton/package.json
  packages/sources/css/src/components/snackbar/package.json
  packages/sources/css/src/components/text-input/package.json
  packages/sources/css/src/components/toast/package.json
  packages/sources/css/src/components/toggle/package.json
  packages/sources/css/src/components/tooltip/package.json
  packages/sources/css/src/design-tokens/package.json
  packages/sources/css/src/index.css
  packages/sources/css/src/utilities/package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Labels: enhancement 🚀, config 🛠

#646 refactor: clean CSS imports & package.json dependencies
  packages/showcases/core/package.json
  packages/sources/css/config/postcss/package.json
  packages/sources/css/config/tailwind/package.json
  packages/sources/css/src/components/alert/src/index.css
  packages/sources/css/src/components/badge/package.json
  packages/sources/css/src/components/badge/src/index.css
  packages/sources/css/src/components/button/src/index.css
  packages/sources/css/src/components/checkbox/src/index.css
  packages/sources/css/src/components/link/src/index.css
  packages/sources/css/src/components/modal/src/index.css
  packages/sources/css/src/components/popover/src/index.css
  packages/sources/css/src/components/progressbar/build.js
  packages/sources/css/src/components/progressbar/package.json
  packages/sources/css/src/components/progressbar/src/index.css
  packages/sources/css/src/components/radio-button/src/index.css
  packages/sources/css/src/components/rating/src/index.css
  packages/sources/css/src/components/select/src/index.css
  packages/sources/css/src/components/skeleton/src/index.css
  packages/sources/css/src/components/snackbar/src/index.css
  packages/sources/css/src/components/text-input/src/index.css
  packages/sources/css/src/components/toast/src/index.css
  packages/sources/css/src/components/toggle/src/index.css
  packages/sources/css/src/components/tooltip/src/index.css
  packages/sources/css/src/utilities/src/typography.css
Labels: enhancement 🚀, CSS 🎨

#651 fix(@vtmn/react): TS compilation error
  packages/sources/react/src/components/VtmnTextInput/VtmnTextInput.tsx
  packages/sources/react/src/components/VtmnToggle/VtmnToggle.tsx
Labels: enhancement 🚀, React 🔵

#647 fix(@vtmn/css-modal): add clickable overlay
  packages/showcases/css/stories/components/modal/examples/demo.runscript.js
  packages/showcases/css/stories/components/modal/examples/overview.html
  packages/sources/css/src/components/modal/src/index.css
Labels: bug 🐛, CSS 🎨

#652 fix(@vtmn/css-snackbar): fix html snackbar button
  packages/showcases/css/stories/components/snackbar/examples/demo.runscript.js
Labels: bug 🐛, CSS 🎨

#659 fix(@vtmn/svelte): allow to use two-way binding on VtmnTextInput
  packages/sources/svelte/src/components/VtmnTextInput.svelte
Labels: enhancement 🚀, Svelte 🟠

#661 feat(@vtmn/react @vtmn/vue @vtmn/web-components @vtmn/svelte): control panel
  packages/showcases/react/.storybook/manager.js
  packages/showcases/react/.storybook/preview.js
  packages/showcases/svelte/.storybook/manager.js
  packages/showcases/svelte/.storybook/preview.js
  packages/showcases/vue/.storybook/manager.js
  packages/showcases/vue/.storybook/preview.js
  packages/showcases/web-components/.storybook/manager.js
  packages/showcases/web-components/.storybook/preview.js
Labels: documentation 📝, enhancement 🚀, React 🔵, Web Components ⚫️, Svelte 🟠, Vue 🟢

#665 feat(@vtmn/web-components @vtmn/css): add report form in storybook
  packages/showcases/css/.storybook/preview-body.html
  packages/showcases/css/.storybook/preview-head.html
  packages/showcases/react/.storybook/preview-body.html
  packages/showcases/react/.storybook/preview-head.html
  packages/showcases/web-components/.storybook/preview-body.html
  packages/showcases/web-components/.storybook/preview-head.html
Labels: documentation 📝, enhancement 🚀, CSS 🎨, Web Components ⚫️
