Repository Decathlon/vitamin-web, pull requests merged in 2021-05, with the labels that each got.

#296 refactor(@vtmn/css-radio-button): change class from span to input
  packages/showcases/css/stories/components/radio-button/examples/_default.html
  packages/showcases/css/stories/components/radio-button/examples/default.html
  packages/showcases/css/stories/components/radio-button/examples/disabled.html
  packages/showcases/css/stories/components/radio-button/examples/selected.html
  packages/showcases/css/stories/components/radio-button/radio-button.stories.js
  packages/sources/css/src/components/radio-button/src/index.css
Labels: CSS 🎨, enhancement 🚀

#287 feat(@vtmn/css-checkbox): add component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  README.md
  packages/showcases/css/stories/components/checkbox/checkbox.stories.js
  packages/showcases/css/stories/components/checkbox/examples/default.html
  packages/showcases/css/stories/components/radio-button/examples/disabled.html
  packages/showcases/css/stories/components/radio-button/examples/selected.html
  packages/sources/css/src/components/checkbox/README.md
  packages/sources/css/src/components/checkbox/package.json
  packages/sources/css/src/components/checkbox/postcss.config.js
  packages/sources/css/src/components/checkbox/sonar-project.properties
  packages/sources/css/src/components/checkbox/src/index.css
  packages/sources/css/src/components/radio-button/src/index.css
  packages/sources/css/src/index.css
Labels: CSS 🎨, enhancement 🚀

#289 feat(@vtmn/web-components): add toggle component
  packages/showcases/web-components/stories/components/vtmn-toggle/vtmn-toggle.stories.tsx
  packages/sources/web-components/src/components.d.ts
  packages/sources/web-components/src/components/vtmn-button/vtmn-button.tsx
  packages/sources/web-components/src/components/vtmn-toggle/README.md
  packages/sources/web-components/src/components/vtmn-toggle/vtmn-toggle.pcss
  packages/sources/web-components/src/components/vtmn-toggle/vtmn-toggle.tsx
Labels: Web Components ⚫️, enhancement 🚀

#297 feat(@vtmn/web-components): add text input component
  packages/showcases/web-components/.storybook/preview.js
  packages/showcases/web-components/package.json
  packages/showcases/web-components/stories/components/vtmn-text-input/vtmn-text-input.stories.tsx
  packages/sources/css/src/components/text-input/src/index.css
  packages/sources/web-components/src/components.d.ts
  packages/sources/web-components/src/components/vtmn-text-input/README.md
  packages/sources/web-components/src/components/vtmn-text-input/vtmn-text-input.pcss
  packages/sources/web-components/src/components/vtmn-text-input/vtmn-text-input.tsx
Labels: Web Components ⚫️, enhancement 🚀

#320 docs: rename links
  README.md
  packages/sources/css/src/components/button/README.md
  packages/sources/css/src/components/checkbox/README.md
  packages/sources/css/src/components/link/README.md
  packages/sources/css/src/components/text-input/README.md
  packages/sources/css/src/components/toggle/README.md
  packages/sources/css/src/utilities/README.md
Labels: documentation 📝
