Repository Decathlon/vitamin-web, pull requests merged in 2021-09, with the labels that each got.

#561 fix(showcases): code text is black on black background in light mode #560
  packages/showcases/css/.storybook/preview-head.html
  packages/showcases/react/.storybook/preview-head.html
  packages/showcases/web-components/.storybook/preview-head.html
Labels: bug 🐛, documentation 📝

#578 refactor(@vtmn/css-button): add multiline exception
  packages/sources/css/src/components/button/src/index.css
Labels: CSS 🎨

#552 feat(@vtmn/svelte): add popover component
  .gitattributes
  .husky/pre-commit
  package.json
  packages/showcases/svelte/.storybook/main.js
  packages/showcases/svelte/package.json
  packages/showcases/svelte/stories/components/VtmnPopover/VtmnPopover.stories.svelte
  packages/sources/svelte/src/components/VtmnButton.svelte
  packages/sources/svelte/src/components/VtmnLink.svelte
  packages/sources/svelte/src/components/VtmnPopover.svelte
  packages/sources/svelte/src/components/VtmnTextInput.svelte
  packages/sources/svelte/src/utils/classnames.js
  yarn.lock
Labels: enhancement 🚀, Svelte 🟠

#599 feat(@vtmn): add component to create component issue faster
  .github/ISSUE_TEMPLATE/component_request.md
Labels: documentation 📝

#602 refactor(@vtmn/css-button): fix focus-visible box-shadows
  packages/sources/css/src/components/button/src/index.css
Labels: enhancement 🚀, CSS 🎨

#592 chore: delete prepare npm script
  README.md
  package.json
Labels: config 🛠

#593 feat(@vtmn/css-text-input): adjust width of label and texts, focus is…
  packages/sources/css/src/components/button/src/index.css
  packages/sources/css/src/components/text-input/src/index.css
Labels: enhancement 🚀, CSS 🎨

#499 feat(@vtmn/css): add snackbar component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  README.md
  packages/showcases/css/stories/components/snackbar/examples/demo.html
  packages/showcases/css/stories/components/snackbar/examples/overview.html
  packages/showcases/css/stories/components/snackbar/snackbar.stories.js
  packages/sources/css/src/components/snackbar/CHANGELOG.md
  packages/sources/css/src/components/snackbar/README.md
  packages/sources/css/src/components/snackbar/package.json
  packages/sources/css/src/components/snackbar/postcss.config.js
  packages/sources/css/src/components/snackbar/sonar-project.properties
  packages/sources/css/src/components/snackbar/src/index.css
  packages/sources/css/src/design-tokens/src/animations.css
  packages/sources/css/src/index.css
Labels: enhancement 🚀, CSS 🎨

#500 feat(@vtmn/css): add toast component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  README.md
  packages/showcases/css/stories/components/toast/examples/demo.html
  packages/showcases/css/stories/components/toast/examples/overview.html
  packages/showcases/css/stories/components/toast/toast.stories.js
  packages/sources/css/src/components/toast/CHANGELOG.md
  packages/sources/css/src/components/toast/README.md
  packages/sources/css/src/components/toast/package.json
  packages/sources/css/src/components/toast/postcss.config.js
  packages/sources/css/src/components/toast/sonar-project.properties
  packages/sources/css/src/components/toast/src/index.css
  packages/sources/css/src/index.css
Labels: enhancement 🚀, CSS 🎨

#501 feat(@vtmn/css): add alert component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  packages/showcases/css/.storybook/preview-head.html
  packages/showcases/css/stories/components/alert/alert.stories.js
  packages/showcases/css/stories/components/alert/examples/demo.html
  packages/showcases/css/stories/components/alert/examples/overview.html
  packages/showcases/react/.storybook/preview-head.html
  packages/showcases/web-components/.storybook/preview-head.html
  packages/sources/css/src/components/alert/CHANGELOG.md
  packages/sources/css/src/components/alert/README.md
  packages/sources/css/src/components/alert/package.json
  packages/sources/css/src/components/alert/postcss.config.js
  packages/sources/css/src/components/alert/sonar-project.properties
  packages/sources/css/src/components/alert/src/index.css
  packages/sources/css/src/components/button/src/index.css
  packages/sources/css/src/design-tokens/src/animations.css
  packages/sources/css/src/index.css
Labels: enhancement 🚀, CSS 🎨

#546 feat(@vtmn/react): add loader component
  packages/showcases/core/csf/components/VtmnLoader.csf.js
  packages/showcases/react/stories/components/VtmnLoader/VtmnLoader.stories.tsx
  packages/sources/react/src/components/VtmnLoader/VtmnLoader.tsx
  packages/sources/react/src/components/VtmnLoader/index.ts
  packages/sources/react/src/components/VtmnLoader/types.ts
  yarn.lock
Labels: enhancement 🚀, React 🔵

#498 feat(@vtmn/css): add modal component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  README.md
  packages/showcases/css/stories/components/modal/examples/demo.html
  packages/showcases/css/stories/components/modal/examples/overview.html
  packages/showcases/css/stories/components/modal/modal.stories.js
  packages/sources/css/src/components/modal/CHANGELOG.md
  packages/sources/css/src/components/modal/README.md
  packages/sources/css/src/components/modal/package.json
  packages/sources/css/src/components/modal/postcss.config.js
  packages/sources/css/src/components/modal/sonar-project.properties
  packages/sources/css/src/components/modal/src/index.css
  packages/sources/css/src/index.css
Labels: enhancement 🚀, CSS 🎨

#614 refactor(@vtmn/css-modal): imports
  packages/sources/css/src/components/modal/src/index.css
Labels: bug 🐛, CSS 🎨

#615 refactor(@vtmn/css): exports thanks to build.sh and build.js
  packages/sources/css/config/postcss/build.js
  packages/sources/css/config/postcss/build.sh
  packages/sources/css/src/components/alert/build.js
  packages/sources/css/src/components/alert/package.json
  packages/sources/css/src/components/badge/build.js
  packages/sources/css/src/components/badge/build.sh
  packages/sources/css/src/components/badge/package.json
  packages/sources/css/src/components/button/build.js
  packages/sources/css/src/components/button/build.sh
  packages/sources/css/src/components/button/package.json
  packages/sources/css/src/components/checkbox/build.js
  packages/sources/css/src/components/checkbox/build.sh
  packages/sources/css/src/components/checkbox/package.json
  packages/sources/css/src/components/link/build.js
  packages/sources/css/src/components/link/build.sh
  packages/sources/css/src/components/link/package.json
  packages/sources/css/src/components/loader/build.js
  packages/sources/css/src/components/loader/build.sh
  packages/sources/css/src/components/loader/package.json
  packages/sources/css/src/components/modal/build.js
  packages/sources/css/src/components/modal/package.json
  packages/sources/css/src/components/popover/build.js
  packages/sources/css/src/components/popover/build.sh
  packages/sources/css/src/components/popover/package.json
  packages/sources/css/src/components/radio-button/build.js
  packages/sources/css/src/components/radio-button/build.sh
  packages/sources/css/src/components/radio-button/package.json
  packages/sources/css/src/components/rating/build.js
  packages/sources/css/src/components/rating/build.sh
  packages/sources/css/src/components/rating/package.json
  packages/sources/css/src/components/select/build.js
  packages/sources/css/src/components/select/build.sh
  packages/sources/css/src/components/select/package.json
  packages/sources/css/src/components/snackbar/build.js
  packages/sources/css/src/components/snackbar/package.json
  packages/sources/css/src/components/text-input/build.js
  packages/sources/css/src/components/text-input/build.sh
  packages/sources/css/src/components/text-input/package.json
  packages/sources/css/src/components/toast/build.js
  packages/sources/css/src/components/toast/package.json
  packages/sources/css/src/components/toggle/build.js
  packages/sources/css/src/components/toggle/build.sh
  packages/sources/css/src/components/toggle/package.json
  packages/sources/css/src/components/tooltip/build.js
  packages/sources/css/src/components/tooltip/build.sh
  packages/sources/css/src/components/tooltip/package.json
  packages/sources/css/src/utilities/build.js
  packages/sources/css/src/utilities/package.json
Labels: enhancement 🚀, CSS 🎨

#544 feat(@vtmn/react): add tooltip component
  packages/showcases/core/csf/components/VtmnTooltip.csf.js
  packages/showcases/react/stories/components/VtmnTooltip/VtmnTooltip.stories.tsx
  packages/sources/react/src/components/VtmnTooltip/VtmnTooltip.tsx
  packages/sources/react/src/components/VtmnTooltip/index.ts
  packages/sources/react/src/components/VtmnTooltip/types.ts
  packages/sources/react/src/index.ts
Labels: enhancement 🚀, React 🔵

#633 chore: add VSCode recommended extensions
  .gitignore
  .vscode/extensions.json
  packages/showcases/css/.storybook/main.js
  yarn.lock
Labels: config 🛠

#612 feat(@vtmn/css): add progressbar component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  packages/showcases/css/package.json
  packages/showcases/css/public/images/placeholder.jpg
  packages/showcases/css/stories/components/progressbar/examples/circular.html
  packages/showcases/css/stories/components/progressbar/examples/linear.html
  packages/showcases/css/stories/components/progressbar/examples/overview.html
  packages/showcases/css/stories/components/progressbar/progressbar.stories.js
  packages/sources/css/src/components/progressbar/CHANGELOG.md
  packages/sources/css/src/components/progressbar/README.md
  packages/sources/css/src/components/progressbar/build.sh
  packages/sources/css/src/components/progressbar/package.json
  packages/sources/css/src/components/progressbar/postcss.config.js
  packages/sources/css/src/components/progressbar/sonar-project.properties
  packages/sources/css/src/components/progressbar/src/index.css
  packages/sources/css/src/design-tokens/package.json
  packages/sources/css/src/design-tokens/src/animations.css
  packages/sources/css/src/index.css
  yarn.lock
Labels: enhancement 🚀, CSS 🎨

#635 docs: fix extended toolbar z-index and align z-index overlays
  packages/showcases/css/.storybook/preview-head.html
  packages/showcases/react/.storybook/preview-head.html
  packages/showcases/web-components/.storybook/preview-head.html
  packages/sources/css/src/components/alert/src/index.css
  packages/sources/css/src/components/modal/src/index.css
  packages/sources/css/src/components/popover/src/index.css
  packages/sources/css/src/components/snackbar/src/index.css
  packages/sources/css/src/components/toast/src/index.css
  packages/sources/css/src/components/tooltip/src/index.css
  packages/sources/css/src/design-tokens/src/index.css
  packages/sources/css/src/design-tokens/src/z-indexes.css
Labels: bug 🐛, documentation 📝
