Repository Decathlon/vitamin-web, pull requests merged in 2021-12, with the labels that each got.

#783 refactor(@vtmn/css): fix width fixed value
  packages/showcases/css/stories/components/card/examples/full-image.html
  packages/showcases/css/stories/components/card/examples/overview.html
  packages/showcases/css/stories/components/card/examples/side-image.html
  packages/showcases/css/stories/components/card/examples/top-image.html
  packages/sources/css/src/components/button/src/index.css
  packages/sources/css/src/components/card/src/index.css
  packages/sources/css/src/components/progressbar/src/index.css
Labels: enhancement 🚀, CSS 🎨

#750 feat(@vtmn/css): add breadcrumb component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  README.md
  packages/showcases/css/.storybook/preview-head.html
  packages/showcases/css/stories/components/breadcrumb/breadcrumb.stories.js
  packages/showcases/css/stories/components/breadcrumb/examples/overview.html
  packages/showcases/css/stories/components/text-input/examples/overview.html
  packages/sources/css/src/components/badge/src/index.css
  packages/sources/css/src/components/breadcrumb/CHANGELOG.md
  packages/sources/css/src/components/breadcrumb/README.md
  packages/sources/css/src/components/breadcrumb/build.js
  packages/sources/css/src/components/breadcrumb/package.json
  packages/sources/css/src/components/breadcrumb/postcss.config.js
  packages/sources/css/src/components/breadcrumb/sonar-project.properties
  packages/sources/css/src/components/breadcrumb/src/index.css
  packages/sources/css/src/components/index.css
  packages/sources/css/src/components/text-input/src/index.css
  packages/sources/css/src/design-tokens/src/themes/core-dark.css
  packages/sources/css/src/design-tokens/src/themes/core-light.css
  packages/sources/css/src/design-tokens/src/themes/default.css
  workspace.json
Labels: enhancement 🚀, CSS 🎨

#785 refactor(@vtmn/css): button, revert the change on the min-height
  packages/sources/css/src/components/button/src/index.css
Labels: enhancement 🚀, CSS 🎨

#676 feat(@vtmn/css): add navbar component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  README.md
  package.json
  packages/showcases/css/package.json
  packages/showcases/css/stories/components/navbar/examples/overview.html
  packages/showcases/css/stories/components/navbar/navbar.stories.js
  packages/showcases/icons/package.json
  packages/showcases/react/package.json
  packages/showcases/svelte/package.json
  packages/showcases/vue/package.json
  packages/showcases/web-components/package.json
  packages/sources/css/package.json
  packages/sources/css/src/components/chip/src/index.css
  packages/sources/css/src/components/index.css
  packages/sources/css/src/components/navbar/CHANGELOG.md
  packages/sources/css/src/components/navbar/README.md
  packages/sources/css/src/components/navbar/build.js
  packages/sources/css/src/components/navbar/package.json
  packages/sources/css/src/components/navbar/postcss.config.js
  packages/sources/css/src/components/navbar/sonar-project.properties
  packages/sources/css/src/components/navbar/src/index.css
  packages/sources/svelte/package.json
  packages/sources/vue/package.json
  yarn.lock
Labels: enhancement 🚀, CSS 🎨

#799 feat(@vtmn/css): add divider component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  README.md
  packages/showcases/css/stories/components/divider/divider.stories.js
  packages/showcases/css/stories/components/divider/examples/horizontal.html
  packages/showcases/css/stories/components/divider/examples/overview.html
  packages/showcases/css/stories/components/divider/examples/vertical.html
  packages/sources/css/src/components/divider/CHANGELOG.md
  packages/sources/css/src/components/divider/README.md
  packages/sources/css/src/components/divider/build.js
  packages/sources/css/src/components/divider/package.json
  packages/sources/css/src/components/divider/postcss.config.js
  packages/sources/css/src/components/divider/sonar-project.properties
  packages/sources/css/src/components/divider/src/index.css
  packages/sources/css/src/components/index.css
  workspace.json
Labels: enhancement 🚀, CSS 🎨

#747 refactor(@vtmn/css): accessibility improvements
  packages/showcases/css/stories/components/alert/examples/overview.html
  packages/showcases/css/stories/components/popover/examples/overview.html
  packages/showcases/css/stories/components/rating/examples/interactive.html
  packages/showcases/css/stories/components/rating/examples/overview.html
  packages/showcases/css/stories/components/rating/examples/read-only.html
  packages/showcases/css/stories/components/rating/rating.stories.js
  packages/sources/css/src/components/alert/src/index.css
  packages/sources/css/src/components/badge/src/index.css
  packages/sources/css/src/components/button/src/index.css
  packages/sources/css/src/components/checkbox/src/index.css
  packages/sources/css/src/components/link/src/index.css
  packages/sources/css/src/components/modal/src/index.css
  packages/sources/css/src/components/popover/src/index.css
  packages/sources/css/src/components/radio-button/src/index.css
  packages/sources/css/src/components/rating/src/index.css
  packages/sources/css/src/components/toggle/src/index.css
  packages/sources/css/src/components/tooltip/src/index.css
  packages/sources/css/src/design-tokens/src/shadows.css
Labels: enhancement 🚀, CSS 🎨, config 🛠

#806 feat(@vtmn/css): add tabs component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  README.md
  packages/showcases/css/stories/components/tabs/examples/medium.html
  packages/showcases/css/stories/components/tabs/examples/overview.html
  packages/showcases/css/stories/components/tabs/examples/small.html
  packages/showcases/css/stories/components/tabs/tabs.stories.js
  packages/sources/css/src/components/index.css
  packages/sources/css/src/components/tabs/CHANGELOG.md
  packages/sources/css/src/components/tabs/README.md
  packages/sources/css/src/components/tabs/build.js
  packages/sources/css/src/components/tabs/package.json
  packages/sources/css/src/components/tabs/postcss.config.js
  packages/sources/css/src/components/tabs/sonar-project.properties
  packages/sources/css/src/components/tabs/src/index.css
  workspace.json
Labels: enhancement 🚀, CSS 🎨

#812 feat(@vtmn/css): add search component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  README.md
  packages/showcases/css/stories/components/search/examples/default.html
  packages/showcases/css/stories/components/search/examples/on-content.html
  packages/showcases/css/stories/components/search/examples/overview.html
  packages/showcases/css/stories/components/search/examples/persistent.html
  packages/showcases/css/stories/components/search/search.stories.js
  packages/sources/css/src/components/index.css
  packages/sources/css/src/components/search/CHANGELOG.md
  packages/sources/css/src/components/search/README.md
  packages/sources/css/src/components/search/build.js
  packages/sources/css/src/components/search/package.json
  packages/sources/css/src/components/search/postcss.config.js
  packages/sources/css/src/components/search/sonar-project.properties
  packages/sources/css/src/components/search/src/index.css
  workspace.json
Labels: enhancement 🚀, CSS 🎨

#826 docs(@vtmn/css-showcase): use addon backgrounds instead of custom style for search component stories
  packages/showcases/css/stories/components/search/examples/on-content.html
  packages/showcases/css/stories/components/search/examples/overview.html
  packages/showcases/css/stories/components/search/examples/persistent.html
  packages/showcases/css/stories/components/search/search.stories.js
Labels: documentation 📝, enhancement 🚀, CSS 🎨

#829 feat(@vtmn/css): add token focus-visible for breadcrumb and tabs
  packages/sources/css/src/components/breadcrumb/src/index.css
  packages/sources/css/src/components/tabs/src/index.css
Labels: enhancement 🚀, CSS 🎨

#827 fix(@vtmn/css): flexbox scroll bug
  packages/sources/css/src/components/tabs/src/index.css
Labels: enhancement 🚀, CSS 🎨

#835 fix(@vtmn/react): uncontrolled components
  packages/showcases/core/csf/components/VtmnCheckbox.csf.js
  packages/showcases/core/csf/components/VtmnRadioButton.csf.js
  packages/showcases/core/csf/components/VtmnToggle.csf.js
  packages/showcases/react/stories/components/VtmnCheckbox/VtmnCheckbox.stories.tsx
  packages/showcases/react/stories/components/VtmnRadioButton/VtmnRadioButton.stories.tsx
  packages/showcases/react/stories/components/VtmnTextInput/VtmnTextInput.stories.tsx
  packages/showcases/react/stories/components/VtmnToggle/VtmnToggle.stories.tsx
  packages/sources/react/src/components/VtmnCheckbox/VtmnCheckbox.tsx
  packages/sources/react/src/components/VtmnRadioButton/VtmnRadioButton.tsx
  packages/sources/react/src/components/VtmnToggle/VtmnToggle.tsx
  packages/sources/react/src/index.ts
Labels: bug 🐛, React 🔵

#828 feat(@vtmn/react): add select component
  packages/showcases/core/csf/components/VtmnSelect.csf.js
  packages/showcases/react/stories/components/VtmnSelect/VtmnSelect.stories.tsx
  packages/sources/react/src/components/VtmnSelect/VtmnSelect.tsx
  packages/sources/react/src/components/VtmnSelect/index.ts
  packages/sources/react/src/index.ts
Labels: enhancement 🚀, React 🔵
