Repository Decathlon/vitamin-web, pull requests merged in 2022-10, with the labels that each got.

#1238 fix(@vtmn/css, @vtmn/react, @vtmn/vue, @vtmn/svelte): linear progressbar animation
  packages/showcases/css/stories/components/indicators/progressbar/examples/linear.html
  packages/showcases/css/stories/components/indicators/progressbar/examples/overview.html
  packages/showcases/react/stories/components/indicators/VtmnProgressbar/VtmnProgressbar.stories.tsx
  packages/showcases/svelte/stories/components/indicators/VtmnProgressbar/VtmnProgressbar.stories.svelte
  packages/sources/css/src/components/indicators/progressbar/src/index.css
  packages/sources/react/src/components/indicators/VtmnProgressbar/VtmnProgressbar.tsx
  packages/sources/svelte/src/components/indicators/VtmnProgressbar/VtmnProgressbarCircular.svelte
  packages/sources/svelte/src/components/indicators/VtmnProgressbar/VtmnProgressbarLinear.svelte
  packages/sources/svelte/src/components/indicators/VtmnProgressbar/test/VtmnProgressbar.spec.js
  packages/sources/vue/src/components/indicators/VtmnProgressbar/VtmnProgressbar.vue
Labels: bug 🐛, React 🔵, CSS 🎨, Svelte 🟠, Vue 🟢, v0 ⛳️

#1272 chore: upgrade dependencies
  package.json
  packages/sources/css/config/postcss/package.json
  packages/sources/react/package.json
  packages/sources/svelte/package.json
  packages/sources/vue/package.json
  yarn.lock
Labels: config 🛠, dependencies, v0 ⛳️

#1277 fix(@vtmn/css, @vtmn/svelte): missing preflight for some component like `VtmnTabs`
  packages/sources/css/package.json
  packages/sources/css/src/preflight.css
  packages/sources/svelte/package.json
  packages/sources/svelte/src/components/navigation/VtmnTabs/VtmnTabs.svelte
Labels: CSS 🎨, Svelte 🟠, v0 ⛳️

#1245 feat(@vtmn/css, @vtmn/svelte, @vtmn/react, @vtmn/vue): add rel attribute for blank link targets to prevent security issues
  packages/showcases/core/csf/components/actions/link.csf.js
  packages/showcases/core/scripts/index-generator.js
  packages/showcases/css/.storybook/preview-body.html
  packages/showcases/css/stories/components/actions/link/examples/large.html
  packages/showcases/css/stories/components/actions/link/examples/medium.html
  packages/showcases/css/stories/components/actions/link/examples/overview.html
  packages/showcases/css/stories/components/actions/link/examples/reversed.html
  packages/showcases/css/stories/components/actions/link/examples/small.html
  packages/showcases/css/stories/components/selection-controls/checkbox/examples/overview.html
  packages/showcases/css/stories/guidelines/colors/colors.stories.mdx
  packages/showcases/css/stories/guidelines/iconography/iconography.stories.mdx
  packages/showcases/css/stories/guidelines/layout/layout.stories.mdx
  packages/showcases/css/stories/guidelines/radius/radius.stories.mdx
  packages/showcases/css/stories/guidelines/shadows/shadows.stories.mdx
  packages/showcases/css/stories/guidelines/theming/theming.stories.mdx
  packages/showcases/icons/.storybook/preview-body.html
  packages/showcases/react/.storybook/preview-body.html
  packages/showcases/svelte/.storybook/preview-body.html
  packages/showcases/vue/.storybook/preview-body.html
  packages/showcases/vue/stories/components/actions/VtmnLink/VtmnLink.stories.js
  packages/sources/react/src/components/actions/VtmnLink/VtmnLink.tsx
  packages/sources/svelte/src/components/actions/VtmnLink/VtmnLink.svelte
  packages/sources/svelte/src/components/actions/VtmnLink/test/VtmnLink.spec.js
  packages/sources/vue/src/components/actions/VtmnLink/VtmnLink.vue
Labels: enhancement 🚀, React 🔵, CSS 🎨, Svelte 🟠, Vue 🟢, v0 ⛳️

#1275 refactor(@vtmn/css): rework/optimisation snackbar demo in JavaScript
  packages/showcases/css/stories/components/overlays/snackbar/examples/demo.html
Labels: documentation 📝, enhancement 🚀, CSS 🎨, v0 ⛳️

#1282 docs(@vtmn/css): fix button showcase for icon right
  packages/showcases/css/stories/components/actions/button/examples/conversion.html
  packages/showcases/css/stories/components/actions/button/examples/ghost-reversed.html
  packages/showcases/css/stories/components/actions/button/examples/ghost.html
  packages/showcases/css/stories/components/actions/button/examples/overview.html
  packages/showcases/css/stories/components/actions/button/examples/primary-reversed.html
  packages/showcases/css/stories/components/actions/button/examples/primary.html
  packages/showcases/css/stories/components/actions/button/examples/secondary.html
  packages/showcases/css/stories/components/actions/button/examples/tertiary.html
Labels: documentation 📝, CSS 🎨, v0 ⛳️

#1279 fix: manage preflight styles
  packages/showcases/svelte/.storybook/preview.js
  packages/showcases/svelte/package.json
  packages/sources/css/src/components/actions/dropdown/src/index.css
  packages/sources/css/src/components/forms/select/src/index.css
  packages/sources/css/src/components/indicators/progressbar/src/index.css
  packages/sources/css/src/components/navigation/breadcrumb/src/index.css
  packages/sources/css/src/components/navigation/navbar/src/index.css
  packages/sources/css/src/components/navigation/search/src/index.css
  packages/sources/css/src/components/navigation/tabs/src/index.css
  packages/sources/css/src/components/overlays/alert/src/index.css
  packages/sources/css/src/components/overlays/modal/src/index.css
  packages/sources/css/src/components/overlays/popover/src/index.css
  packages/sources/css/src/components/selection-controls/quantity/src/index.css
  packages/sources/css/src/components/structure/card/src/index.css
  packages/sources/svelte/src/components/navigation/VtmnTabs/VtmnTabs.svelte
Labels: bug 🐛, React 🔵, CSS 🎨, Svelte 🟠, Vue 🟢, v0 ⛳️

#1281 feat: add new icons
  packages/sources/icons/src/vitamix/add-circle-fill.svg
  packages/sources/icons/src/vitamix/add-circle-line.svg
  packages/sources/icons/src/vitamix/barcode-fill.svg
  packages/sources/icons/src/vitamix/barcode-line.svg
  packages/sources/icons/src/vitamix/customer-service-fill.svg
  packages/sources/icons/src/vitamix/customer-service-line.svg
  packages/sources/icons/src/vitamix/file-copy-fill.svg
  packages/sources/icons/src/vitamix/file-copy-line.svg
  packages/sources/icons/src/vitamix/github-fill.svg
  packages/sources/icons/src/vitamix/github-line.svg
  packages/sources/icons/src/vitamix/pie-chart-fill.svg
  packages/sources/icons/src/vitamix/pie-chart-line.svg
  packages/sources/icons/src/vitamix/qr-scan-fill.svg
  packages/sources/icons/src/vitamix/qr-scan-line.svg
  packages/sources/icons/src/vitamix/search-fill.svg
  packages/sources/icons/src/vitamix/share-android-fill.svg
  packages/sources/icons/src/vitamix/share-android-line.svg
  packages/sources/icons/src/vitamix/share-ios-fill.svg
  packages/sources/icons/src/vitamix/share-ios-line.svg
Labels: enhancement 🚀, icons ✨, v0 ⛳️

#1285 feat: add new icons
  packages/sources/icons/src/vitamix/kakao-talk-line-1.svg
  packages/sources/icons/src/vitamix/kakao-talk-line.svg
  packages/sources/icons/src/vitamix/line-line-1.svg
  packages/sources/icons/src/vitamix/line-line.svg
  packages/sources/icons/src/vitamix/naver-fill.svg
  packages/sources/icons/src/vitamix/naver-line.svg
  packages/sources/icons/src/vitamix/rocket-fill.svg
  packages/sources/icons/src/vitamix/rocket-line.svg
Labels: enhancement 🚀, icons ✨, v0 ⛳️

#1286 refactor(@vtmn/css): rework alert component demo
  packages/showcases/css/stories/components/overlays/alert/examples/demo.html
Labels: enhancement 🚀, CSS 🎨

#1289 fix(@vtmn/showcase-svelte): showcase header & Card component in Storybook Svelte
  packages/showcases/css/.storybook/preview-body.html
  packages/showcases/css/.storybook/preview-head.html
  packages/showcases/icons/.storybook/preview-body.html
  packages/showcases/icons/.storybook/preview-head.html
  packages/showcases/react/.storybook/preview-body.html
  packages/showcases/react/.storybook/preview-head.html
  packages/showcases/svelte/.storybook/preview-body.html
  packages/showcases/svelte/.storybook/preview-head.html
  packages/showcases/svelte/.storybook/preview.js
  packages/showcases/svelte/package.json
  packages/showcases/vue/.storybook/preview-body.html
  packages/showcases/vue/.storybook/preview-head.html
  packages/sources/css/src/components/forms/select/src/index.css
  packages/sources/css/src/components/structure/card/src/index.css
Labels: bug 🐛, documentation 📝, Svelte 🟠

#1290 fix(@vtmn/svelte): lint warnings
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/navigation/VtmnTabsItem/VtmnTabsItem.svelte
  packages/sources/svelte/src/components/overlays/VtmnModal/VtmnModal.svelte
  packages/sources/svelte/src/components/overlays/VtmnPopover/VtmnPopover.svelte
  packages/sources/svelte/src/components/overlays/VtmnTooltip/VtmnTooltip.svelte
  packages/sources/svelte/src/components/selection-controls/VtmnChip/VtmnChip.svelte
  packages/sources/svelte/src/components/structure/VtmnListItem/VtmnListItem.svelte
  packages/sources/svelte/src/components/structure/VtmnSkeleton/VtmnSkeleton.svelte
  packages/sources/vue/src/components/navigation/VtmnTabsItem/VtmnTabsItem.vue
Labels: config 🛠, Svelte 🟠

#1291 refactor(@vtmn/assets): new favicon with white background
  packages/sources/assets/src/assets/decathlon-favicon-black.svg
  packages/sources/assets/src/assets/decathlon-favicon.svg
  packages/sources/assets/src/assets/decathlon-logo-with-outline.svg
  packages/sources/assets/src/assets/decathlon-logo.svg
Labels: enhancement 🚀, assets 🏞

#1293 fix(@vtmn/react): missing accessible name on VtmnAlert
  packages/sources/react/src/components/overlays/VtmnAlert/VtmnAlert.tsx
Labels: bug 🐛, React 🔵

#1294 fix(@vtmn/vue): cancel event is not present in `VtmnChip` component (input variant)
  packages/showcases/vue/stories/components/selection-controls/VtmnChip/VtmnChip.stories.js
  packages/sources/vue/src/components/selection-controls/VtmnChip/VtmnChip.vue
Labels: bug 🐛, Vue 🟢

#1292 refactor(@vtmn/icons, @vtmn/assets): `svgo` config to add `removeDimensions` plugin
  packages/sources/assets/svgo.config.js
  packages/sources/icons/svgo.config.js
Labels: enhancement 🚀, icons ✨, assets 🏞

#1295 feat(@vtmn/react): add ref forwarding on form elements
  packages/sources/react/src/components/forms/VtmnSelect/VtmnSelect.tsx
  packages/sources/react/src/components/forms/VtmnTextInput/VtmnTextInput.tsx
  packages/sources/react/src/components/selection-controls/VtmnCheckbox/VtmnCheckbox.tsx
  packages/sources/react/src/components/selection-controls/VtmnRadioButton/VtmnRadioButton.tsx
  packages/sources/react/src/components/selection-controls/VtmnToggle/VtmnToggle.tsx
Labels: enhancement 🚀, React 🔵
