Repository Decathlon/vitamin-web, pull requests merged in 2022-05, with the labels that each got.

#1138 fix(@vtmn/css): edit `button` icon sizes, increase icon sizes for `icon-alone` variant, a11y
  packages/sources/css/src/components/actions/button/src/index.css
Labels: enhancement 🚀, CSS 🎨, v0 ⛳️

#1135 feat(@vtmn/svelte, @vtmn/react, @vtmn/css): accordion, change `button` variant
  packages/showcases/css/stories/components/structure/accordion/examples/overview.html
  packages/showcases/react/stories/components/structure/VtmnAccordion/VtmnAccordion.stories.tsx
  packages/showcases/svelte/stories/components/structure/VtmnAccordion/VtmnAccordion.stories.svelte
  packages/sources/react/src/components/structure/VtmnAccordion/VtmnAccordion.tsx
  packages/sources/svelte/src/components/structure/VtmnAccordion/VtmnAccordion.svelte
  packages/sources/vue/src/components/structure/VtmnAccordion/VtmnAccordion.vue
Labels: enhancement 🚀, React 🔵, CSS 🎨, Svelte 🟠, v0 ⛳️

#1141 feat(@vtmn/css-quantity): no default border
  packages/sources/css/src/components/selection-controls/quantity/src/index.css
Labels: enhancement 🚀, CSS 🎨, v0 ⛳️

#1144 docs(@vtmn/showcase-core): refacto docs csf
  packages/showcases/core/csf/components/indicators/rating.csf.js
  packages/showcases/core/csf/components/navigation/search.csf.js
  packages/showcases/core/csf/components/overlays/alert.csf.js
  packages/showcases/core/csf/components/overlays/snackbar.csf.js
  packages/showcases/core/csf/components/selection-controls/checkbox.csf.js
  packages/showcases/core/csf/components/selection-controls/quantity.csf.js
  packages/showcases/core/csf/components/selection-controls/radio-button.csf.js
  packages/showcases/core/csf/components/selection-controls/toggle.csf.js
  packages/showcases/core/csf/components/structure/card.csf.js
Labels: documentation 📝, enhancement 🚀, v0 ⛳️

#1148 feat(@vtmn/vue): add `VtmnNavbar` component
  packages/showcases/vue/stories/components/navigation/VtmnNavbar/VtmnNavbar.stories.js
  packages/sources/vue/package.json
  packages/sources/vue/src/components/index.ts
  packages/sources/vue/src/components/navigation/VtmnNavbar/VtmnNavbar.vue
  packages/sources/vue/src/components/navigation/VtmnNavbar/index.ts
  packages/sources/vue/src/index.ts
Labels: enhancement 🚀, Vue 🟢, v0 ⛳️

#1149 feat(@vtmn/vue): add `VtmnRating` component
  packages/showcases/vue/stories/components/indicators/VtmnRating/VtmnRating.stories.js
  packages/sources/svelte/src/components/indicators/VtmnRating/VtmnRating.svelte
  packages/sources/vue/package.json
  packages/sources/vue/src/components/index.ts
  packages/sources/vue/src/components/indicators/VtmnRating/VtmnRating.vue
  packages/sources/vue/src/components/indicators/VtmnRating/index.ts
  packages/sources/vue/src/components/indicators/VtmnRating/types.ts
  packages/sources/vue/src/index.ts
Labels: enhancement 🚀, Vue 🟢, v0 ⛳️

#1153 docs(@vtmn/vue & @vtmn/react): add `VtmnSelect` component documentation for Vue & improve React documentation
  packages/showcases/react/stories/components/forms/VtmnSelect/VtmnSelect.stories.tsx
  packages/showcases/vue/stories/components/forms/VtmnSelect/VtmnSelect.stories.js
Labels: documentation 📝, React 🔵, Vue 🟢, v0 ⛳️

#1154 feat(@vtmn/vue): add `VtmnProgressbar` component
  packages/showcases/vue/stories/components/indicators/VtmnProgressbar/VtmnProgressbar.stories.js
  packages/sources/react/package.json
  packages/sources/react/src/components/indicators/VtmnProgressbar/VtmnProgressbar.tsx
  packages/sources/react/src/components/indicators/VtmnRating/VtmnRating.tsx
  packages/sources/react/src/components/navigation/VtmnSearch/VtmnSearch.tsx
  packages/sources/react/src/components/overlays/VtmnModal/VtmnModal.tsx
  packages/sources/react/src/components/selection-controls/VtmnQuantity/VtmnQuantity.tsx
  packages/sources/react/src/components/structure/VtmnList/VtmnList.tsx
  packages/sources/vue/package.json
  packages/sources/vue/src/components/index.ts
  packages/sources/vue/src/components/indicators/VtmnProgressbar/VtmnProgressbar.vue
  packages/sources/vue/src/components/indicators/VtmnProgressbar/index.ts
  packages/sources/vue/src/components/indicators/VtmnProgressbar/types.ts
  packages/sources/vue/src/index.ts
Labels: enhancement 🚀, Vue 🟢, v0 ⛳️

#1155 feat(@vtmn/vue): add `VtmnList` component
  packages/showcases/vue/stories/components/navigation/.gitkeep
  packages/showcases/vue/stories/components/structure/VtmnList/VtmnList.stories.js
  packages/sources/vue/package.json
  packages/sources/vue/src/components/index.ts
  packages/sources/vue/src/components/navigation/.gitkeep
  packages/sources/vue/src/components/structure/VtmnList/VtmnList.vue
  packages/sources/vue/src/components/structure/VtmnList/index.ts
  packages/sources/vue/src/components/structure/VtmnListItem/VtmnListItem.vue
  packages/sources/vue/src/components/structure/VtmnListItem/index.ts
  packages/sources/vue/src/components/structure/VtmnListItem/types.ts
  packages/sources/vue/src/index.ts
Labels: enhancement 🚀, Vue 🟢, v0 ⛳️

#1140 feat(@vtmn/css): replace physical properties by logical properties
  packages/sources/css/src/components/actions/button/src/index.css
  packages/sources/css/src/components/actions/dropdown/src/index.css
  packages/sources/css/src/components/actions/link/src/index.css
  packages/sources/css/src/components/forms/select/src/index.css
  packages/sources/css/src/components/forms/text-input/src/index.css
  packages/sources/css/src/components/indicators/badge/src/index.css
  packages/sources/css/src/components/indicators/loader/src/index.css
  packages/sources/css/src/components/indicators/price/src/index.css
  packages/sources/css/src/components/indicators/progressbar/src/index.css
  packages/sources/css/src/components/indicators/rating/src/index.css
  packages/sources/css/src/components/indicators/tag/src/index.css
  packages/sources/css/src/components/navigation/breadcrumb/src/index.css
  packages/sources/css/src/components/navigation/navbar/src/index.css
  packages/sources/css/src/components/navigation/search/src/index.css
  packages/sources/css/src/components/navigation/tabs/src/index.css
  packages/sources/css/src/components/overlays/alert/src/index.css
  packages/sources/css/src/components/overlays/modal/src/index.css
  packages/sources/css/src/components/overlays/popover/src/index.css
  packages/sources/css/src/components/overlays/snackbar/src/index.css
  packages/sources/css/src/components/overlays/toast/src/index.css
  packages/sources/css/src/components/overlays/tooltip/src/index.css
  packages/sources/css/src/components/selection-controls/checkbox/src/index.css
  packages/sources/css/src/components/selection-controls/chip/src/index.css
  packages/sources/css/src/components/selection-controls/quantity/src/index.css
  packages/sources/css/src/components/selection-controls/radio-button/src/index.css
  packages/sources/css/src/components/selection-controls/toggle/src/index.css
  packages/sources/css/src/components/structure/accordion/src/index.css
  packages/sources/css/src/components/structure/card/src/index.css
  packages/sources/css/src/components/structure/divider/src/index.css
  packages/sources/css/src/components/structure/list/src/index.css
  packages/sources/css/src/components/structure/skeleton/src/index.css
Labels: enhancement 🚀, CSS 🎨, v0 ⛳️

#1156 feat(@vtmn/react): add `VtmnNavbar` component
  package.json
  packages/showcases/icons/package.json
  packages/showcases/react/stories/components/navigation/VtmnNavbar/VtmnNavbar.stories.tsx
  packages/showcases/vue/package.json
  packages/sources/react/package.json
  packages/sources/react/src/components/forms/VtmnSelect/VtmnSelect.tsx
  packages/sources/react/src/components/navigation/VtmnNavbar/VtmnNavbar.tsx
  packages/sources/react/src/components/navigation/VtmnNavbar/index.ts
  packages/sources/react/src/index.ts
  packages/sources/svelte/src/components/navigation/VtmnNavbar/VtmnNavbar.svelte
  yarn.lock
Labels: enhancement 🚀, React 🔵, v0 ⛳️

#1152 feat(@vtmn/vue): add `VtmnCard` component
  packages/showcases/svelte/stories/components/structure/VtmnCard/VtmnCard.stories.svelte
  packages/showcases/vue/stories/components/structure/VtmnCard/VtmnCard.stories.js
  packages/sources/react/package.json
  packages/sources/vue/package.json
  packages/sources/vue/src/components/index.ts
  packages/sources/vue/src/components/structure/VtmnCard/VtmnCard.vue
  packages/sources/vue/src/components/structure/VtmnCard/index.ts
  packages/sources/vue/src/components/structure/VtmnCard/types.ts
  packages/sources/vue/src/index.ts
Labels: enhancement 🚀, Vue 🟢, v0 ⛳️

#1157 fix(@vtmn/svelte): add id to `VtmnModal`
  packages/sources/svelte/src/components/overlays/VtmnModal/VtmnModal.svelte
  packages/sources/svelte/src/components/overlays/VtmnModal/test/VtmnModal.spec.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1162 fix(@vtmn/css): visual regression of alert component
  packages/showcases/vue/stories/components/structure/VtmnCard/VtmnCard.stories.js
  packages/sources/css/src/components/overlays/alert/src/index.css
Labels: bug 🐛, CSS 🎨

#1163 feat(@vtmn/react): add props on text input and select to control their label
  packages/sources/react/src/components/forms/VtmnSelect/VtmnSelect.tsx
  packages/sources/react/src/components/forms/VtmnTextInput/VtmnTextInput.tsx
Labels: enhancement 🚀, React 🔵, v0 ⛳️

#1165 fix(@vtmn/css): fix scroll padding mobile
  packages/sources/css/src/components/overlays/modal/src/index.css
Labels: enhancement 🚀, CSS 🎨, v0 ⛳️

#1164 fix(@vtmn/svelte): move overlay id to uuid
  packages/sources/svelte/src/components/overlays/VtmnAlert/vtmnAlertStore.js
  packages/sources/svelte/src/components/overlays/VtmnSnackbar/vtmnSnackbarStore.js
  packages/sources/svelte/src/components/overlays/VtmnToast/vtmnToastStore.js
  packages/sources/svelte/src/utils/math.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1166 fix(@vtmn/css): add modal padding
  packages/sources/css/src/components/overlays/modal/src/index.css
Labels: CSS 🎨

#1167 fix(@vtmn/svelte): add on:click event `VtmnLink`
  packages/sources/svelte/src/components/actions/VtmnLink/VtmnLink.svelte
  packages/sources/svelte/src/components/actions/VtmnLink/test/VtmnLink.spec.js
  packages/sources/svelte/src/components/actions/VtmnLink/test/VtmnLinkWithSlots.svelte
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️
