Repository Decathlon/vitamin-web, pull requests merged in 2022-02, with the labels that each got.

#954 feat(@vtmn/vue): add types and props to`VtmnButton` component
  packages/showcases/core/csf/components/actions/button.csf.js
  packages/sources/vue/src/components/VtmnButton/VtmnButton.vue
  packages/sources/vue/src/components/VtmnButton/types.ts
Labels: enhancement 🚀, Vue 🟢

#955 feat(@vtmn/vue): add `VtmnIcon` component
  packages/showcases/core/csf/guidelines/iconography.csf.js
  packages/showcases/vue/stories/VtmnIcon/VtmnIcon.stories.js
  packages/sources/vue/src/components/VtmnIcon/VtmnIcon.vue
  packages/sources/vue/src/components/VtmnIcon/index.ts
  packages/sources/vue/src/components/VtmnIcon/types.ts
  packages/sources/vue/src/index.ts
Labels: enhancement 🚀, Vue 🟢

#956 feat(@vtmn/vue): add reactivity to `VtmnRadioButton` component
  packages/sources/vue/src/components/VtmnRadioButton/VtmnRadioButton.vue
Labels: enhancement 🚀, Vue 🟢

#960 fix(@vtmn/svelte): move import style into <style> element
  packages/sources/svelte/src/components/VtmnButton.svelte
  packages/sources/svelte/src/components/VtmnLink.svelte
  packages/sources/svelte/src/components/VtmnPopover.svelte
  packages/sources/svelte/src/components/VtmnTextInput.svelte
Labels: bug 🐛, Svelte 🟠, v0 ⛳️

#962 refactor(@vtmn/vue): file structure
  packages/showcases/vue/.storybook/main.js
  packages/showcases/vue/.storybook/preview.js
  packages/showcases/vue/stories/components/actions/VtmnButton/VtmnButton.stories.js
  packages/showcases/vue/stories/components/actions/VtmnLink/VtmnLink.stories.js
  packages/showcases/vue/stories/components/forms/VtmnTextInput/VtmnTextInput.stories.js
  packages/showcases/vue/stories/components/indicators/.gitkeep
  packages/showcases/vue/stories/components/navigation/.gitkeep
  packages/showcases/vue/stories/components/overlays/.gitkeep
  packages/showcases/vue/stories/components/selection-controls/VtmnCheckbox/VtmnCheckbox.stories.js
  packages/showcases/vue/stories/components/selection-controls/VtmnRadioButton/VtmnRadioButton.stories.js
  packages/showcases/vue/stories/components/selection-controls/VtmnToggle/VtmnToggle.stories.js
  packages/showcases/vue/stories/components/structure/.gitkeep
  packages/showcases/vue/stories/guidelines/iconography/VtmnIcon/VtmnIcon.stories.js
  packages/sources/vue/src/components/actions/VtmnButton/VtmnButton.vue
  packages/sources/vue/src/components/actions/VtmnButton/index.ts
  packages/sources/vue/src/components/actions/VtmnButton/types.ts
  packages/sources/vue/src/components/actions/VtmnLink/VtmnLink.vue
  packages/sources/vue/src/components/actions/VtmnLink/index.ts
  packages/sources/vue/src/components/forms/VtmnTextInput/VtmnTextInput.vue
  packages/sources/vue/src/components/forms/VtmnTextInput/index.ts
  packages/sources/vue/src/components/index.ts
  packages/sources/vue/src/components/indicators/.gitkeep
  packages/sources/vue/src/components/navigation/.gitkeep
  packages/sources/vue/src/components/overlays/.gitkeep
  packages/sources/vue/src/components/selection-controls/VtmnCheckbox/VtmnCheckbox.vue
  packages/sources/vue/src/components/selection-controls/VtmnCheckbox/index.ts
  packages/sources/vue/src/components/selection-controls/VtmnRadioButton/VtmnRadioButton.vue
  packages/sources/vue/src/components/selection-controls/VtmnRadioButton/index.ts
  packages/sources/vue/src/components/selection-controls/VtmnToggle/VtmnToggle.vue
  packages/sources/vue/src/components/selection-controls/VtmnToggle/index.ts
  packages/sources/vue/src/components/structure/.gitkeep
  packages/sources/vue/src/guidelines/iconography/VtmnIcon/VtmnIcon.vue
  packages/sources/vue/src/guidelines/iconography/VtmnIcon/index.ts
  packages/sources/vue/src/guidelines/iconography/VtmnIcon/types.ts
  packages/sources/vue/src/guidelines/index.ts
  packages/sources/vue/src/index.ts
Labels: enhancement 🚀, Vue 🟢, v0 ⛳️

#966 feat(@vtmn/svelte): add price component
  packages/showcases/svelte/stories/components/indicators/VtmnPrice/VtmnPrice.stories.svelte
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/index.js
  packages/sources/svelte/src/components/indicators/VtmnPrice/VtmnPrice.svelte
  packages/sources/svelte/src/components/indicators/VtmnPrice/enums.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#967 feat(@vtmn/vue): add `VtmnToggle` and `VtmnCheckbox` reactivity
  packages/sources/vue/src/components/selection-controls/VtmnCheckbox/VtmnCheckbox.vue
  packages/sources/vue/src/components/selection-controls/VtmnToggle/VtmnToggle.vue
  packages/sources/vue/src/components/selection-controls/VtmnToggle/types.ts
Labels: enhancement 🚀, Vue 🟢, v0 ⛳️

#968 feat(@vtmn/vue): add `VtmnLink` types
  packages/sources/vue/src/components/actions/VtmnLink/VtmnLink.vue
  packages/sources/vue/src/components/actions/VtmnLink/types.ts
Labels: enhancement 🚀, Vue 🟢, v0 ⛳️

#972 fix(@vtmn/css): bug display of the progressbar
  packages/showcases/css/stories/components/indicators/progressbar/examples/circular.html
  packages/showcases/css/stories/components/indicators/progressbar/examples/circular.runscript.js
  packages/showcases/css/stories/components/indicators/progressbar/examples/linear.html
  packages/showcases/css/stories/components/indicators/progressbar/examples/linear.runscript.js
  packages/showcases/css/stories/components/indicators/progressbar/examples/overview.html
Labels: enhancement 🚀, CSS 🎨

#977 fix(@vtmn/css): add aria-invalid for quantity, text-input and select
  packages/showcases/css/stories/components/forms/select/examples/error.html
  packages/showcases/css/stories/components/forms/text-input/examples/error.html
  packages/showcases/css/stories/components/forms/text-input/examples/multiline.html
  packages/showcases/css/stories/components/forms/text-input/examples/valid.html
  packages/showcases/css/stories/components/selection-controls/quantity/examples/overview.html
Labels: enhancement 🚀, CSS 🎨

#988 fix(@vtmn/css): change margin holders for quantity and select.
  packages/sources/css/src/components/forms/select/src/index.css
  packages/sources/css/src/components/forms/text-input/src/index.css
  packages/sources/css/src/components/selection-controls/quantity/src/index.css
Labels: enhancement 🚀, CSS 🎨

#978 docs(@vtmn/css): refactoring showcase doc for rating
  packages/showcases/css/stories/components/indicators/rating/examples/interactive.html
  packages/showcases/css/stories/components/indicators/rating/examples/overview.html
  packages/showcases/css/stories/components/indicators/rating/examples/read-only.html
  packages/sources/css/src/components/indicators/rating/src/index.css
Labels: documentation 📝, enhancement 🚀, CSS 🎨, v0 ⛳️

#991 fix(@vtmn/css): modal radius + overview fix
  packages/showcases/css/stories/components/overlays/modal/examples/overview.html
  packages/sources/css/src/components/overlays/modal/src/index.css
Labels: enhancement 🚀, CSS 🎨, v0 ⛳️

#993 fix(storybook): rollback svelte storybook version
  packages/showcases/svelte/package.json
Labels: bug 🐛, Svelte 🟠, v0 ⛳️

#994 chore(svelte): remove exports + clean css
  packages/sources/svelte/package.json
  packages/sources/svelte/src/index.js
Labels: bug 🐛, Svelte 🟠, v0 ⛳️

#980 feat(@vtmn/css): refactor border color + add new shadow colors
  packages/sources/css/src/components/actions/dropdown/src/index.css
  packages/sources/css/src/components/overlays/modal/src/index.css
  packages/sources/css/src/design-tokens/src/shadows.css
  packages/sources/css/src/design-tokens/src/themes/core-dark.css
  packages/sources/css/src/design-tokens/src/themes/core-light.css
  packages/sources/css/src/design-tokens/src/themes/default.css
Labels: enhancement 🚀, CSS 🎨, v0 ⛳️

#995 refactor(@vtmn/css): indeterminate state for checkbox
  packages/showcases/css/stories/components/selection-controls/checkbox/examples/indeterminate.html
  packages/sources/css/src/components/selection-controls/checkbox/src/index.css
Labels: enhancement 🚀, CSS 🎨

#992 fix(build): fix build on Windows
  CONTRIBUTING.md
  packages/sources/icons/package.json
  packages/sources/react/package.json
  packages/sources/vue/src/guidelines/iconography/VtmnIcon/VtmnIcon.vue
  yarn.lock
Labels: bug 🐛, v0 ⛳️

#987 feat(@vtmn/svelte): add badge component
  packages/showcases/svelte/stories/components/indicators/VtmnBadge/VtmnBadge.stories.svelte
  packages/showcases/svelte/stories/components/indicators/VtmnBadge/docs.mdx
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/index.js
  packages/sources/svelte/src/components/indicators/VtmnBadge/VtmnBadge.svelte
  packages/sources/svelte/src/components/indicators/VtmnBadge/enums.js
  yarn.lock
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#996 fix(@vtmn/css): fix arrow position select
  packages/sources/css/src/components/forms/select/src/index.css
Labels: enhancement 🚀, CSS 🎨
