Repository Decathlon/vitamin-web, pull requests merged in 2022-07, with the labels that each got.

#1219 fix(@vtmn/css): `height:auto` in the `<label>` of `VtmnDropdown` component
  packages/sources/css/src/components/actions/dropdown/src/index.css
Labels: bug 🐛, CSS 🎨, v0 ⛳️

#1218 fix(@vtmn/css-tailwind-preset): add types
  packages/sources/css/presets/tailwind/package.json
  packages/sources/css/presets/tailwind/src/index.ts
  packages/sources/css/presets/tailwind/src/theme.ts
  packages/sources/css/presets/tailwind/tsconfig.json
  yarn.lock
Labels: bug 🐛, CSS 🎨, config 🛠, v0 ⛳️

#1220 fix(@vtmn/svelte): `VtmnDivider` component `labelId` & default `<slot></slot>`
  packages/sources/svelte/src/components/structure/VtmnDivider/VtmnDivider.svelte
  packages/sources/svelte/src/components/structure/VtmnDivider/test/VtmnDivider.spec.js
Labels: bug 🐛, Svelte 🟠

#1222 fix(@vtmn/css-tailwind-preset): add types
  package.json
  packages/sources/css/presets/tailwind/package.json
  packages/sources/css/presets/tailwind/src/index.ts
  packages/sources/css/presets/tailwind/src/theme.ts
  packages/sources/css/presets/tailwind/tsconfig.json
  yarn.lock
Labels: bug 🐛, CSS 🎨

#1224 fix(@vtmn/svelte): prevent body scroll on mobile for `VtmnModal`
  packages/sources/svelte/src/components/overlays/VtmnModal/VtmnModal.svelte
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️
