Repository Decathlon/vitamin-web, pull requests merged in 2022-09, with the labels that each got.

#1250 fix(@vtmn/svelte): add export inputRef into the component `VtmnSearch`
  packages/sources/svelte/src/components/navigation/VtmnSearch/VtmnSearch.svelte
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1243 feat(@vtmn/svelte): add `on:input` and `on:change` on `VtmnTextInput` component
  packages/showcases/core/csf/components/forms/text-input.csf.js
  packages/sources/svelte/src/components/forms/VtmnTextInput/VtmnTextInput.svelte
  packages/sources/svelte/src/components/forms/VtmnTextInput/test/VtmnTextInput.spec.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1252 fix(@vtmn/svelte): add unit param on `VtmnSkeleton`
  packages/showcases/core/csf/components/structure/skeleton.csf.js
  packages/sources/svelte/src/components/structure/VtmnSkeleton/VtmnSkeleton.svelte
  packages/sources/svelte/src/components/structure/VtmnSkeleton/enums.js
  packages/sources/svelte/src/components/structure/VtmnSkeleton/test/vtmnSkeleton.spec.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1247 fix(@vtmn/svelte): add aria-label for accessibility on `VtmnRating`
  packages/sources/svelte/src/components/indicators/VtmnRating/VtmnRating.svelte
  packages/sources/svelte/src/components/indicators/VtmnRating/test/VtmnRating.spec.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1233 refactor(@vtmn/css): `tabs` demo showcase + rework a11y
  packages/showcases/css/stories/components/navigation/tabs/examples/demo.html
  packages/showcases/css/stories/components/navigation/tabs/examples/demo.runscript.js
  packages/showcases/css/stories/components/navigation/tabs/examples/medium.html
  packages/showcases/css/stories/components/navigation/tabs/examples/overview.html
  packages/showcases/css/stories/components/navigation/tabs/examples/small.html
  packages/showcases/css/stories/components/navigation/tabs/tabs.stories.js
  packages/showcases/react/stories/components/navigation/VtmnTabs/VtmnTabs.stories.tsx
  packages/showcases/svelte/stories/components/navigation/VtmnTabs/VtmnTabs.stories.svelte
  packages/showcases/vue/stories/components/navigation/VtmnTabs/VtmnTabs.stories.js
  packages/sources/css/src/components/navigation/tabs/src/index.css
  packages/sources/react/src/components/navigation/VtmnTabs/VtmnTabs.tsx
  packages/sources/react/src/components/navigation/VtmnTabs/VtmnTabsItem.tsx
  packages/sources/svelte/src/components/navigation/VtmnTabs/VtmnTabs.svelte
  packages/sources/svelte/src/components/navigation/VtmnTabsItem/VtmnTabsItem.svelte
  packages/sources/svelte/src/components/navigation/VtmnTabsItem/test/VtmnTabsItem.spec.js
  packages/sources/vue/src/components/navigation/VtmnTabs/VtmnTabs.vue
  packages/sources/vue/src/components/navigation/VtmnTabsItem/VtmnTabsItem.vue
Labels: enhancement 🚀, CSS 🎨, v0 ⛳️

#1258 fix(@vtmn/svelte): class on the `VtmnSearch`
  packages/sources/svelte/src/components/navigation/VtmnSearch/VtmnSearch.svelte
  packages/sources/svelte/src/components/navigation/VtmnSearch/test/VtmnSearch.spec.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1261 fix(@vtmn/css, @vtmn/svelte, @vtmn/react, @vtmn/vue): popover position & a11y (#1259)
  packages/showcases/css/stories/components/overlays/popover/examples/overview.html
  packages/showcases/svelte/stories/components/overlays/VtmnPopover/VtmnPopover.stories.svelte
  packages/sources/css/src/components/overlays/popover/src/index.css
  packages/sources/react/src/components/overlays/VtmnPopover/VtmnPopover.tsx
  packages/sources/svelte/src/components/overlays/VtmnPopover/VtmnPopover.svelte
  packages/sources/svelte/src/components/overlays/VtmnPopover/test/VtmnPopover.spec.js
  packages/sources/vue/src/components/overlays/VtmnPopover/VtmnPopover.vue
Labels: bug 🐛, enhancement 🚀, React 🔵, CSS 🎨, Svelte 🟠, Vue 🟢, v0 ⛳️
