Repository Decathlon/vitamin-web, pull requests merged in 2022-06, with the labels that each got.

#1170 fix(@vtmn/svelte): `VtmnSearch` hide clear button if no value
  packages/showcases/svelte/stories/components/navigation/VtmnSearch/VtmnSearch.stories.svelte
  packages/sources/svelte/src/components/navigation/VtmnSearch/VtmnSearch.svelte
  packages/sources/svelte/src/components/navigation/VtmnSearch/test/VtmnSearch.spec.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1177 feat(@vtmn/css): add focus-loop on modal demo
  packages/showcases/css/stories/components/overlays/modal/examples/demo.html
  packages/showcases/css/stories/components/overlays/modal/examples/demo.runscript.js
Labels: enhancement 🚀, CSS 🎨, v0 ⛳️

#1187 fix(@vtmn/css): change borders `quantity` component
  packages/sources/css/src/components/selection-controls/quantity/src/index.css
Labels: enhancement 🚀, CSS 🎨

#1189 feat(@vtmn/css): add zoom-in and zoom-out icons
  packages/sources/icons/src/vitamix/zoom-in-fill.svg
  packages/sources/icons/src/vitamix/zoom-in-line.svg
  packages/sources/icons/src/vitamix/zoom-out-fill.svg
  packages/sources/icons/src/vitamix/zoom-out-line.svg
Labels: enhancement 🚀, icons ✨

#1188 fix(@vtmn/css): linear gradient full image card
  packages/sources/css/src/components/structure/card/src/index.css
Labels: enhancement 🚀, CSS 🎨

#1196 feat(@vtmn/css): remove some ratings showcase examples
  packages/showcases/css/stories/components/indicators/rating/examples/overview.html
  packages/showcases/css/stories/components/indicators/rating/examples/read-only.html
Labels: enhancement 🚀, CSS 🎨, v0 ⛳️

#1194 feat(@vtmn/css): change border colors, add missing colors in color themes
  packages/showcases/css/.storybook/preview-head.html
  packages/showcases/icons/.storybook/preview-head.html
  packages/showcases/react/.storybook/preview-head.html
  packages/showcases/svelte/.storybook/preview-head.html
  packages/showcases/vue/.storybook/preview-head.html
  packages/sources/css/presets/tailwind/theme.js
  packages/sources/css/src/components/actions/button/src/index.css
  packages/sources/css/src/components/indicators/badge/src/index.css
  packages/sources/css/src/components/structure/accordion/src/index.css
  packages/sources/css/src/components/structure/divider/src/index.css
  packages/sources/css/src/components/structure/list/src/index.css
  packages/sources/css/src/design-tokens/src/shadows.css
  packages/sources/css/src/design-tokens/src/themes/core-dark.css
  packages/sources/css/src/design-tokens/src/themes/core-light.css
  packages/sources/css/src/design-tokens/src/themes/default.css
Labels: enhancement 🚀, CSS 🎨, v0 ⛳️

#1137 feat(@vtmn/css, @vtmn/react, @vtmn/svelte, @vtmn/vue): `divider`, add a11y requirements
  packages/showcases/core/csf/components/structure/divider.csf.js
  packages/showcases/css/stories/components/structure/divider/examples/horizontal.html
  packages/showcases/css/stories/components/structure/divider/examples/overview.html
  packages/showcases/css/stories/components/structure/divider/examples/vertical.html
  packages/showcases/react/stories/components/structure/VtmnDivider/VtmnDivider.stories.tsx
  packages/showcases/svelte/stories/components/structure/VtmnDivider/VtmnDivider.stories.svelte
  packages/showcases/vue/stories/components/structure/VtmnDivider/VtmnDivider.stories.js
  packages/sources/react/src/components/structure/VtmnDivider/VtmnDivider.tsx
  packages/sources/svelte/src/components/structure/VtmnDivider/VtmnDivider.svelte
  packages/sources/svelte/src/components/structure/VtmnDivider/test/VtmnDivider.spec.js
  packages/sources/svelte/src/components/structure/VtmnDivider/test/VtmnDividerWithSlots.svelte
  packages/sources/vue/src/components/structure/VtmnDivider/VtmnDivider.vue
Labels: enhancement 🚀, React 🔵, CSS 🎨, Svelte 🟠, Vue 🟢, v0 ⛳️

#1168 feat(@vtmn/css, @vtmn/react, @vtmn/svelte, @vtmn/vue): add or improve `VtmnTabs` component
  packages/showcases/react/stories/components/navigation/VtmnTabs/VtmnTabs.stories.tsx
  packages/showcases/svelte/stories/components/navigation/VtmnTabs/VtmnTabs.stories.svelte
  packages/showcases/vue/stories/components/navigation/VtmnTabs/VtmnTabs.stories.js
  packages/sources/css/src/components/navigation/tabs/src/index.css
  packages/sources/react/package.json
  packages/sources/react/src/components/navigation/VtmnTabs/VtmnTabs.tsx
  packages/sources/react/src/components/navigation/VtmnTabs/VtmnTabsItem.tsx
  packages/sources/react/src/components/navigation/VtmnTabs/index.ts
  packages/sources/react/src/components/navigation/VtmnTabs/types.ts
  packages/sources/react/src/index.ts
  packages/sources/svelte/src/components/navigation/VtmnTabs/VtmnTabs.svelte
  packages/sources/svelte/src/components/navigation/VtmnTabsItem/VtmnTabsItem.svelte
  packages/sources/vue/package.json
  packages/sources/vue/src/components/index.ts
  packages/sources/vue/src/components/navigation/VtmnTabs/VtmnTabs.vue
  packages/sources/vue/src/components/navigation/VtmnTabs/index.ts
  packages/sources/vue/src/components/navigation/VtmnTabs/types.ts
  packages/sources/vue/src/components/navigation/VtmnTabsItem/VtmnTabsItem.vue
  packages/sources/vue/src/components/navigation/VtmnTabsItem/index.ts
  packages/sources/vue/src/index.ts
Labels: enhancement 🚀, React 🔵, CSS 🎨, Svelte 🟠, Vue 🟢, v0 ⛳️

#1169 feat(@vtmn/react, @vtmn/vue): add `VtmnDropdown` component
  packages/showcases/react/stories/components/actions/VtmnDropdown/VtmnDropdown.stories.tsx
  packages/showcases/vue/stories/components/actions/VtmnDropdown/VtmnDropdown.stories.js
  packages/showcases/vue/stories/components/selection-controls/VtmnCheckbox/VtmnCheckbox.stories.js
  packages/sources/react/src/components/actions/VtmnDropdown/VtmnDropdown.tsx
  packages/sources/react/src/components/actions/VtmnDropdown/VtmnDropdownItem.tsx
  packages/sources/react/src/components/actions/VtmnDropdown/index.ts
  packages/sources/react/src/index.ts
  packages/sources/vue/src/components/actions/VtmnDropdown/VtmnDropdown.vue
  packages/sources/vue/src/components/actions/VtmnDropdown/index.ts
  packages/sources/vue/src/components/actions/VtmnDropdownItem/VtmnDropdownItem.vue
  packages/sources/vue/src/components/actions/VtmnDropdownItem/index.ts
  packages/sources/vue/src/components/index.ts
  packages/sources/vue/src/index.ts
Labels: enhancement 🚀, React 🔵, Vue 🟢, v0 ⛳️
