Repository Decathlon/vitamin-web, pull requests merged in 2022-01, with the labels that each got.

#833 feat(@vtmn/css): add quantity component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  README.md
  packages/showcases/css/stories/components/quantity/examples/overview.html
  packages/showcases/css/stories/components/quantity/quantity.stories.js
  packages/sources/css/src/components/badge/src/index.css
  packages/sources/css/src/components/index.css
  packages/sources/css/src/components/quantity/CHANGELOG.md
  packages/sources/css/src/components/quantity/README.md
  packages/sources/css/src/components/quantity/build.js
  packages/sources/css/src/components/quantity/package.json
  packages/sources/css/src/components/quantity/postcss.config.js
  packages/sources/css/src/components/quantity/sonar-project.properties
  packages/sources/css/src/components/quantity/src/index.css
  workspace.json
Labels: enhancement 🚀, CSS 🎨

#837 refactor: dependencies and warnings
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  .vscode/settings.json
  CONTRIBUTING.md
  LICENSE
  README.md
  nx.json
  package.json
  packages/showcases/css/.storybook/main.js
  packages/showcases/css/package.json
  packages/showcases/icons/.storybook/main.js
  packages/showcases/icons/package.json
  packages/showcases/react/.storybook/main.js
  packages/showcases/react/package.json
  packages/showcases/svelte/.storybook/main.js
  packages/showcases/svelte/package.json
  packages/showcases/vue/.storybook/main.js
  packages/showcases/vue/package.json
  packages/sources/css/config/postcss/package.json
  packages/sources/css/package.json
  packages/sources/icons/CHANGELOG.md
  packages/sources/icons/package.json
  packages/sources/react/.eslintignore
  packages/sources/react/.eslintrc
  packages/sources/react/package.json
  packages/sources/react/rollup.config.js
  packages/sources/react/src/components/VtmnAlert/VtmnAlert.tsx
  packages/sources/react/src/components/VtmnCheckbox/VtmnCheckbox.tsx
  packages/sources/react/src/components/VtmnLink/VtmnLink.tsx
  packages/sources/react/src/components/VtmnLoader/VtmnLoader.tsx
  packages/sources/react/src/components/VtmnRadioButton/VtmnRadioButton.tsx
  packages/sources/react/src/components/VtmnSelect/VtmnSelect.tsx
  packages/sources/react/src/components/VtmnTextInput/VtmnTextInput.tsx
  packages/sources/react/src/components/VtmnToggle/VtmnToggle.tsx
  packages/sources/react/src/components/VtmnTooltip/VtmnTooltip.tsx
  packages/sources/react/src/setupTests.ts
  packages/sources/react/src/typings.ts
  packages/sources/react/tsconfig.test.json
  packages/sources/svelte/package.json
  packages/sources/vue/package.json
  yarn.lock
Labels: config 🛠

#814 feat(@vtmn/css): add list component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  README.md
  packages/showcases/css/stories/components/list/examples/medium.html
  packages/showcases/css/stories/components/list/examples/overview.html
  packages/showcases/css/stories/components/list/examples/small.html
  packages/showcases/css/stories/components/list/list.stories.js
  packages/sources/css/src/components/index.css
  packages/sources/css/src/components/list/CHANGELOG.md
  packages/sources/css/src/components/list/README.md
  packages/sources/css/src/components/list/build.js
  packages/sources/css/src/components/list/package.json
  packages/sources/css/src/components/list/postcss.config.js
  packages/sources/css/src/components/list/sonar-project.properties
  packages/sources/css/src/components/list/src/index.css
  workspace.json
Labels: enhancement 🚀, CSS 🎨

#846 feat(@vtmn/css): add tag component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  README.md
  packages/showcases/css/stories/components/tag/examples/overview.html
  packages/showcases/css/stories/components/tag/tag.stories.js
  packages/sources/css/src/components/chip/src/index.css
  packages/sources/css/src/components/index.css
  packages/sources/css/src/components/tag/CHANGELOG.md
  packages/sources/css/src/components/tag/README.md
  packages/sources/css/src/components/tag/build.js
  packages/sources/css/src/components/tag/package.json
  packages/sources/css/src/components/tag/postcss.config.js
  packages/sources/css/src/components/tag/sonar-project.properties
  packages/sources/css/src/components/tag/src/index.css
  packages/sources/css/src/design-tokens/src/themes/core-dark.css
  packages/sources/css/src/design-tokens/src/themes/core-light.css
  packages/sources/css/src/design-tokens/src/themes/default.css
  workspace.json
Labels: enhancement 🚀, CSS 🎨

#847 feat(@vtmn/css): add price component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  README.md
  packages/showcases/css/stories/components/price/examples/overview.html
  packages/showcases/css/stories/components/price/price.stories.js
  packages/sources/css/src/components/index.css
  packages/sources/css/src/components/price/CHANGELOG.md
  packages/sources/css/src/components/price/README.md
  packages/sources/css/src/components/price/build.js
  packages/sources/css/src/components/price/package.json
  packages/sources/css/src/components/price/postcss.config.js
  packages/sources/css/src/components/price/sonar-project.properties
  packages/sources/css/src/components/price/src/index.css
  workspace.json
Labels: enhancement 🚀, CSS 🎨

#867 feat(@vtmn/css): add aria-describedby prop for input components
  packages/showcases/css/stories/components/quantity/examples/overview.html
  packages/showcases/css/stories/components/select/examples/error.html
  packages/showcases/css/stories/components/text-input/examples/disabled.html
  packages/showcases/css/stories/components/text-input/examples/error.html
  packages/showcases/css/stories/components/text-input/examples/multiline.html
  packages/showcases/css/stories/components/text-input/examples/overview.html
  packages/showcases/css/stories/components/text-input/examples/valid.html
Labels: enhancement 🚀, CSS 🎨

#866 feat(@vtmn/css): add transition on focus-visible
  packages/showcases/css/package.json
  packages/showcases/icons/package.json
  packages/showcases/react/package.json
  packages/showcases/svelte/package.json
  packages/showcases/vue/package.json
  packages/sources/css/src/components/breadcrumb/src/index.css
  packages/sources/css/src/components/button/src/index.css
  packages/sources/css/src/components/checkbox/src/index.css
  packages/sources/css/src/components/chip/src/index.css
  packages/sources/css/src/components/link/src/index.css
  packages/sources/css/src/components/list/src/index.css
  packages/sources/css/src/components/quantity/src/index.css
  packages/sources/css/src/components/radio-button/src/index.css
  packages/sources/css/src/components/search/src/index.css
  packages/sources/css/src/components/select/src/index.css
  packages/sources/css/src/components/tabs/src/index.css
  packages/sources/css/src/components/tag/src/index.css
  packages/sources/css/src/components/text-input/src/index.css
  packages/sources/css/src/components/toggle/src/index.css
  packages/sources/css/src/design-tokens/src/index.css
  packages/sources/css/src/design-tokens/src/transitions.css
  yarn.lock
Labels: enhancement 🚀, CSS 🎨

#850 feat(@vtmn/react): update icon variants
  packages/showcases/core/csf/components/VtmnIcon.csf.js
  packages/sources/react/src/components/VtmnIcon/VtmnIcon.tsx
  packages/sources/react/src/components/VtmnIcon/types.ts
Labels: enhancement 🚀, React 🔵

#880 refactor(@vtmn/css-tailwind-preset): export theme config object
  packages/sources/css/presets/tailwind/index.js
  packages/sources/css/presets/tailwind/package.json
  packages/sources/css/presets/tailwind/tailwind-preset.js
  packages/sources/css/presets/tailwind/theme.js
Labels: bug 🐛, CSS 🎨

#881 docs(@vtmn/css-showcase): add iconography documentation
  packages/showcases/css/stories/guidelines/iconography/iconography.stories.mdx
Labels: documentation 📝, CSS 🎨

#884 fix(@vtmn/css): animation alert disapearing
  packages/sources/css/src/design-tokens/src/animations.css
Labels: enhancement 🚀, CSS 🎨

#890 feat(@vtmn/css): fix alignements + font style shortcut
  packages/showcases/css/stories/components/badge/examples/overview.html
  packages/sources/css/src/components/badge/src/index.css
  packages/sources/css/src/components/chip/src/index.css
Labels: enhancement 🚀, CSS 🎨

#865 refactor(@vtmn/css-rating): improve accessibility with keyboard + screen reader
  packages/showcases/css/stories/components/rating/examples/interactive.html
  packages/showcases/css/stories/components/rating/examples/medium.html
  packages/showcases/css/stories/components/rating/examples/overview.html
  packages/showcases/css/stories/components/rating/examples/read-only.html
  packages/showcases/css/stories/components/rating/examples/small.html
  packages/sources/css/src/components/rating/src/index.css
Labels: enhancement 🚀, CSS 🎨

#907 feat(@vtmn/css): fix active primary colour light/dark theme
  packages/sources/css/src/design-tokens/src/themes/core-dark.css
  packages/sources/css/src/design-tokens/src/themes/core-light.css
  packages/sources/css/src/design-tokens/src/themes/default.css
Labels: enhancement 🚀, CSS 🎨

#908 feat(@vtmn/css): add radius design tokens + imports in css
  packages/showcases/css/stories/components/structure/skeleton/examples/overview.html
  packages/showcases/icons/.storybook/preview-head.html
  packages/sources/css/src/components/actions/button/src/index.css
  packages/sources/css/src/components/forms/select/src/index.css
  packages/sources/css/src/components/forms/text-input/src/index.css
  packages/sources/css/src/components/indicators/badge/src/index.css
  packages/sources/css/src/components/indicators/price/src/index.css
  packages/sources/css/src/components/indicators/progressbar/src/index.css
  packages/sources/css/src/components/indicators/tag/src/index.css
  packages/sources/css/src/components/navigation/search/src/index.css
  packages/sources/css/src/components/overlays/alert/src/index.css
  packages/sources/css/src/components/overlays/modal/src/index.css
  packages/sources/css/src/components/overlays/popover/src/index.css
  packages/sources/css/src/components/overlays/snackbar/src/index.css
  packages/sources/css/src/components/overlays/toast/src/index.css
  packages/sources/css/src/components/overlays/tooltip/src/index.css
  packages/sources/css/src/components/selection-controls/chip/src/index.css
  packages/sources/css/src/components/selection-controls/quantity/src/index.css
  packages/sources/css/src/components/selection-controls/toggle/src/index.css
  packages/sources/css/src/components/structure/card/src/index.css
  packages/sources/css/src/components/structure/skeleton/src/index.css
  packages/sources/css/src/design-tokens/src/index.css
  packages/sources/css/src/design-tokens/src/radius.css
Labels: enhancement 🚀, CSS 🎨

#911 feat(@vtmn/css): improve PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation 📝, enhancement 🚀

#912 feat(@vtmn/css): add trophy icons
  packages/sources/icons/src/vitamix/trophy-fill.svg
  packages/sources/icons/src/vitamix/trophy-line.svg
Labels: enhancement 🚀, icons ✨

#909 feat(@vtmn/css): add four new svg images
  packages/sources/icons/src/vitamix/send-plane-2-fill.svg
  packages/sources/icons/src/vitamix/send-plane-2-line.svg
  packages/sources/icons/src/vitamix/send-plane-fill.svg
  packages/sources/icons/src/vitamix/send-plane-line.svg
Labels: icons ✨

#910 feat(@vtmn/icons): add 14 new svg icons
  packages/sources/icons/src/vitamix/bar-chart-fill.svg
  packages/sources/icons/src/vitamix/bar-chart-line.svg
  packages/sources/icons/src/vitamix/football-fill.svg
  packages/sources/icons/src/vitamix/football-line.svg
  packages/sources/icons/src/vitamix/leaf-fill.svg
  packages/sources/icons/src/vitamix/leaf-line.svg
  packages/sources/icons/src/vitamix/lightbulb-fill.svg
  packages/sources/icons/src/vitamix/lightbulb-line.svg
  packages/sources/icons/src/vitamix/pie-chart-fill.svg
  packages/sources/icons/src/vitamix/pie-chart-line.svg
  packages/sources/icons/src/vitamix/price-tag-fill.svg
  packages/sources/icons/src/vitamix/price-tag-line.svg
  packages/sources/icons/src/vitamix/rss-fill.svg
  packages/sources/icons/src/vitamix/rss-line.svg
Labels: icons ✨

#913 feat(@vtmn/css): add activeTertiaryReversedTransparent
  packages/sources/css/src/design-tokens/src/themes/core-dark.css
  packages/sources/css/src/design-tokens/src/themes/core-light.css
  packages/sources/css/src/design-tokens/src/themes/default.css
Labels: enhancement 🚀, CSS 🎨

#917 fix(@vtmn/css-design-tokens): missing commas
  .prettierignore
  .stylelintrc.json
  packages/sources/css/src/design-tokens/src/base-colors.css
Labels: bug 🐛, CSS 🎨

#915 feat(@vtmn/css): change snackbar button variant
  packages/showcases/css/stories/components/overlays/snackbar/examples/overview.html
Labels: enhancement 🚀, CSS 🎨

#914 feat(@vtmn/css): rename hoverBrandReversedTransparent
  packages/sources/css/src/design-tokens/src/themes/core-dark.css
  packages/sources/css/src/design-tokens/src/themes/core-light.css
  packages/sources/css/src/design-tokens/src/themes/default.css
Labels: enhancement 🚀, CSS 🎨

#848 feat(@vtmn/css): add accordion component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  README.md
  package.json
  packages/showcases/css/stories/components/structure/accordion/accordion.stories.js
  packages/showcases/css/stories/components/structure/accordion/examples/overview.html
  packages/sources/css/package.json
  packages/sources/css/src/components/structure/accordion/CHANGELOG.md
  packages/sources/css/src/components/structure/accordion/README.md
  packages/sources/css/src/components/structure/accordion/build.js
  packages/sources/css/src/components/structure/accordion/package.json
  packages/sources/css/src/components/structure/accordion/postcss.config.js
  packages/sources/css/src/components/structure/accordion/sonar-project.properties
  packages/sources/css/src/components/structure/accordion/src/index.css
  packages/sources/css/src/components/structure/index.css
  packages/sources/css/src/design-tokens/src/index.css
  packages/sources/css/src/design-tokens/src/radius.css
  workspace.json
  yarn.lock
Labels: enhancement 🚀, CSS 🎨

#918 feat(@vtmn/css): add alert variant and remove line height
  packages/showcases/css/stories/components/indicators/badge/badge.stories.js
  packages/showcases/css/stories/components/indicators/badge/examples/alert.html
  packages/sources/css/src/components/indicators/badge/src/index.css
  yarn.lock
Labels: enhancement 🚀, CSS 🎨

#919 docs: fix button stretched showcases
  package.json
  packages/showcases/react/stories/components/VtmnButton/VtmnButton.stories.tsx
  packages/showcases/svelte/stories/components/VtmnButton/VtmnButton.stories.svelte
  packages/showcases/vue/stories/VtmnButton/VtmnButton.stories.js
  yarn.lock
Labels: documentation 📝, React 🔵, Svelte 🟠, Vue 🟢

#920 feat(@vtmn/css): remove acccordion list-type
  packages/sources/css/src/components/structure/accordion/src/index.css
Labels: CSS 🎨

#925 refactor(@vtmn/css): remove focus visible when disabled
  packages/showcases/css/stories/components/indicators/rating/examples/medium.html
  packages/showcases/css/stories/components/indicators/rating/examples/small.html
  packages/sources/css/src/components/indicators/rating/src/index.css
Labels: enhancement 🚀, CSS 🎨

#924 feat(@vtmn/css): add showcase with text for text input
  packages/showcases/css/stories/components/forms/text-input/examples/disabled.html
  packages/showcases/css/stories/components/forms/text-input/examples/error.html
  packages/showcases/css/stories/components/forms/text-input/examples/multiline.html
  packages/showcases/css/stories/components/forms/text-input/examples/overview.html
  packages/showcases/css/stories/components/forms/text-input/examples/valid.html
Labels: documentation 📝, enhancement 🚀

#923 fix(@vtmn/css): fix incorrect class for css props
  packages/sources/css/src/components/navigation/search/src/index.css
Labels: enhancement 🚀, CSS 🎨

#926 fix(@vtmn/css): min sizes for button in quantity
  packages/sources/css/src/components/selection-controls/quantity/src/index.css
Labels: enhancement 🚀, CSS 🎨

#931 feat(@vtmn/css): remove outline for overlays
  packages/sources/css/src/components/overlays/alert/src/index.css
  packages/sources/css/src/components/overlays/popover/src/index.css
  packages/sources/css/src/components/overlays/snackbar/src/index.css
  packages/sources/css/src/components/overlays/toast/src/index.css
  packages/sources/css/src/components/overlays/tooltip/src/index.css
Labels: enhancement 🚀, CSS 🎨

#943 fix(@vtmn/icons): send-plane icons
  packages/sources/icons/src/vitamix/send-plane-2-fill.svg
  packages/sources/icons/src/vitamix/send-plane-2-line.svg
  packages/sources/icons/src/vitamix/send-plane-fill.svg
  packages/sources/icons/src/vitamix/send-plane-line.svg
Labels: bug 🐛, icons ✨

#901 feat(@vtmn/css): add dropdown component
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  README.md
  packages/showcases/css/stories/components/actions/dropdown/dropdown.stories.js
  packages/showcases/css/stories/components/actions/dropdown/examples/overview.html
  packages/sources/css/package.json
  packages/sources/css/src/components/actions/dropdown/CHANGELOG.md
  packages/sources/css/src/components/actions/dropdown/README.md
  packages/sources/css/src/components/actions/dropdown/build.js
  packages/sources/css/src/components/actions/dropdown/package.json
  packages/sources/css/src/components/actions/dropdown/postcss.config.js
  packages/sources/css/src/components/actions/dropdown/sonar-project.properties
  packages/sources/css/src/components/actions/dropdown/src/index.css
  packages/sources/css/src/components/actions/index.css
  packages/sources/css/src/components/forms/select/src/index.css
  workspace.json
Labels: enhancement 🚀, CSS 🎨

#944 feat(@vtmn/css-rating): add disabled checkboxes
  packages/showcases/css/stories/components/indicators/rating/examples/interactive.html
  packages/showcases/css/stories/components/indicators/rating/examples/overview.html
  packages/showcases/css/stories/components/indicators/rating/examples/read-only.html
Labels: enhancement 🚀, CSS 🎨

#947 fix(@vtmn/css): change the text input marge holders
  packages/sources/css/src/components/forms/text-input/src/index.css
Labels: enhancement 🚀, CSS 🎨

#949 feat(@vtmn/css): rename hover brand to hover tertiary
  packages/sources/css/src/components/actions/button/src/index.css
Labels: enhancement 🚀, CSS 🎨
