Repository Decathlon/vitamin-web, pull requests merged in 2022-03, with the labels that each got.

#1001 refactor(@vtmn/css): add a11y markup + fix bug semantic colors border
  packages/showcases/css/stories/components/overlays/tooltip/examples/overview.html
  packages/sources/css/src/components/overlays/tooltip/src/index.css
  packages/sources/css/src/design-tokens/src/shadows.css
  packages/sources/css/src/design-tokens/src/themes/core-dark.css
  packages/sources/css/src/design-tokens/src/themes/core-light.css
  packages/sources/css/src/design-tokens/src/themes/default.css
Labels: enhancement 🚀, CSS 🎨

#984 feat(@vtmn/svelte): add checkbox component
  packages/showcases/svelte/stories/components/selection-controls/VtmnCheckbox.stories.svelte
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/index.js
  packages/sources/svelte/src/components/selection-controls/VtmnCheckbox/VtmnCheckbox.svelte
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#997 docs(@vtmn/svelte): badge component
  packages/showcases/core/csf/components/indicators/badge.csf.js
  packages/showcases/svelte/stories/components/indicators/VtmnBadge/VtmnBadge.stories.svelte
  packages/showcases/svelte/stories/components/indicators/VtmnBadge/docs.mdx
  packages/showcases/svelte/stories/components/indicators/VtmnBadge/documentation.stories.mdx
Labels: documentation 📝, Svelte 🟠, v0 ⛳️

#1004 feat(@vtmn/css): add recycle icon (fill/line), remove extra icon
  packages/sources/icons/src/vitamix/award.svg
  packages/sources/icons/src/vitamix/feedback.svg
  packages/sources/icons/src/vitamix/recycle-fill.svg
  packages/sources/icons/src/vitamix/recycle-line.svg
Labels: enhancement 🚀, icons ✨

#999 feat(@vtmn/vue): display icon with `VtmnIcon` and remove useless type in `VtmnButton`
  packages/sources/vue/src/components/actions/VtmnButton/VtmnButton.vue
  packages/sources/vue/src/components/actions/VtmnButton/types.ts
Labels: enhancement 🚀, Vue 🟢, v0 ⛳️

#1000 feat(@vtmn/svelte): add `VtmnList` component
  packages/showcases/svelte/stories/components/structure/VtmnList/VtmnList.stories.svelte
  packages/showcases/svelte/stories/components/structure/VtmnListItem/VtmnListItem.stories.svelte
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/index.js
  packages/sources/svelte/src/components/structure/VtmnList/VtmnList.svelte
  packages/sources/svelte/src/components/structure/VtmnListItem/VtmnListItem.svelte
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#830 feat(@vtmn/react): add `VtmnChip` component
  packages/showcases/core/csf/components/selection-controls/chip.csf.js
  packages/showcases/react/stories/components/selection-controls/VtmnChip/VtmnChip.stories.tsx
  packages/sources/react/package.json
  packages/sources/react/src/components/selection-controls/VtmnChip/VtmnChip.tsx
  packages/sources/react/src/components/selection-controls/VtmnChip/index.ts
  packages/sources/react/src/components/selection-controls/VtmnChip/types.ts
  packages/sources/react/src/index.ts
Labels: enhancement 🚀, React 🔵, v0 ⛳️

#1005 feat(@vtmn/react): add `VtmnPrice` component
  packages/showcases/core/csf/components/indicators/price.csf.js
  packages/showcases/css/stories/components/indicators/price/examples/overview.html
  packages/showcases/react/stories/components/indicators/VtmnPrice/VtmnPrice.stories.tsx
  packages/sources/react/package.json
  packages/sources/react/src/components/indicators/VtmnPrice/VtmnPrice.tsx
  packages/sources/react/src/components/indicators/VtmnPrice/index.ts
  packages/sources/react/src/components/indicators/VtmnPrice/types.ts
  packages/sources/react/src/index.ts
Labels: enhancement 🚀, React 🔵, v0 ⛳️

#1008 feat(@vtmn/svelte): add `VtmnTag` component
  packages/showcases/core/csf/components/indicators/tag.csf.js
  packages/showcases/svelte/stories/components/indicators/.gitkeep
  packages/showcases/svelte/stories/components/indicators/VtmnBadge/VtmnBadge.stories.svelte
  packages/showcases/svelte/stories/components/indicators/VtmnBadge/documentation.stories.mdx
  packages/showcases/svelte/stories/components/indicators/VtmnTag/VtmnTag.stories.svelte
  packages/showcases/svelte/stories/components/indicators/VtmnTag/documentation.stories.mdx
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/index.js
  packages/sources/svelte/src/components/indicators/.gitkeep
  packages/sources/svelte/src/components/indicators/VtmnBadge/VtmnBadge.svelte
  packages/sources/svelte/src/components/indicators/VtmnTag/VtmnTag.svelte
  packages/sources/svelte/src/components/indicators/VtmnTag/enums.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1002 fix(@vtmn/css): fix incorrect color values
  packages/sources/css/src/design-tokens/src/themes/core-dark.css
  packages/sources/css/src/design-tokens/src/themes/core-light.css
  packages/sources/css/src/design-tokens/src/themes/default.css
Labels: enhancement 🚀, CSS 🎨, v0 ⛳️

#1010 refactor(@vtmn/css): fix border bottom + new paddings
  packages/showcases/css/stories/components/structure/list/examples/overview.html
  packages/sources/css/src/components/structure/list/src/index.css
Labels: enhancement 🚀, CSS 🎨

#1011 docs(@vtmn/svelte): fix badge & tag documentation
  packages/showcases/svelte/stories/components/indicators/VtmnBadge/VtmnBadge.stories.svelte
  packages/showcases/svelte/stories/components/indicators/VtmnTag/VtmnTag.stories.svelte
  packages/showcases/svelte/stories/components/indicators/VtmnTag/documentation.stories.mdx
Labels: documentation 📝, Svelte 🟠, v0 ⛳️

#979 refactor(@vtmn/css): button icon alone in overlays + a11y fixes
  packages/showcases/css/stories/components/overlays/alert/examples/demo.runscript.js
  packages/showcases/css/stories/components/overlays/alert/examples/overview.html
  packages/showcases/css/stories/components/overlays/modal/examples/demo.runscript.js
  packages/showcases/css/stories/components/overlays/modal/examples/overview.html
  packages/showcases/css/stories/components/overlays/popover/examples/overview.html
  packages/showcases/css/stories/components/overlays/snackbar/examples/demo.html
  packages/showcases/css/stories/components/overlays/snackbar/examples/demo.runscript.js
  packages/showcases/css/stories/components/overlays/snackbar/examples/overview.html
  packages/showcases/css/stories/components/overlays/toast/examples/demo.html
  packages/showcases/css/stories/components/overlays/toast/examples/demo.runscript.js
  packages/showcases/css/stories/components/overlays/toast/examples/overview.html
  packages/sources/css/src/components/actions/dropdown/src/index.css
  packages/sources/css/src/components/overlays/alert/src/index.css
  packages/sources/css/src/components/overlays/modal/src/index.css
  packages/sources/css/src/components/overlays/snackbar/src/index.css
  packages/sources/css/src/components/overlays/toast/src/index.css
  packages/sources/react/src/components/overlays/VtmnAlert/VtmnAlert.tsx
  packages/sources/react/src/components/overlays/VtmnTooltip/VtmnTooltip.tsx
Labels: enhancement 🚀, CSS 🎨, v1 ⛳️

#1012 feat(@vtmn/icons): add icon forbid (line/fill)
  packages/sources/icons/src/vitamix/forbid-fill.svg
  packages/sources/icons/src/vitamix/forbid-line.svg
Labels: enhancement 🚀, icons ✨

#1013 feat(@vtmn/icons): add icon wallet (line/fill)
  packages/sources/icons/src/vitamix/wallet-fill.svg
  packages/sources/icons/src/vitamix/wallet-line.svg
  yarn.lock
Labels: enhancement 🚀, icons ✨

#1014 feat(@vtmn/css): add icon leading for tag
  packages/showcases/css/stories/components/indicators/tag/examples/overview.html
  packages/sources/css/src/components/indicators/tag/src/index.css
Labels: enhancement 🚀, CSS 🎨, icons ✨

#1016 feat(@vtmn/svelte): add `VtmnToggle` component
  packages/showcases/svelte/stories/components/selection-controls/.gitkeep
  packages/showcases/svelte/stories/components/selection-controls/VtmnCheckbox/VtmnCheckbox.stories.svelte
  packages/showcases/svelte/stories/components/selection-controls/VtmnToggle/VtmnToggle.stories.svelte
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/index.js
  packages/sources/svelte/src/components/selection-controls/VtmnToggle/VtmnToggle.svelte
  packages/sources/svelte/src/components/selection-controls/VtmnToggle/enums.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1018 feat(@vtmn/react): add `VtmnProgressbar` component
  packages/showcases/core/csf/components/indicators/progressbar.csf.js
  packages/showcases/react/stories/components/indicators/VtmnProgressbar/VtmnProgressbar.stories.tsx
  packages/sources/react/src/components/indicators/VtmnProgressbar/VtmnProgressbar.tsx
  packages/sources/react/src/components/indicators/VtmnProgressbar/index.ts
  packages/sources/react/src/components/indicators/VtmnProgressbar/types.ts
  packages/sources/react/src/index.ts
Labels: enhancement 🚀, React 🔵, v0 ⛳️

#1021 refactor(@vtmn/css): rework progressbar animation
  packages/sources/css/src/design-tokens/src/animations.css
Labels: enhancement 🚀, CSS 🎨, v0 ⛳️

#1015 feat(@vtmn/svelte): add `VtmnIcon` component
  packages/showcases/core/csf/guidelines/iconography.csf.js
  packages/showcases/css/.storybook/main.js
  packages/showcases/css/package.json
  packages/showcases/svelte/.storybook/preview.js
  packages/showcases/svelte/stories/guidelines/.gitkeep
  packages/showcases/svelte/stories/guidelines/iconography/VtmnIcon/VtmnIcon.stories.svelte
  packages/sources/svelte/README.md
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/indicators/VtmnBadge/VtmnBadge.svelte
  packages/sources/svelte/src/components/indicators/VtmnBadge/enums.js
  packages/sources/svelte/src/components/indicators/VtmnPrice/VtmnPrice.svelte
  packages/sources/svelte/src/components/indicators/VtmnPrice/enums.js
  packages/sources/svelte/src/components/indicators/VtmnTag/VtmnTag.svelte
  packages/sources/svelte/src/components/indicators/VtmnTag/enums.js
  packages/sources/svelte/src/components/selection-controls/VtmnToggle/VtmnToggle.svelte
  packages/sources/svelte/src/components/selection-controls/VtmnToggle/enums.js
  packages/sources/svelte/src/guidelines/.gitkeep
  packages/sources/svelte/src/guidelines/iconography/VtmnIcon/VtmnIcon.svelte
  packages/sources/svelte/src/guidelines/iconography/VtmnIcon/enums.js
  packages/sources/svelte/src/guidelines/index.js
  packages/sources/svelte/src/index.js
  packages/sources/svelte/src/utils/style.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1017 feat(@vtmn/svelte): add `VtmnChip` component
  package.json
  packages/showcases/core/csf/components/selection-controls/chip.csf.js
  packages/showcases/svelte/stories/components/selection-controls/VtmnChip/VtmnChip.stories.svelte
  packages/sources/svelte/.eslintignore
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/index.js
  packages/sources/svelte/src/components/selection-controls/VtmnChip/README.md
  packages/sources/svelte/src/components/selection-controls/VtmnChip/VtmnChip.spec.js
  packages/sources/svelte/src/components/selection-controls/VtmnChip/VtmnChip.svelte
  packages/sources/svelte/src/components/selection-controls/VtmnChip/enums.js
  packages/sources/svelte/src/components/selection-controls/VtmnChip/vtmnChip.spec.js
  yarn.lock
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1029 feat(@vtmn/svelte): add `VtmnDivider` component
  packages/showcases/svelte/stories/components/structure/VtmnDivider/VtmnDivider.stories.svelte
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/index.js
  packages/sources/svelte/src/components/structure/VtmnDivider/VtmnDivider.svelte
  packages/sources/svelte/src/components/structure/VtmnDivider/enums.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1034 fix(@vtmn/css): button line-height + primary-reversed border
  packages/sources/css/src/components/actions/button/src/index.css
Labels: enhancement 🚀, CSS 🎨, v0 ⛳️

#1032 docs(@vtmn/svelte): fix some doc + component
  packages/showcases/core/csf/components/actions/link.csf.js
  packages/showcases/svelte/stories/components/actions/VtmnLink/VtmnLink.stories.svelte
  packages/showcases/svelte/stories/components/forms/VtmnTextInput/VtmnTextInput.stories.svelte
  packages/showcases/svelte/stories/components/indicators/VtmnBadge/VtmnBadge.stories.svelte
  packages/showcases/svelte/stories/components/indicators/VtmnTag/VtmnTag.stories.svelte
  packages/sources/svelte/src/components/actions/VtmnButton/VtmnButton.svelte
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1035 docs(@vtmn/css-navbar): delete useless margin rights
  packages/showcases/css/stories/components/navigation/navbar/examples/overview.html
Labels: documentation 📝, enhancement 🚀, CSS 🎨, v0 ⛳️

#1026 feat(@vtmn/svelte): add `VtmnAccordion` component
  packages/showcases/core/csf/components/structure/accordion.csf.js
  packages/showcases/svelte/stories/components/structure/VtmnAccordion/VtmnAccordion.stories.svelte
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/index.js
  packages/sources/svelte/src/components/structure/VtmnAccordion/VtmnAccordion.svelte
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1028 feat(@vtmn/svelte): add `VtmnCard` component
  packages/showcases/core/csf/components/structure/card.csf.js
  packages/showcases/svelte/stories/components/structure/VtmnCard/VtmnCard.stories.svelte
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/index.js
  packages/sources/svelte/src/components/structure/VtmnCard/VtmnCard.svelte
  packages/sources/svelte/src/components/structure/VtmnCard/enums.js
  packages/sources/svelte/src/components/structure/VtmnCard/test/VtmnCard.spec.js
  packages/sources/svelte/src/components/structure/VtmnCard/test/VtmnCardWithSlot.svelte
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1030 feat(@vtmn/svelte): add `VtmnRating` component
  packages/showcases/core/csf/components/indicators/rating.csf.js
  packages/showcases/svelte/stories/components/indicators/VtmnRating/VtmnRating.stories.svelte
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/index.js
  packages/sources/svelte/src/components/indicators/VtmnRating/VtmnRating.svelte
  packages/sources/svelte/src/components/indicators/VtmnRating/enum.js
  packages/sources/svelte/src/components/indicators/VtmnRating/test/VtmnRating.spec.js
  packages/sources/svelte/src/components/indicators/VtmnRating/test/VtmnRatingWithSlots.svelte
  packages/sources/svelte/src/utils/math.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1043 feat(@vtmn/svelte): add `VtmnAlert` component
  packages/showcases/svelte/stories/components/overlays/VtmnAlert/VtmnAlert.stories.svelte
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/index.js
  packages/sources/svelte/src/components/overlays/VtmnAlert/README.md
  packages/sources/svelte/src/components/overlays/VtmnAlert/VtmnAlert.svelte
  packages/sources/svelte/src/components/overlays/VtmnAlert/VtmnAlertItem.svelte
  packages/sources/svelte/src/components/overlays/VtmnAlert/enums.js
  packages/sources/svelte/src/components/overlays/VtmnAlert/test/vtmnAlertItem.spec.js
  packages/sources/svelte/src/components/overlays/VtmnAlert/vtmnAlertStore.js
Labels: documentation 📝, Svelte 🟠, v0 ⛳️

#1024 feat(@vtmn/svelte): add `VtmnModal` component
  packages/showcases/core/csf/components/overlays/modal.csf.js
  packages/showcases/svelte/stories/components/overlays/VtmnModal/VtmnModal.stories.svelte
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/index.js
  packages/sources/svelte/src/components/overlays/VtmnModal/VtmnModal.svelte
  packages/sources/svelte/src/components/overlays/VtmnModal/test/VtmnModal.spec.js
  packages/sources/svelte/src/components/overlays/VtmnModal/test/VtmnModalWithDescription.svelte
  packages/sources/svelte/src/components/overlays/VtmnModal/test/VtmnModalWithSlots.svelte
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1041 feat(@vtmn/svelte): add `VtmnSnackbar` component
  packages/showcases/core/csf/components/overlays/snackbar.csf.js
  packages/showcases/svelte/stories/components/overlays/VtmnSnackbar/VtmnSnackbar.stories.svelte
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/index.js
  packages/sources/svelte/src/components/overlays/VtmnSnackbar/README.md
  packages/sources/svelte/src/components/overlays/VtmnSnackbar/VtmnSnackbar.svelte
  packages/sources/svelte/src/components/overlays/VtmnSnackbar/VtmnSnackbarItem.svelte
  packages/sources/svelte/src/components/overlays/VtmnSnackbar/enum.js
  packages/sources/svelte/src/components/overlays/VtmnSnackbar/test/VtmnSnackbar.spec.js
  packages/sources/svelte/src/components/overlays/VtmnSnackbar/vtmnSnackbarStore.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1042 feat(@vtmn/svelte): add `VtmnToast` component
  packages/showcases/core/csf/components/overlays/toast.csf.js
  packages/showcases/svelte/stories/components/overlays/VtmnToast/VtmnToast.stories.svelte
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/index.js
  packages/sources/svelte/src/components/overlays/VtmnToast/README.md
  packages/sources/svelte/src/components/overlays/VtmnToast/VtmnToast.svelte
  packages/sources/svelte/src/components/overlays/VtmnToast/VtmnToastItem.svelte
  packages/sources/svelte/src/components/overlays/VtmnToast/enums.js
  packages/sources/svelte/src/components/overlays/VtmnToast/test/vtmnToastItem.spec.js
  packages/sources/svelte/src/components/overlays/VtmnToast/vtmnToastStore.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1027 feat(@vtmn/svelte): add `VtmnSearch` component
  packages/showcases/core/csf/components/navigation/search.csf.js
  packages/showcases/svelte/stories/components/navigation/VtmnSearch/VtmnSearch.stories.svelte
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/index.js
  packages/sources/svelte/src/components/navigation/VtmnSearch/VtmnSearch.spec.js
  packages/sources/svelte/src/components/navigation/VtmnSearch/VtmnSearch.svelte
  packages/sources/svelte/src/components/navigation/VtmnSearch/enums.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1045 fix(@vtmn/svelte): rating attribute + css-price import
  packages/sources/svelte/package.json
  packages/sources/svelte/src/components/indicators/VtmnRating/VtmnRating.svelte
  packages/sources/svelte/src/components/indicators/VtmnRating/test/VtmnRating.spec.js
Labels: documentation 📝, Svelte 🟠, v0 ⛳️

#1048 fix(@vtmn/svelte): fix missing changes
  packages/showcases/core/csf/components/indicators/rating.csf.js
  packages/showcases/svelte/stories/components/indicators/VtmnRating/VtmnRating.stories.svelte
Labels: documentation 📝, Svelte 🟠, v0 ⛳️

#1049 docs(@vtmn/svelte): add readme plugin for storybook
  packages/showcases/svelte/.storybook/main.js
  packages/showcases/svelte/.storybook/preview.js
  packages/showcases/svelte/package.json
  packages/showcases/svelte/stories/components/overlays/VtmnAlert/VtmnAlert.stories.svelte
  packages/showcases/svelte/stories/components/overlays/VtmnSnackbar/VtmnSnackbar.stories.svelte
  packages/showcases/svelte/stories/components/overlays/VtmnToast/VtmnToast.stories.svelte
  packages/showcases/svelte/stories/components/selection-controls/VtmnChip/VtmnChip.stories.svelte
  packages/sources/svelte/src/components/overlays/VtmnAlert/README.md
  packages/sources/svelte/src/components/overlays/VtmnSnackbar/README.md
  packages/sources/svelte/src/components/overlays/VtmnToast/README.md
  packages/sources/svelte/src/components/selection-controls/VtmnChip/README.md
Labels: documentation 📝, Svelte 🟠, v0 ⛳️

#1052 refactor(@vtmn/css): avatar size of skeleton component
  packages/showcases/css/stories/components/structure/skeleton/examples/overview.html
  packages/sources/css/src/components/structure/skeleton/src/index.css
Labels: enhancement 🚀, CSS 🎨, v0 ⛳️

#1054 feat(@vtmn/css-card): add tag showcase + css class
  packages/showcases/css/stories/components/structure/card/examples/top-image.html
  packages/sources/css/src/components/structure/card/src/index.css
Labels: enhancement 🚀, CSS 🎨, v0 ⛳️

#1059 fix(@vtmn/svelte): apply font-size on class + story tag with icon
  packages/showcases/svelte/stories/components/indicators/VtmnTag/VtmnTag.stories.svelte
  packages/sources/svelte/src/guidelines/iconography/VtmnIcon/VtmnIcon.svelte
Labels: documentation 📝, enhancement 🚀, Svelte 🟠

#1056 feat(@vtmn/svelte): add `VtmnLoader` component
  packages/showcases/svelte/stories/components/indicators/VtmnLoader/VtmnLoader.stories.svelte
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/index.js
  packages/sources/svelte/src/components/indicators/VtmnLoader/VtmnLoader.svelte
  packages/sources/svelte/src/components/indicators/VtmnLoader/enums.js
  packages/sources/svelte/src/components/indicators/VtmnLoader/test/VtmnLoader.spec.js
  packages/sources/svelte/src/components/indicators/VtmnTag/VtmnTag.svelte
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1063 fix(@vtmn/react): bad props type given to DOM in `VtmnTextInput`
  packages/sources/react/src/components/forms/VtmnTextInput/VtmnTextInput.tsx
Labels: enhancement 🚀, React 🔵, v0 ⛳️

#1066 fix(@vtmn/css): `toggle`, incorrect checked icon color
  packages/sources/css/src/components/selection-controls/toggle/src/index.css
  yarn.lock
Labels: enhancement 🚀, CSS 🎨, icons ✨

#1068 fix(@vtmn/css): modal indicator overflow
  packages/showcases/css/stories/components/overlays/modal/examples/demo.runscript.js
  packages/showcases/css/stories/components/overlays/modal/examples/overview.html
  packages/sources/css/src/components/overlays/modal/src/index.css
Labels: enhancement 🚀

#1044 feat(@vtmn/svelte): add `VtmnNavbar` component
  packages/showcases/core/csf/components/navigation/navbar.csf.js
  packages/showcases/core/csf/components/navigation/search.csf.js
  packages/showcases/svelte/stories/components/navigation/VtmnNavbar/VtmnNavbar.stories.svelte
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/index.js
  packages/sources/svelte/src/components/navigation/VtmnNavbar/VtmnNavbar.spec.js
  packages/sources/svelte/src/components/navigation/VtmnNavbar/VtmnNavbar.svelte
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1055 feat(@vtmn/svelte): add `VtmnQuantity` component
  packages/showcases/core/csf/components/selection-controls/quantity.csf.js
  packages/showcases/svelte/stories/components/selection-controls/VtmnQuantity/VtmnQuantity.stories.svelte
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/index.js
  packages/sources/svelte/src/components/selection-controls/VtmnQuantity/VtmnQuantity.svelte
  packages/sources/svelte/src/components/selection-controls/VtmnQuantity/test/VtmnQuantity.spec.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1053 feat(@vtmn/svelte): add `VtmnProgressbar` component
  packages/showcases/svelte/stories/components/indicators/VtmnProgressbar/VtmnProgressbar.stories.svelte
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/index.js
  packages/sources/svelte/src/components/indicators/VtmnProgressbar/README.md
  packages/sources/svelte/src/components/indicators/VtmnProgressbar/VtmnProgressbar.svelte
  packages/sources/svelte/src/components/indicators/VtmnProgressbar/VtmnProgressbarCircular.svelte
  packages/sources/svelte/src/components/indicators/VtmnProgressbar/VtmnProgressbarLinear.svelte
  packages/sources/svelte/src/components/indicators/VtmnProgressbar/enums.js
  packages/sources/svelte/src/components/indicators/VtmnProgressbar/test/VtmnProgressbar.spec.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1057 feat(@vtmn/svelte): add `VtmnRadioButton` component
  packages/showcases/svelte/stories/components/selection-controls/VtmnRadioButton/VtmnRadioButton.stories.svelte
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/index.js
  packages/sources/svelte/src/components/selection-controls/VtmnRadioButton/VtmnRadioButton.svelte
  packages/sources/svelte/src/components/selection-controls/VtmnRadioButton/test/VtmnRadioButtonWithSlot.svelte
  packages/sources/svelte/src/components/selection-controls/VtmnRadioButton/test/vtmnRadioButton.spec.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1065 feat(@vtmn/svelte): add `VtmnSelect` component
  packages/showcases/core/csf/components/forms/select.csf.js
  packages/showcases/svelte/stories/components/forms/VtmnSelect/VtmnSelect.stories.svelte
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/forms/VtmnSelect/VtmnSelect.svelte
  packages/sources/svelte/src/components/forms/VtmnSelect/test/VtmnSelect.spec.js
  packages/sources/svelte/src/components/forms/VtmnSelect/test/VtmnSelectWithSlots.svelte
  packages/sources/svelte/src/components/index.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1074 feat(@vtmn/vue): add `VtmnDivider` component
  packages/showcases/react/stories/components/structure/VtmnDivider/VtmnDivider.stories.tsx
  packages/showcases/vue/stories/components/indicators/VtmnPrice/VtmnPrice.stories.js
  packages/showcases/vue/stories/components/structure/.gitkeep
  packages/showcases/vue/stories/components/structure/VtmnDivider/VtmnDivider.stories.js
  packages/sources/css/src/components/structure/divider/src/index.css
  packages/sources/react/src/components/structure/VtmnDivider/VtmnDivider.tsx
  packages/sources/svelte/src/components/structure/VtmnDivider/VtmnDivider.svelte
  packages/sources/svelte/src/components/structure/VtmnDivider/enums.js
  packages/sources/vue/package.json
  packages/sources/vue/src/components/index.ts
  packages/sources/vue/src/components/structure/.gitkeep
  packages/sources/vue/src/components/structure/VtmnDivider/VtmnDivider.vue
  packages/sources/vue/src/components/structure/VtmnDivider/index.ts
  packages/sources/vue/src/components/structure/VtmnDivider/types.ts
  packages/sources/vue/src/index.ts
Labels: enhancement 🚀, Vue 🟢, v0 ⛳️

#1060 feat(@vtmn/svelte): add `VtmnTabs` component
  packages/showcases/core/csf/components/navigation/tabs.csf.js
  packages/showcases/svelte/stories/components/navigation/VtmnTabs/VtmnTabs.stories.svelte
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/index.js
  packages/sources/svelte/src/components/navigation/VtmnTabs/VtmnTabs.svelte
  packages/sources/svelte/src/components/navigation/VtmnTabs/enums.js
  packages/sources/svelte/src/components/navigation/VtmnTabs/test/VtmnTabs.spec.js
  packages/sources/svelte/src/components/navigation/VtmnTabs/test/VtmnTabsWithSlot.svelte
  packages/sources/svelte/src/components/navigation/VtmnTabsItem/VtmnTabsItem.svelte
  packages/sources/svelte/src/components/navigation/VtmnTabsItem/test/VtmnTabsItem.spec.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1080 feat(@vtmn/react): add `VtmnTag` component
  packages/showcases/core/csf/components/indicators/tag.csf.js
  packages/showcases/react/stories/components/indicators/VtmnTag/VtmnTag.stories.tsx
  packages/sources/react/package.json
  packages/sources/react/src/components/indicators/VtmnBadge/VtmnBadge.tsx
  packages/sources/react/src/components/indicators/VtmnTag/VtmnTag.tsx
  packages/sources/react/src/components/indicators/VtmnTag/index.ts
  packages/sources/react/src/components/indicators/VtmnTag/types.ts
  packages/sources/react/src/index.ts
  packages/sources/svelte/src/components/indicators/VtmnTag/VtmnTag.svelte
  yarn.lock
Labels: enhancement 🚀, React 🔵, v0 ⛳️

#1081 refactor(@vtmn/react): `VtmnAlert` component demo & `onClick` event
  packages/showcases/react/stories/components/overlays/VtmnAlert/VtmnAlert.stories.tsx
  packages/sources/react/src/components/overlays/VtmnAlert/VtmnAlert.tsx
Labels: enhancement 🚀, React 🔵, v0 ⛳️

#1085 feat(@vtmn/react): `VtmnToast` csf type -> variant
  packages/showcases/core/csf/components/overlays/alert.csf.js
Labels: enhancement 🚀, React 🔵, v0 ⛳️

#1087 feat(@vtmn/svelte): fix popover display on storybook
  packages/showcases/svelte/stories/components/overlays/VtmnPopover/VtmnPopover.stories.svelte
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1089 feat(@vtmn/css): `Price` fix line-height
  packages/sources/css/src/components/indicators/price/src/index.css
Labels: enhancement 🚀, CSS 🎨

#1092 feat(@vtmn/vue): add `VtmnTooltip` component
  packages/showcases/vue/stories/components/overlays/.gitkeep
  packages/showcases/vue/stories/components/overlays/VtmnTooltip/VtmnTooltip.stories.js
  packages/sources/vue/package.json
  packages/sources/vue/src/components/overlays/.gitkeep
  packages/sources/vue/src/components/overlays/VtmnTooltip/VtmnTooltip.vue
  packages/sources/vue/src/components/overlays/VtmnTooltip/index.ts
  packages/sources/vue/src/components/overlays/VtmnTooltip/types.ts
  packages/sources/vue/src/index.ts
Labels: enhancement 🚀, Vue 🟢, v0 ⛳️

#1093 docs(@vtmn/svelte): add card story with price and tag
  packages/showcases/svelte/stories/components/structure/VtmnCard/VtmnCard.stories.svelte
  packages/sources/css/src/components/structure/card/src/index.css
Labels: documentation 📝, Svelte 🟠, v0 ⛳️

#1094 feat(@vtmn/vue): add `VtmnSkeleton` component
  packages/showcases/core/csf/components/structure/skeleton.csf.js
  packages/showcases/vue/stories/components/structure/VtmnSkeleton/VtmnSkeleton.stories.js
  packages/sources/svelte/src/components/structure/VtmnSkeleton/VtmnSkeleton.svelte
  packages/sources/svelte/src/components/structure/VtmnSkeleton/test/vtmnSkeleton.spec.js
  packages/sources/vue/package.json
  packages/sources/vue/src/components/index.ts
  packages/sources/vue/src/components/structure/VtmnSkeleton/VtmnSkeleton.vue
  packages/sources/vue/src/components/structure/VtmnSkeleton/index.ts
  packages/sources/vue/src/components/structure/VtmnSkeleton/types.ts
  packages/sources/vue/src/index.ts
Labels: enhancement 🚀, Vue 🟢, v0 ⛳️

#1076 feat(@vtmn/vue): add `VtmnChip` component
  packages/showcases/vue/stories/components/selection-controls/VtmnChip/VtmnChip.stories.js
  packages/sources/vue/package.json
  packages/sources/vue/src/components/index.ts
  packages/sources/vue/src/components/selection-controls/VtmnChip/VtmnChip.vue
  packages/sources/vue/src/components/selection-controls/VtmnChip/index.ts
  packages/sources/vue/src/components/selection-controls/VtmnChip/types.ts
  packages/sources/vue/src/index.ts
Labels: enhancement 🚀, Vue 🟢, v0 ⛳️

#1099 fix(@vtmn/css): quantity inner and outer spin buttons
  packages/sources/css/src/components/selection-controls/quantity/src/index.css
Labels: bug 🐛, CSS 🎨, v0 ⛳️
