Repository Decathlon/vitamin-web, pull requests merged in 2022-08, with the labels that each got.

#1226 fix(@vtmn/css): fix min-width and wrap behavior to correctly display the arrow
  packages/sources/css/src/components/forms/select/src/index.css
Labels: enhancement 🚀, CSS 🎨

#1230 fix(@vtmn/css): corrections of a11y from second audit check
  packages/showcases/css/.storybook/preview-head.html
  packages/showcases/css/stories/components/forms/text-input/examples/disabled.html
  packages/showcases/css/stories/components/forms/text-input/examples/error.html
  packages/showcases/css/stories/components/forms/text-input/examples/multiline.html
  packages/showcases/css/stories/components/forms/text-input/examples/overview.html
  packages/showcases/css/stories/components/forms/text-input/examples/valid.html
  packages/showcases/css/stories/components/indicators/progressbar/examples/circular.html
  packages/showcases/css/stories/components/indicators/progressbar/examples/circular.runscript.js
  packages/showcases/css/stories/components/indicators/progressbar/examples/linear.html
  packages/showcases/css/stories/components/indicators/progressbar/examples/linear.runscript.js
  packages/showcases/css/stories/components/indicators/progressbar/progressbar.stories.js
  packages/showcases/css/stories/components/navigation/breadcrumb/examples/overview.html
  packages/showcases/css/stories/components/navigation/navbar/examples/overview.html
  packages/showcases/css/stories/components/navigation/search/examples/default.html
  packages/showcases/css/stories/components/navigation/search/examples/on-content.html
  packages/showcases/css/stories/components/navigation/search/examples/overview.html
  packages/showcases/css/stories/components/navigation/search/examples/persistent.html
  packages/showcases/css/stories/components/navigation/tabs/examples/demo.html
  packages/showcases/css/stories/components/navigation/tabs/examples/demo.runscript.js
  packages/showcases/css/stories/components/overlays/alert/examples/demo.runscript.js
  packages/showcases/css/stories/components/overlays/modal/examples/demo.runscript.js
  packages/showcases/css/stories/components/selection-controls/chip/examples/input.html
  packages/showcases/css/stories/components/selection-controls/chip/examples/overview.html
  packages/showcases/css/stories/components/selection-controls/quantity/examples/overview.html
  packages/showcases/css/stories/components/structure/accordion/examples/overview.html
  packages/showcases/css/stories/components/structure/card/examples/full-image.html
  packages/showcases/css/stories/components/structure/card/examples/overview.html
  packages/showcases/css/stories/components/structure/card/examples/side-image.html
  packages/showcases/css/stories/components/structure/card/examples/top-image.html
  packages/sources/css/src/components/overlays/alert/src/index.css
  packages/sources/css/src/components/overlays/modal/src/index.css
  packages/sources/css/src/components/structure/card/src/index.css
Labels: enhancement 🚀, CSS 🎨

#1232 fix(@vtmn/css): remove all runscripts in showcases
  packages/showcases/css/stories/components/actions/dropdown/dropdown.stories.js
  packages/showcases/css/stories/components/actions/dropdown/examples/demo.html
  packages/showcases/css/stories/components/actions/dropdown/examples/demo.runscript.js
  packages/showcases/css/stories/components/overlays/alert/alert.stories.js
  packages/showcases/css/stories/components/overlays/alert/examples/demo.html
  packages/showcases/css/stories/components/overlays/alert/examples/demo.runscript.js
  packages/showcases/css/stories/components/overlays/modal/examples/demo.html
  packages/showcases/css/stories/components/overlays/modal/examples/demo.runscript.js
  packages/showcases/css/stories/components/overlays/modal/modal.stories.js
  packages/showcases/css/stories/components/overlays/snackbar/examples/demo.html
  packages/showcases/css/stories/components/overlays/snackbar/examples/demo.runscript.js
  packages/showcases/css/stories/components/overlays/snackbar/snackbar.stories.js
  packages/showcases/css/stories/components/overlays/toast/examples/demo.html
  packages/showcases/css/stories/components/overlays/toast/examples/demo.runscript.js
  packages/showcases/css/stories/components/overlays/toast/toast.stories.js
Labels: enhancement 🚀, CSS 🎨

#1236 ci(canary): add publish canary on PR
  .github/workflows/build-canary.yml
  CONTRIBUTING.md
Labels: Publish canary :hatched_chick:

#1237 fix(@vtmn/svelte): fix display label
  packages/sources/svelte/src/components/structure/VtmnDivider/VtmnDivider.svelte
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1241 fix(@vtmn/svelte): `VtmnSelect` autocomplete
  packages/showcases/css/stories/components/forms/select/examples/disabled.html
  packages/showcases/css/stories/components/forms/select/examples/error.html
  packages/showcases/css/stories/components/forms/select/examples/overview.html
  packages/showcases/svelte/stories/components/forms/VtmnSelect/VtmnSelect.stories.svelte
  packages/sources/svelte/src/components/forms/VtmnSelect/VtmnSelect.svelte
  packages/sources/svelte/src/components/forms/VtmnSelect/test/VtmnSelect.spec.js
Labels: bug 🐛, Svelte 🟠, v0 ⛳️

#1239 chore: upgrade dependencies
  package.json
  packages/showcases/css/package.json
  packages/showcases/icons/package.json
  packages/showcases/svelte/package.json
  packages/showcases/vue/.storybook/preview.js
  packages/showcases/vue/package.json
  packages/sources/css/config/postcss/package.json
  packages/sources/react/package.json
  packages/sources/svelte/package.json
  packages/sources/vue/package.json
  yarn.lock
Labels: config 🛠

#1240 chore: update `CODEOWNERS`
  .github/CODEOWNERS
Labels: config 🛠

#1246 fix(@vtmn/react): aria prop typo in `VtmnDivider`
  packages/sources/react/src/components/structure/VtmnDivider/VtmnDivider.tsx
Labels: enhancement 🚀, React 🔵, v0 ⛳️

#1253 fix(@vtmn/assets): viewboxes are absent/incorrect in SVG & sprite
  packages/sources/assets/package.json
  packages/sources/assets/svgo.config.js
Labels: bug 🐛, v0 ⛳️, assets 🏞
