Repository Decathlon/vitamin-web, pull requests merged in 2022-04, with the labels that each got.

#1103 feat(@vtmn/svelte): add `on:change` handle
  packages/showcases/core/csf/components/selection-controls/quantity.csf.js
  packages/showcases/svelte/stories/components/selection-controls/VtmnQuantity/VtmnQuantity.stories.svelte
  packages/sources/svelte/src/components/selection-controls/VtmnQuantity/VtmnQuantity.svelte
  packages/sources/svelte/src/components/selection-controls/VtmnQuantity/test/VtmnQuantity.spec.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1097 feat(@vtmn/react): add `VtmnQuantity` component
  packages/showcases/react/stories/components/selection-controls/VtmnQuantity/VtmnQuantity.stories.tsx
  packages/sources/react/src/components/selection-controls/VtmnQuantity/VtmnQuantity.tsx
  packages/sources/react/src/components/selection-controls/VtmnQuantity/index.ts
  packages/sources/react/src/index.ts
Labels: enhancement 🚀, React 🔵, v0 ⛳️

#1104 feat(@vtmn/vue): add `VtmnAlert` component
  packages/showcases/react/stories/components/overlays/VtmnAlert/VtmnAlert.stories.tsx
  packages/showcases/react/stories/components/overlays/VtmnToast/VtmnToast.stories.tsx
  packages/showcases/vue/stories/components/overlays/VtmnAlert/VtmnAlert.stories.js
  packages/showcases/vue/stories/components/overlays/VtmnTooltip/VtmnTooltip.stories.js
  packages/sources/vue/src/components/index.ts
  packages/sources/vue/src/components/overlays/VtmnAlert/VtmnAlert.vue
  packages/sources/vue/src/components/overlays/VtmnAlert/index.ts
  packages/sources/vue/src/components/overlays/VtmnAlert/types.ts
  packages/sources/vue/src/index.ts
Labels: enhancement 🚀, Vue 🟢, v0 ⛳️

#1105 refactor(@vtmn/css): improve placement popover
  packages/showcases/css/stories/components/overlays/popover/examples/overview.html
  packages/sources/css/src/components/overlays/popover/src/index.css
Labels: enhancement 🚀, CSS 🎨, v0 ⛳️

#1102 feat(@vtmn/vue): add `VtmnPopover` component
  packages/showcases/react/stories/components/overlays/VtmnPopover/VtmnPopover.stories.tsx
  packages/showcases/vue/stories/components/overlays/VtmnPopover/VtmnPopover.stories.js
  packages/sources/react/src/components/overlays/VtmnPopover/VtmnPopover.tsx
  packages/sources/vue/package.json
  packages/sources/vue/src/components/index.ts
  packages/sources/vue/src/components/overlays/VtmnPopover/VtmnPopover.vue
  packages/sources/vue/src/components/overlays/VtmnPopover/index.ts
  packages/sources/vue/src/components/overlays/VtmnPopover/types.ts
  packages/sources/vue/src/index.ts
Labels: enhancement 🚀, Vue 🟢, v0 ⛳️

#1110 refactor(@vtmn/vue): add missing prop types
  packages/sources/vue/src/components/indicators/VtmnBadge/VtmnBadge.vue
  packages/sources/vue/src/components/overlays/VtmnAlert/VtmnAlert.vue
  packages/sources/vue/src/components/overlays/VtmnPopover/VtmnPopover.vue
  packages/sources/vue/src/components/overlays/VtmnTooltip/VtmnTooltip.vue
  packages/sources/vue/src/components/selection-controls/VtmnChip/VtmnChip.vue
  packages/sources/vue/src/components/structure/VtmnAccordion/VtmnAccordion.vue
  packages/sources/vue/src/components/structure/VtmnSkeleton/VtmnSkeleton.vue
Labels: enhancement 🚀, Vue 🟢, v0 ⛳️

#1114 fix(@vtmn/svelte): add `$$restProps` on `VtmnSkeleton`
  packages/sources/svelte/src/components/structure/VtmnSkeleton/VtmnSkeleton.svelte
  packages/sources/svelte/src/components/structure/VtmnSkeleton/test/vtmnSkeleton.spec.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1113 feat(@vtmn/css): improve `dropdown` a11y + fix bug scrolltop
  packages/showcases/css/stories/components/actions/dropdown/examples/overview.html
  packages/sources/css/src/components/actions/dropdown/src/index.css
  yarn.lock
Labels: enhancement 🚀, CSS 🎨, v0 ⛳️

#1064 feat(@vtmn/svelte): add `VtmnBreadcrumb` component
  packages/showcases/svelte/stories/components/navigation/VtmnBreadcrumb/VtmnBreadcrumb.stories.svelte
  packages/sources/css/src/components/navigation/breadcrumb/src/index.css
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/index.js
  packages/sources/svelte/src/components/navigation/VtmnBreadcrumb/VtmnBreadcrumb.svelte
  packages/sources/svelte/src/components/navigation/VtmnBreadcrumb/test/VtmnBreadcrumb.spec.js
  packages/sources/svelte/src/components/navigation/VtmnBreadcrumb/test/VtmnBreadcrumbWithSlot.svelte
  packages/sources/svelte/src/components/navigation/VtmnBreadcrumbItem/VtmnBreadcrumbItem.svelte
  packages/sources/svelte/src/components/navigation/VtmnBreadcrumbItem/test/VtmnBreadcrumbItem.spec.js
  packages/sources/svelte/src/components/navigation/VtmnBreadcrumbItem/test/VtmnBreadcrumbItemWithSlot.svelte
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1111 feat(@vtmn/svelte): optimization of `VtmnModal` component
  packages/showcases/core/csf/components/overlays/modal.csf.js
  packages/showcases/css/stories/components/overlays/modal/examples/demo.runscript.js
  packages/showcases/svelte/stories/components/overlays/VtmnModal/VtmnModal.stories.svelte
  packages/sources/css/src/components/overlays/modal/src/index.css
  packages/sources/svelte/src/components/overlays/VtmnModal/VtmnModal.svelte
  packages/sources/svelte/src/components/overlays/VtmnModal/test/VtmnModal.spec.js
  packages/sources/svelte/src/components/overlays/VtmnModal/test/VtmnModalWithActions.svelte
  packages/sources/svelte/src/components/overlays/VtmnModal/test/VtmnModalWithDescription.svelte
  packages/sources/svelte/src/components/overlays/VtmnModal/test/VtmnModalWithSlots.svelte
  packages/sources/svelte/src/components/overlays/VtmnModal/test/VtmnModalWithoutActions.svelte
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1078 feat(@vtmn/vue): add `VtmnSearch` component
  packages/showcases/vue/stories/components/navigation/VtmnSearch/VtmnSearch.stories.js
  packages/sources/vue/package.json
  packages/sources/vue/src/components/index.ts
  packages/sources/vue/src/components/navigation/VtmnSearch/VtmnSearch.vue
  packages/sources/vue/src/components/navigation/VtmnSearch/index.ts
  packages/sources/vue/src/components/navigation/VtmnSearch/types.ts
  packages/sources/vue/src/index.ts
Labels: enhancement 🚀, Vue 🟢, v0 ⛳️

#1106 feat(@vtmn/vue): add `VtmnToast` component
  packages/showcases/vue/stories/components/overlays/VtmnToast/VtmnToast.stories.js
  packages/sources/vue/package.json
  packages/sources/vue/src/components/index.ts
  packages/sources/vue/src/components/overlays/VtmnToast/VtmnToast.vue
  packages/sources/vue/src/components/overlays/VtmnToast/index.ts
  packages/sources/vue/src/index.ts
Labels: enhancement 🚀, Vue 🟢, v0 ⛳️

#1107 feat(@vtmn/vue): add `VtmnSnackbar` component
  packages/showcases/core/csf/components/overlays/snackbar.csf.js
  packages/showcases/vue/stories/components/overlays/VtmnSnackbar/VtmnSnackbar.stories.js
  packages/sources/vue/package.json
  packages/sources/vue/src/components/index.ts
  packages/sources/vue/src/components/overlays/VtmnSnackbar/VtmnSnackbar.vue
  packages/sources/vue/src/components/overlays/VtmnSnackbar/index.ts
  packages/sources/vue/src/index.ts
Labels: enhancement 🚀, Vue 🟢, v0 ⛳️

#1116 fix(@vtmn/css-card): missing import of spacings
  packages/sources/css/src/components/structure/card/src/index.css
Labels: enhancement 🚀, CSS 🎨, v0 ⛳️

#1115 fix(@vtmn/css): `dropdown` adjustments
  packages/showcases/css/stories/components/actions/dropdown/examples/overview.html
  packages/sources/css/src/components/actions/dropdown/src/index.css
  yarn.lock
Labels: enhancement 🚀, CSS 🎨, v0 ⛳️

#1117 fix(@vtmn/svelte): custom class should be apply on the `VtmnModal` content
  packages/sources/svelte/src/components/overlays/VtmnModal/VtmnModal.svelte
  packages/sources/svelte/src/components/overlays/VtmnModal/test/VtmnModal.spec.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1112 feat(@vtmn/svelte): add `VtmnDropdown` component
  packages/showcases/core/csf/components/actions/dropdown.csf.js
  packages/showcases/svelte/stories/components/actions/VtmnDropdown/VtmnDropdown.stories.svelte
  packages/sources/css/src/components/actions/dropdown/src/index.css
  packages/sources/svelte/package.json
  packages/sources/svelte/rollup.config.js
  packages/sources/svelte/src/components/actions/VtmnDropdown/VtmnDropdown.svelte
  packages/sources/svelte/src/components/actions/VtmnDropdown/directives/clickOutsideOpenDropdown.js
  packages/sources/svelte/src/components/actions/VtmnDropdown/test/VtmnDropdown.spec.js
  packages/sources/svelte/src/components/actions/VtmnDropdown/test/VtmnDropdownWithSlots.svelte
  packages/sources/svelte/src/components/actions/VtmnDropdownItem/VtmnDropdownItem.svelte
  packages/sources/svelte/src/components/actions/VtmnDropdownItem/test/VtmnDropdownItem.spec.js
  packages/sources/svelte/src/components/actions/VtmnDropdownItem/test/VtmnDropdownItemWithSlots.svelte
  packages/sources/svelte/src/components/index.js
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1108 feat(@vtmn/vue): add `VtmnModal` component
  packages/showcases/vue/stories/components/overlays/VtmnModal/VtmnModal.stories.js
  packages/sources/vue/package.json
  packages/sources/vue/src/components/index.ts
  packages/sources/vue/src/components/overlays/VtmnModal/VtmnModal.vue
  packages/sources/vue/src/components/overlays/VtmnModal/index.ts
  packages/sources/vue/src/index.ts
  yarn.lock
Labels: enhancement 🚀, Vue 🟢, v0 ⛳️

#1119 feat(@vtmn/css): remove useless textInput line-height
  packages/sources/css/src/components/forms/text-input/src/index.css
Labels: enhancement 🚀, CSS 🎨, v0 ⛳️

#1109 feat(@vtmn/vue): add `VtmnQuantity` component
  packages/showcases/vue/stories/components/selection-controls/VtmnQuantity/VtmnQuantity.stories.js
  packages/sources/vue/package.json
  packages/sources/vue/src/components/index.ts
  packages/sources/vue/src/components/selection-controls/VtmnQuantity/VtmnQuantity.vue
  packages/sources/vue/src/components/selection-controls/VtmnQuantity/index.ts
  packages/sources/vue/src/index.ts
Labels: enhancement 🚀, Vue 🟢, v0 ⛳️

#1121 fix(@vtmn/svelte): rework `VtmnRating` component
  packages/showcases/core/csf/components/indicators/rating.csf.js
  packages/showcases/svelte/stories/components/indicators/VtmnRating/VtmnRating.stories.svelte
  packages/sources/svelte/src/components/indicators/VtmnRating/VtmnRating.svelte
  packages/sources/svelte/src/components/indicators/VtmnRating/test/VtmnRating.spec.js
  packages/sources/svelte/src/components/indicators/VtmnRating/test/VtmnRatingWithSlots.svelte
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1123 fix(@vtmn/svelte): prevent flickering `VtmnDivider`
  packages/sources/svelte/src/components/structure/VtmnDivider/VtmnDivider.svelte
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️

#1124 docs(@vtmn/svelte & @vtmn/react): skeleton component
  packages/showcases/svelte/stories/components/structure/VtmnSkeleton/VtmnSkeleton.stories.svelte
  packages/sources/react/src/components/structure/VtmnSkeleton/VtmnSkeleton.tsx
Labels: documentation 📝, React 🔵, Svelte 🟠

#1120 feat(@vtmn/react): add `VtmnRating` component
  packages/showcases/react/stories/components/indicators/VtmnRating/VtmnRating.stories.tsx
  packages/sources/react/src/components/indicators/VtmnRating/VtmnRating.tsx
  packages/sources/react/src/components/indicators/VtmnRating/index.ts
  packages/sources/react/src/components/indicators/VtmnRating/types.ts
  packages/sources/react/src/index.ts
Labels: enhancement 🚀, React 🔵, v0 ⛳️

#1125 feat(@vtmn/react): add `VtmnModal` component
  packages/showcases/react/stories/components/overlays/VtmnModal/VtmnModal.stories.tsx
  packages/sources/react/package.json
  packages/sources/react/src/components/overlays/VtmnModal/VtmnModal.tsx
  packages/sources/react/src/components/overlays/VtmnModal/index.ts
  packages/sources/react/src/index.ts
Labels: enhancement 🚀, React 🔵, v0 ⛳️

#1130 feat(@vtmn/css-breadcrumb): add a11y aria-current
  packages/showcases/css/stories/components/navigation/breadcrumb/examples/overview.html
  packages/sources/css/src/components/navigation/breadcrumb/src/index.css
Labels: enhancement 🚀, CSS 🎨, v0 ⛳️

#1131 fix(@vtmn/css): debug demo showcases
  packages/showcases/css/stories/components/overlays/alert/examples/demo.runscript.js
  packages/showcases/css/stories/components/overlays/modal/examples/demo.runscript.js
  packages/showcases/css/stories/components/overlays/snackbar/examples/demo.runscript.js
  packages/showcases/css/stories/components/overlays/toast/examples/demo.runscript.js
Labels: enhancement 🚀, CSS 🎨, v0 ⛳️

#1132 refactor(@vtmn/svelte): `VtmnModal` import style in head
  packages/sources/svelte/src/components/overlays/VtmnModal/VtmnModal.svelte
Labels: enhancement 🚀, Svelte 🟠, v0 ⛳️
