Repository Decathlon/vitamin-web, pull requests merged in 2023-03, with the labels that each got.

#1378 fix(@vtmn/svelte, @vtmn/react, @vtmn/vue): fix rounded value on `VtmnRating`
  packages/showcases/core/csf/components/indicators/rating.csf.js
  packages/sources/react/src/components/indicators/VtmnRating/VtmnRating.tsx
  packages/sources/react/src/components/indicators/VtmnRating/utils.ts
  packages/sources/react/src/utils/math.ts
  packages/sources/svelte/src/components/indicators/VtmnRating/VtmnRating.svelte
  packages/sources/svelte/src/components/indicators/VtmnRating/test/VtmnRating.spec.js
  packages/sources/svelte/src/components/indicators/VtmnRating/vtmnRating.util.js
  packages/sources/svelte/src/utils/math.js
  packages/sources/vue/src/components/indicators/VtmnRating/VtmnRating.vue
  packages/sources/vue/src/components/indicators/VtmnRating/utils.ts
  packages/sources/vue/src/utils/math.ts
Labels: bug 🐛, enhancement 🚀, React 🔵, Svelte 🟠, Vue 🟢

#1381 feat: update icons
  packages/sources/icons/src/generated/vitamix/font/vitamix.css
  packages/sources/icons/src/generated/vitamix/font/vitamix.html
  packages/sources/icons/src/generated/vitamix/font/vitamix.json
  packages/sources/icons/src/generated/vitamix/font/vitamix.ts
  packages/sources/icons/src/generated/vitamix/font/vitamix.ttf
  packages/sources/icons/src/generated/vitamix/font/vitamix.woff
  packages/sources/icons/src/generated/vitamix/font/vitamix.woff2
  packages/sources/icons/src/generated/vitamix/sprite/vitamix.svg
  packages/sources/icons/src/generated/vitamix/svg/loyalty-card-fill.svg
  packages/sources/icons/src/generated/vitamix/svg/loyalty-card-line.svg
Labels: enhancement 🚀, icons ✨, run 💨

#1383 feat(@vtmn/css): add position relative on `VtmnListItem`
  packages/sources/css/src/components/structure/list/src/index.css
Labels: enhancement 🚀, CSS 🎨

#1384 feat(@vtmn/css): add position relative on `VtmnListItem`
  packages/sources/css/src/components/structure/list/src/index.css
Labels: enhancement 🚀, CSS 🎨, run 💨

#1380 fix(@vtmn/react): add missing onChange event to `VtmnDropdown`
  packages/sources/react/src/components/actions/VtmnDropdown/VtmnDropdown.tsx
Labels: bug 🐛, React 🔵, run 💨

#1387 chore: replace deprecated mdx vscode extension
  .vscode/extensions.json
Labels: config 🛠, run 💨

#1388 refactor(vtmn/icons): reorder font src, woff2 in first position for performance
  packages/sources/icons/src/generated/vitamix/font/vitamix.css
Labels: config 🛠, icons ✨, run 💨

#1390 feat(@vtmn/react, @vtmn/svelte, @vtmn/vue): add new variants for `VtmnIcon` component
  .vscode/extensions.json
  packages/showcases/core/csf/guidelines/iconography.csf.js
  packages/sources/react/src/guidelines/iconography/VtmnIcon/VtmnIcon.tsx
  packages/sources/react/src/guidelines/iconography/VtmnIcon/types.ts
  packages/sources/react/src/guidelines/iconography/VtmnIcon/utils.ts
  packages/sources/svelte/src/guidelines/iconography/VtmnIcon/VtmnIcon.svelte
  packages/sources/svelte/src/guidelines/iconography/VtmnIcon/enums.js
  packages/sources/vue/src/guidelines/iconography/VtmnIcon/VtmnIcon.vue
  packages/sources/vue/src/guidelines/iconography/VtmnIcon/types.ts
  packages/sources/vue/src/guidelines/iconography/VtmnIcon/utils.ts
Labels: enhancement 🚀, icons ✨, run 💨

#1394 feat: update icons
  packages/sources/icons/src/generated/vitamix/font/vitamix.css
  packages/sources/icons/src/generated/vitamix/font/vitamix.html
  packages/sources/icons/src/generated/vitamix/font/vitamix.json
  packages/sources/icons/src/generated/vitamix/font/vitamix.ts
  packages/sources/icons/src/generated/vitamix/font/vitamix.ttf
  packages/sources/icons/src/generated/vitamix/font/vitamix.woff
  packages/sources/icons/src/generated/vitamix/font/vitamix.woff2
  packages/sources/icons/src/generated/vitamix/sprite/vitamix.svg
  packages/sources/icons/src/generated/vitamix/svg/accessibility-fill.svg
  packages/sources/icons/src/generated/vitamix/svg/accessibility-line.svg
  packages/sources/icons/src/generated/vitamix/svg/keyboard-fill.svg
  packages/sources/icons/src/generated/vitamix/svg/keyboard-line.svg
  packages/sources/icons/src/generated/vitamix/svg/wifi-off-fill.svg
  packages/sources/icons/src/generated/vitamix/svg/wifi-off-line.svg
  packages/sources/icons/src/generated/vitamix/svg/wifi-on-fill.svg
  packages/sources/icons/src/generated/vitamix/svg/wifi-on-line.svg
Labels: enhancement 🚀, icons ✨, run 💨

#1397 feat: bump packages to 1.x.x
  packages/sources/assets/package.json
  packages/sources/css/package.json
  packages/sources/css/presets/tailwind/package.json
  packages/sources/css/src/components/actions/button/package.json
  packages/sources/css/src/components/actions/dropdown/package.json
  packages/sources/css/src/components/actions/link/package.json
  packages/sources/css/src/components/forms/select/package.json
  packages/sources/css/src/components/forms/text-input/package.json
  packages/sources/css/src/components/indicators/badge/package.json
  packages/sources/css/src/components/indicators/loader/package.json
  packages/sources/css/src/components/indicators/price/package.json
  packages/sources/css/src/components/indicators/progressbar/package.json
  packages/sources/css/src/components/indicators/rating/package.json
  packages/sources/css/src/components/indicators/tag/package.json
  packages/sources/css/src/components/navigation/breadcrumb/package.json
  packages/sources/css/src/components/navigation/navbar/package.json
  packages/sources/css/src/components/navigation/search/package.json
  packages/sources/css/src/components/navigation/tabs/package.json
  packages/sources/css/src/components/overlays/alert/package.json
  packages/sources/css/src/components/overlays/modal/package.json
  packages/sources/css/src/components/overlays/popover/package.json
  packages/sources/css/src/components/overlays/snackbar/package.json
  packages/sources/css/src/components/overlays/toast/package.json
  packages/sources/css/src/components/overlays/tooltip/package.json
  packages/sources/css/src/components/selection-controls/checkbox/package.json
  packages/sources/css/src/components/selection-controls/chip/package.json
  packages/sources/css/src/components/selection-controls/quantity/package.json
  packages/sources/css/src/components/selection-controls/radio-button/package.json
  packages/sources/css/src/components/selection-controls/toggle/package.json
  packages/sources/css/src/components/structure/accordion/package.json
  packages/sources/css/src/components/structure/card/package.json
  packages/sources/css/src/components/structure/divider/package.json
  packages/sources/css/src/components/structure/list/package.json
  packages/sources/css/src/components/structure/skeleton/package.json
  packages/sources/css/src/design-tokens/package.json
  packages/sources/css/src/utilities/package.json
  packages/sources/icons/package.json
  packages/sources/react/package.json
  packages/sources/svelte/package.json
  packages/sources/vue/package.json
  yarn.lock
Labels: enhancement 🚀, React 🔵, CSS 🎨, config 🛠, Svelte 🟠, Vue 🟢, run 💨
