Repository Decathlon/vitamin-web, pull requests merged in 2023-01, with the labels that each got.

#1318 feat(@vtmn/react): keep the last focused VtmnTabsItem in a focus state
  packages/sources/react/src/components/navigation/VtmnTabs/VtmnTabsItem.tsx
Labels: enhancement 🚀, React 🔵

#1323 feat: new icons
  packages/sources/icons/src/vitamix/body-scan-fill.svg
  packages/sources/icons/src/vitamix/body-scan-line.svg
  packages/sources/icons/src/vitamix/car-fill.svg
  packages/sources/icons/src/vitamix/car-line.svg
  packages/sources/icons/src/vitamix/forbid-fill.svg
  packages/sources/icons/src/vitamix/forbid-line.svg
  packages/sources/icons/src/vitamix/kakao-talk-fill.svg
  packages/sources/icons/src/vitamix/kakao-talk-line-1.svg
  packages/sources/icons/src/vitamix/kakao-talk-line.svg
  packages/sources/icons/src/vitamix/line-fill.svg
  packages/sources/icons/src/vitamix/line-line-1.svg
  packages/sources/icons/src/vitamix/line-line.svg
  packages/sources/icons/src/vitamix/logout-fill.svg
  packages/sources/icons/src/vitamix/logout-line.svg
  packages/sources/icons/src/vitamix/run-fill.svg
  packages/sources/icons/src/vitamix/run-line.svg
  packages/sources/icons/src/vitamix/sparkles-fill.svg
  packages/sources/icons/src/vitamix/sparkles-line.svg
  packages/sources/icons/src/vitamix/tablet-fill.svg
  packages/sources/icons/src/vitamix/tablet-line.svg
  packages/sources/icons/src/vitamix/tiktok-fill.svg
  packages/sources/icons/src/vitamix/tiktok-line.svg
  packages/sources/icons/src/vitamix/truck-fill.svg
  packages/sources/icons/src/vitamix/truck-line.svg
  packages/sources/icons/src/vitamix/upload-line.svg
  packages/sources/icons/src/vitamix/volume-alert-fill.svg
  packages/sources/icons/src/vitamix/volume-alert-line.svg
  packages/sources/icons/src/vitamix/walk-fill.svg
  packages/sources/icons/src/vitamix/walk-line.svg
Labels: enhancement 🚀, icons ✨

#1327 build: add sideEffects false to allow treeshaking
  packages/sources/react/package.json
  packages/sources/svelte/package.json
  packages/sources/vue/package.json
Labels: React 🔵, config 🛠, Svelte 🟠, Vue 🟢, run 💨

#1321 feat(@vtmn/css): add href property on `VtmnListItem`
  packages/showcases/css/package.json
  packages/showcases/css/stories/components/structure/list/examples/small.html
  packages/showcases/react/stories/components/structure/VtmnList/VtmnList.stories.tsx
  packages/showcases/react/stories/components/structure/VtmnListItem/VtmnListItem.stories.tsx
  packages/showcases/svelte/package.json
  packages/showcases/svelte/stories/components/forms/VtmnTextInput/VtmnTextInput.stories.svelte
  packages/showcases/svelte/stories/components/structure/VtmnList/VtmnList.stories.svelte
  packages/showcases/svelte/stories/components/structure/VtmnListItem/VtmnListItem.stories.svelte
  packages/showcases/svelte/stories/guidelines/iconography/VtmnIcon/VtmnIcon.stories.svelte
  packages/showcases/vue/stories/components/structure/VtmnList/VtmnList.stories.js
  packages/sources/css/src/components/structure/list/src/index.css
  packages/sources/react/src/components/structure/VtmnList/VtmnList.tsx
  packages/sources/react/src/index.ts
  packages/sources/react/src/utils/link.ts
  packages/sources/react/tsconfig.json
  packages/sources/svelte/src/components/actions/VtmnLink/VtmnLink.svelte
  packages/sources/svelte/src/components/structure/VtmnListItem/VtmnListItem.svelte
  packages/sources/svelte/src/components/structure/VtmnListItem/test/VtmnListItem.spec.js
  packages/sources/svelte/src/utils/link.js
  packages/sources/svelte/src/utils/link.spec.js
  packages/sources/vue/src/components/structure/VtmnListItem/VtmnListItem.vue
  packages/sources/vue/src/utils/link.ts
  yarn.lock
Labels: enhancement 🚀, React 🔵, CSS 🎨, Svelte 🟠, Vue 🟢, run 💨

#1329 feat: add XSmall size on Price variant
  packages/showcases/core/csf/components/indicators/price.csf.js
  packages/showcases/css/stories/components/indicators/price/examples/overview.html
  packages/sources/css/src/components/indicators/price/src/index.css
  packages/sources/react/src/components/indicators/VtmnPrice/types.ts
  packages/sources/svelte/src/components/indicators/VtmnPrice/VtmnPrice.svelte
  packages/sources/svelte/src/components/indicators/VtmnPrice/enums.js
  packages/sources/vue/src/components/indicators/VtmnPrice/VtmnPrice.vue
  packages/sources/vue/src/components/indicators/VtmnPrice/types.ts
Labels: documentation 📝, enhancement 🚀, React 🔵, CSS 🎨, Svelte 🟠, Vue 🟢, run 💨

#1333 build(@vtmn/svelte): fix css build
  packages/sources/svelte/rollup.config.js
Labels: enhancement 🚀, Svelte 🟠, build 🏗

#1330 config: update CODEOWNERS
  .github/CODEOWNERS
Labels: config 🛠

#1334 fix(@vtmn/svelte): fix events accessibility `VtmnListItem`
  packages/showcases/svelte/stories/components/structure/VtmnList/VtmnList.stories.svelte
  packages/showcases/svelte/stories/components/structure/VtmnListItem/VtmnListItem.stories.svelte
  packages/sources/svelte/src/components/actions/VtmnButton/VtmnButton.svelte
  packages/sources/svelte/src/components/structure/VtmnListItem/VtmnListItem.svelte
  packages/sources/svelte/src/components/structure/VtmnListItem/test/VtmnListItem.spec.js
  packages/sources/svelte/src/components/structure/VtmnListItem/test/VtmnListItemWithSlots.svelte
  packages/sources/svelte/src/utils/keyCodes.js
Labels: bug 🐛, Svelte 🟠, run 💨

#1332 feat(@vtmn/svelte): add doc on style preprocessing
  packages/sources/svelte/README.md
Labels: documentation 📝, Svelte 🟠, run 💨

#1341 feat(@vtmn/css): improve `VtmnPrice` component by removing padding
  packages/sources/css/src/components/indicators/price/src/index.css
Labels: enhancement 🚀, Svelte 🟠

#1344 feat: use clsx library for className props
  packages/sources/react/src/components/overlays/VtmnTooltip/VtmnTooltip.tsx
Labels: enhancement 🚀, React 🔵

#1347 docs: fix github board url in contributing file
  CONTRIBUTING.md
Labels: documentation 📝, run 💨

#1343 feat(@vtmn/css): update price to allow no-padding
  packages/showcases/core/csf/components/indicators/price.csf.js
  packages/sources/css/src/components/indicators/price/src/index.css
  packages/sources/react/src/components/indicators/VtmnPrice/VtmnPrice.tsx
  packages/sources/svelte/src/components/indicators/VtmnPrice/VtmnPrice.svelte
  packages/sources/svelte/src/components/indicators/VtmnPrice/test/VtmnPrice.spec.js
  packages/sources/vue/src/components/indicators/VtmnPrice/VtmnPrice.vue
Labels: enhancement 🚀, CSS 🎨, run 💨

#1352 refactor(@vtmn/assets): delete sprite consumption mode
  packages/sources/assets/README.md
  packages/sources/assets/package.json
  packages/sources/assets/sprite.svg
  packages/sources/assets/src/scripts/add-sprite-declaration.js
Labels: bug 🐛, assets 🏞, run 💨
