Repository Decathlon/vitamin-web, pull requests merged in 2023-06, with the labels that each got.

#1425 feat(`@vtmn/css`, `@vtmn/svelte`, `@vtmn/react`, `@vtmn/vue`): rework `VtmnNavbarLink` for SSR
  packages/showcases/core/csf/components/navigation/navbar-link.csf.js
  packages/showcases/core/csf/components/navigation/navbar.csf.js
  packages/showcases/css/stories/components/navigation/navbar/examples/overview.html
  packages/showcases/react/.storybook/preview-head.html
  packages/showcases/react/stories/components/navigation/VtmnNavbar/VtmnNavbar.stories.tsx
  packages/showcases/react/stories/components/navigation/VtmnNavbarLink/VtmnNavbarLink.stories.tsx
  packages/showcases/svelte/.storybook/preview-head.html
  packages/showcases/svelte/stories/components/navigation/VtmnNavbar/VtmnNavbar.stories.svelte
  packages/showcases/svelte/stories/components/navigation/VtmnNavbarLink/VtmnNavbarLink.stories.svelte
  packages/showcases/vue/.storybook/preview-head.html
  packages/showcases/vue/stories/components/navigation/VtmnNavbar/VtmnNavbar.stories.js
  packages/showcases/vue/stories/components/navigation/VtmnNavbarLink/VtmnNavbarLink.stories.js
  packages/sources/css/src/components/navigation/navbar/src/index.css
  packages/sources/react/src/components/navigation/VtmnNavbar/VtmnNavbar.tsx
  packages/sources/react/src/components/navigation/VtmnNavbarLink/VtmnNavbarLink.tsx
  packages/sources/svelte/src/components/navigation/VtmnNavbar/VtmnNavbar.svelte
  packages/sources/svelte/src/components/navigation/VtmnNavbarLink/VtmnNavbarLink.svelte
  packages/sources/svelte/src/components/navigation/VtmnNavbarLink/test/VtmnNavbarLink.spec.js
  packages/sources/svelte/src/components/navigation/VtmnNavbarLink/test/VtmnNavbarLinkWithSlot.svelte
  packages/sources/vue/src/components/navigation/VtmnNavbar/VtmnNavbar.vue
  packages/sources/vue/src/components/navigation/VtmnNavbarLink/VtmnNavbarLink.vue
Labels: enhancement 🚀, React 🔵, CSS 🎨, Svelte 🟠, Vue 🟢, community 👥

#1435 Revert "feat(`@vtmn/css`, `@vtmn/svelte`, `@vtmn/react`, `@vtmn/vue`)…
  packages/showcases/core/csf/components/navigation/navbar-link.csf.js
  packages/showcases/core/csf/components/navigation/navbar.csf.js
  packages/showcases/css/stories/components/navigation/navbar/examples/overview.html
  packages/showcases/react/.storybook/preview-head.html
  packages/showcases/react/stories/components/navigation/VtmnNavbar/VtmnNavbar.stories.tsx
  packages/showcases/react/stories/components/navigation/VtmnNavbarLink/VtmnNavbarLink.stories.tsx
  packages/showcases/svelte/.storybook/preview-head.html
  packages/showcases/svelte/stories/components/navigation/VtmnNavbar/VtmnNavbar.stories.svelte
  packages/showcases/svelte/stories/components/navigation/VtmnNavbarLink/VtmnNavbarLink.stories.svelte
  packages/showcases/vue/.storybook/preview-head.html
  packages/showcases/vue/stories/components/navigation/VtmnNavbar/VtmnNavbar.stories.js
  packages/showcases/vue/stories/components/navigation/VtmnNavbarLink/VtmnNavbarLink.stories.js
  packages/sources/css/src/components/navigation/navbar/src/index.css
  packages/sources/react/src/components/navigation/VtmnNavbar/VtmnNavbar.tsx
  packages/sources/react/src/components/navigation/VtmnNavbarLink/VtmnNavbarLink.tsx
  packages/sources/svelte/src/components/navigation/VtmnNavbar/VtmnNavbar.svelte
  packages/sources/svelte/src/components/navigation/VtmnNavbarLink/VtmnNavbarLink.svelte
  packages/sources/svelte/src/components/navigation/VtmnNavbarLink/test/VtmnNavbarLink.spec.js
  packages/sources/svelte/src/components/navigation/VtmnNavbarLink/test/VtmnNavbarLinkWithSlot.svelte
  packages/sources/vue/src/components/navigation/VtmnNavbar/VtmnNavbar.vue
  packages/sources/vue/src/components/navigation/VtmnNavbarLink/VtmnNavbarLink.vue
Labels: bug 🐛, breaking 💥

#1433 feat(`@vtmn/svelte`): add focus event support for Svelte version of `VtmnTextInput`
  packages/sources/svelte/src/components/forms/VtmnTextInput/VtmnTextInput.svelte
  packages/sources/svelte/src/components/forms/VtmnTextInput/test/VtmnTextInput.spec.js
Labels: enhancement 🚀, Svelte 🟠

#1441 feat(`@vtmn/react`, `@vtmn/vue`, `@vtmn/svelte`): add summaryComponent on `VtmnAccordion`
  packages/showcases/react/stories/components/structure/VtmnAccordion/VtmnAccordion.stories.tsx
  packages/showcases/svelte/stories/components/structure/VtmnAccordion/VtmnAccordion.stories.svelte
  packages/showcases/vue/stories/components/structure/VtmnAccordion/VtmnAccordion.stories.js
  packages/sources/react/src/components/structure/VtmnAccordion/VtmnAccordion.tsx
  packages/sources/svelte/src/components/structure/VtmnAccordion/VtmnAccordion.svelte
  packages/sources/svelte/src/components/structure/VtmnAccordion/test/VtmnAccordion.spec.js
  packages/sources/svelte/src/components/structure/VtmnAccordion/test/VtmnAccordionWithSummarySlots.svelte
  packages/sources/vue/src/components/structure/VtmnAccordion/VtmnAccordion.vue
Labels: enhancement 🚀, React 🔵, CSS 🎨, Svelte 🟠, Vue 🟢

#1443 fix(@vtmn/css): the thumb of the Toggle component doesn't have the right color in dark mode
  packages/sources/css/src/components/selection-controls/toggle/src/index.css
Labels: bug 🐛, CSS 🎨, community 👥

#1442 docs: replace typeface to FontSource and enhance web performance tips
  packages/sources/css/README.md
  packages/sources/css/presets/tailwind/README.md
  packages/sources/css/src/components/actions/button/README.md
  packages/sources/css/src/components/actions/dropdown/README.md
  packages/sources/css/src/components/actions/link/README.md
  packages/sources/css/src/components/forms/select/README.md
  packages/sources/css/src/components/forms/text-input/README.md
  packages/sources/css/src/components/indicators/badge/README.md
  packages/sources/css/src/components/indicators/loader/README.md
  packages/sources/css/src/components/indicators/price/README.md
  packages/sources/css/src/components/indicators/progressbar/README.md
  packages/sources/css/src/components/indicators/rating/README.md
  packages/sources/css/src/components/indicators/tag/README.md
  packages/sources/css/src/components/navigation/breadcrumb/README.md
  packages/sources/css/src/components/navigation/navbar/README.md
  packages/sources/css/src/components/navigation/search/README.md
  packages/sources/css/src/components/navigation/tabs/README.md
  packages/sources/css/src/components/overlays/alert/README.md
  packages/sources/css/src/components/overlays/modal/README.md
  packages/sources/css/src/components/overlays/popover/README.md
  packages/sources/css/src/components/overlays/snackbar/README.md
  packages/sources/css/src/components/overlays/toast/README.md
  packages/sources/css/src/components/overlays/tooltip/README.md
  packages/sources/css/src/components/selection-controls/checkbox/README.md
  packages/sources/css/src/components/selection-controls/chip/README.md
  packages/sources/css/src/components/selection-controls/quantity/README.md
  packages/sources/css/src/components/selection-controls/radio-button/README.md
  packages/sources/css/src/components/selection-controls/toggle/README.md
  packages/sources/css/src/components/structure/accordion/README.md
  packages/sources/css/src/components/structure/card/README.md
  packages/sources/css/src/components/structure/divider/README.md
  packages/sources/css/src/components/structure/list/README.md
  packages/sources/css/src/components/structure/skeleton/README.md
  packages/sources/css/src/design-tokens/README.md
  packages/sources/css/src/utilities/README.md
  packages/sources/react/README.md
  packages/sources/svelte/README.md
  packages/sources/vue/README.md
Labels: documentation 📝, React 🔵, CSS 🎨, Svelte 🟠, Vue 🟢, community 👥
