Repository Decathlon/vitamin-web, pull requests merged in 2023-02, with the labels that each got.

#1363 chore(bot): configure stale bot to ignore label "next"
  .github/stale.yml
Labels: config 🛠, run 💨

#1362 build(@vtmn/react): remove sourcemap and improve treeshaking
  packages/sources/react/package.json
  packages/sources/react/rollup.config.js
  packages/sources/react/tsconfig.cjs.json
  packages/sources/react/tsconfig.es.json
  packages/sources/react/tsconfig.json
  packages/sources/svelte/package.json
  packages/sources/vue/package.json
Labels: bug 🐛, React 🔵, run 💨

#1364 feat: make extensible `Quantity` component
  packages/showcases/core/csf/components/selection-controls/quantity.csf.js
  packages/showcases/css/stories/components/selection-controls/quantity/examples/overview.html
  packages/sources/css/src/components/selection-controls/quantity/src/index.css
  packages/sources/react/src/components/selection-controls/VtmnQuantity/VtmnQuantity.tsx
  packages/sources/svelte/src/components/selection-controls/VtmnQuantity/VtmnQuantity.svelte
  packages/sources/vue/src/components/selection-controls/VtmnQuantity/VtmnQuantity.vue
Labels: enhancement 🚀, React 🔵, CSS 🎨, Svelte 🟠, Vue 🟢, run 💨

#1366 fix(@vtmn/css-card): align padding between variants
  packages/sources/css/src/components/structure/card/src/index.css
Labels: enhancement 🚀, CSS 🎨, run 💨

#1368 feat: add small size for `Quantity` component
  packages/showcases/core/csf/components/selection-controls/quantity.csf.js
  packages/showcases/css/stories/components/selection-controls/quantity/examples/medium.html
  packages/showcases/css/stories/components/selection-controls/quantity/examples/small.html
  packages/showcases/css/stories/components/selection-controls/quantity/quantity.stories.js
  packages/sources/css/src/components/selection-controls/quantity/src/index.css
  packages/sources/react/src/components/selection-controls/VtmnQuantity/VtmnQuantity.tsx
  packages/sources/react/src/components/selection-controls/VtmnQuantity/types.ts
  packages/sources/svelte/src/components/selection-controls/VtmnQuantity/VtmnQuantity.svelte
  packages/sources/vue/src/components/selection-controls/VtmnQuantity/VtmnQuantity.vue
  packages/sources/vue/src/components/selection-controls/VtmnQuantity/types.ts
Labels: enhancement 🚀, React 🔵, CSS 🎨, Svelte 🟠, Vue 🟢, run 💨

#1365 feat: add a new prop for `Select` component for border
  packages/showcases/core/csf/components/forms/select.csf.js
  packages/showcases/css/stories/components/forms/select/examples/no-border.html
  packages/showcases/css/stories/components/forms/select/select.stories.js
  packages/sources/css/src/components/forms/select/src/index.css
  packages/sources/react/src/components/forms/VtmnSelect/VtmnSelect.tsx
  packages/sources/svelte/src/components/forms/VtmnSelect/VtmnSelect.svelte
  packages/sources/vue/src/components/forms/VtmnSelect/VtmnSelect.vue
Labels: enhancement 🚀, React 🔵, CSS 🎨, Svelte 🟠, Vue 🟢, run 💨

#1369 feat: add a prop to hide search button in `Search` component
  packages/showcases/core/csf/components/navigation/search.csf.js
  packages/showcases/css/stories/components/navigation/search/examples/default.html
  packages/showcases/css/stories/components/navigation/search/examples/on-content.html
  packages/showcases/css/stories/components/navigation/search/examples/overview.html
  packages/showcases/css/stories/components/navigation/search/examples/persistent.html
  packages/sources/react/src/components/navigation/VtmnSearch/VtmnSearch.tsx
  packages/sources/svelte/src/components/navigation/VtmnSearch/VtmnSearch.svelte
  packages/sources/vue/src/components/navigation/VtmnSearch/VtmnSearch.vue
Labels: enhancement 🚀, React 🔵, CSS 🎨, Svelte 🟠, Vue 🟢, run 💨

#1371 fix(@vtmn/css-quantity): full-width
  packages/sources/css/src/components/selection-controls/quantity/src/index.css
Labels: bug 🐛, React 🔵, CSS 🎨, Svelte 🟠, Vue 🟢, run 💨

#1372 feat: add navbar link on `VtmnNavbar` component
  packages/showcases/core/csf/components/navigation/navbar-link.csf.js
  packages/showcases/css/stories/components/navigation/navbar/examples/overview.html
  packages/showcases/react/stories/components/navigation/VtmnNavbarLink/VtmnNavbarLink.stories.tsx
  packages/showcases/svelte/stories/components/navigation/VtmnNavbar/VtmnNavbar.stories.svelte
  packages/showcases/svelte/stories/components/navigation/VtmnNavbarLink/VtmnNavbarLink.stories.svelte
  packages/showcases/vue/stories/components/navigation/VtmnNavbarLink/VtmnNavbarLink.stories.js
  packages/sources/css/src/components/navigation/navbar/src/index.css
  packages/sources/react/src/components/navigation/VtmnNavbarLink/VtmnNavbarLink.tsx
  packages/sources/react/src/components/navigation/VtmnNavbarLink/index.ts
  packages/sources/react/src/index.ts
  packages/sources/svelte/src/components/index.js
  packages/sources/svelte/src/components/indicators/VtmnProgressbar/VtmnProgressbarCircular.svelte
  packages/sources/svelte/src/components/indicators/VtmnProgressbar/VtmnProgressbarLinear.svelte
  packages/sources/svelte/src/components/navigation/VtmnNavbarLink/VtmnNavbarLink.svelte
  packages/sources/svelte/src/components/navigation/VtmnNavbarLink/test/VtmnNavbarLink.spec.js
  packages/sources/vue/src/components/index.ts
  packages/sources/vue/src/components/navigation/VtmnNavbar/VtmnNavbar.vue
  packages/sources/vue/src/components/navigation/VtmnNavbarLink/VtmnNavbarLink.vue
  packages/sources/vue/src/components/navigation/VtmnNavbarLink/index.ts
  packages/sources/vue/src/index.ts
Labels: enhancement 🚀, React 🔵, CSS 🎨, Svelte 🟠, Vue 🟢, run 💨

#1376 Fix doc: Taiwind => Tailwind
  packages/sources/css/presets/tailwind/README.md
Labels: documentation 📝, enhancement 🚀, run 💨
