Repository Decathlon/vitamin-web, pull requests merged in 2023-04, with the labels that each got.

#1406 docs(readme): change wrong package name reference
  packages/sources/css/presets/tailwind/README.md
Labels: documentation 📝, enhancement 🚀, run 💨

#1404 feat(@vtmn/svelte): manage height parameter of `VtmnSkeleton` component
  packages/showcases/core/csf/components/structure/skeleton.csf.js
  packages/showcases/svelte/stories/components/structure/VtmnSkeleton/VtmnSkeleton.stories.svelte
  packages/sources/svelte/src/components/structure/VtmnSkeleton/VtmnSkeleton.svelte
  packages/sources/svelte/src/components/structure/VtmnSkeleton/enums.js
  packages/sources/svelte/src/components/structure/VtmnSkeleton/test/vtmnSkeleton.spec.js
  packages/sources/svelte/src/utils/style.js
Labels: enhancement 🚀, help wanted ✋, Svelte 🟠, run 💨, community 👥

#1408 feat(@vtmn/react, @vtmn/vue): manage height parameter of `VtmnSkeleton` component
  packages/showcases/core/csf/components/structure/skeleton.csf.js
  packages/sources/react/src/components/structure/VtmnSkeleton/VtmnSkeleton.tsx
  packages/sources/vue/src/components/structure/VtmnSkeleton/VtmnSkeleton.vue
Labels: enhancement 🚀, React 🔵, Vue 🟢, run 💨

#1414 fix(@vtmn/react): support style prop for `VtmnDropdown` component
  packages/sources/react/src/components/actions/VtmnDropdown/VtmnDropdown.tsx
Labels: bug 🐛, React 🔵, community 👥

#1415 chore: upgrade internal dependencies
  packages/sources/css/package.json
  packages/sources/css/presets/tailwind/package.json
  packages/sources/css/src/components/actions/button/package.json
  packages/sources/css/src/components/actions/dropdown/package.json
  packages/sources/css/src/components/actions/link/package.json
  packages/sources/css/src/components/forms/select/package.json
  packages/sources/css/src/components/forms/text-input/package.json
  packages/sources/css/src/components/indicators/badge/package.json
  packages/sources/css/src/components/indicators/loader/package.json
  packages/sources/css/src/components/indicators/price/package.json
  packages/sources/css/src/components/indicators/progressbar/package.json
  packages/sources/css/src/components/indicators/rating/package.json
  packages/sources/css/src/components/indicators/tag/package.json
  packages/sources/css/src/components/navigation/breadcrumb/package.json
  packages/sources/css/src/components/navigation/navbar/package.json
  packages/sources/css/src/components/navigation/search/package.json
  packages/sources/css/src/components/navigation/tabs/package.json
  packages/sources/css/src/components/overlays/alert/package.json
  packages/sources/css/src/components/overlays/modal/package.json
  packages/sources/css/src/components/overlays/popover/package.json
  packages/sources/css/src/components/overlays/snackbar/package.json
  packages/sources/css/src/components/overlays/toast/package.json
  packages/sources/css/src/components/overlays/tooltip/package.json
  packages/sources/css/src/components/selection-controls/checkbox/package.json
  packages/sources/css/src/components/selection-controls/chip/package.json
  packages/sources/css/src/components/selection-controls/quantity/package.json
  packages/sources/css/src/components/selection-controls/radio-button/package.json
  packages/sources/css/src/components/selection-controls/toggle/package.json
  packages/sources/css/src/components/structure/accordion/package.json
  packages/sources/css/src/components/structure/card/package.json
  packages/sources/css/src/components/structure/divider/package.json
  packages/sources/css/src/components/structure/list/package.json
  packages/sources/css/src/components/structure/skeleton/package.json
  packages/sources/css/src/utilities/package.json
  packages/sources/react/package.json
  packages/sources/svelte/package.json
  packages/sources/vue/package.json
  yarn.lock
Labels: React 🔵, CSS 🎨, dependencies, Svelte 🟠, Vue 🟢, icons ✨, assets 🏞

#1416 feat(@vtmn/svelte, @vtmn/vue, @vtmn/react): possibility to add a `VtmnBadge` on the `VtmnNavbarLink`
  packages/showcases/css/stories/components/navigation/navbar/examples/overview.html
  packages/showcases/react/stories/components/navigation/VtmnNavbarLink/VtmnNavbarLink.stories.tsx
  packages/showcases/svelte/stories/components/navigation/VtmnNavbar/VtmnNavbar.stories.svelte
  packages/showcases/svelte/stories/components/navigation/VtmnNavbarLink/VtmnNavbarLink.stories.svelte
  packages/showcases/vue/stories/components/navigation/VtmnNavbarLink/VtmnNavbarLink.stories.js
  packages/sources/css/src/components/navigation/navbar/src/index.css
  packages/sources/react/src/components/navigation/VtmnNavbarLink/VtmnNavbarLink.tsx
  packages/sources/svelte/src/components/navigation/VtmnNavbarLink/VtmnNavbarLink.svelte
  packages/sources/vue/src/components/navigation/VtmnNavbarLink/VtmnNavbarLink.vue
Labels: enhancement 🚀, React 🔵, Svelte 🟠, Vue 🟢, community 👥

#1419 fix(@vtmn/icons): generation of sprite symbols' viewBoxes from `0 0 16 16` to `0 0 24 24`
  packages/sources/icons/src/generated/vitamix/sprite/vitamix.svg
Labels: enhancement 🚀, icons ✨, run 💨

#1420 feat: update assets
  packages/sources/assets/src/generated/assets/svg/all/colissimo.svg
  packages/sources/assets/src/generated/assets/svg/all/flag-mo.svg
  packages/sources/assets/src/generated/assets/svg/all/flag-ne.svg
  packages/sources/assets/src/generated/assets/svg/all/flag-tz.svg
  packages/sources/assets/src/generated/assets/svg/all/mondial-relay.svg
  packages/sources/assets/src/generated/assets/svg/flags/flag-mo.svg
  packages/sources/assets/src/generated/assets/svg/flags/flag-ne.svg
  packages/sources/assets/src/generated/assets/svg/flags/flag-tz.svg
  packages/sources/assets/src/generated/assets/svg/shipping/colissimo.svg
  packages/sources/assets/src/generated/assets/svg/shipping/mondial-relay.svg
Labels: enhancement 🚀, assets 🏞, run 💨

#1421 chore: delete useless label in GitHub Actions
  .github/workflows/build-pr.yml
Labels: config 🛠, icons ✨, assets 🏞

#1423 fix(@vtmn/svelte, @vtmn/react, @vtmn/vue): `VtmnNavbarLink` force rel noopener noreferrer if target blank
  packages/sources/react/src/components/actions/VtmnLink/VtmnLink.tsx
  packages/sources/react/src/components/navigation/VtmnNavbarLink/VtmnNavbarLink.tsx
  packages/sources/svelte/src/components/actions/VtmnLink/VtmnLink.svelte
  packages/sources/svelte/src/components/actions/VtmnLink/test/VtmnLink.spec.js
  packages/sources/svelte/src/components/navigation/VtmnNavbarLink/VtmnNavbarLink.svelte
  packages/sources/vue/src/components/actions/VtmnLink/VtmnLink.vue
  packages/sources/vue/src/components/navigation/VtmnNavbarLink/VtmnNavbarLink.vue
Labels: bug 🐛, enhancement 🚀, Svelte 🟠, Vue 🟢, community 👥
